{% load staticfiles %}
{% load static from staticfiles %}

<!-- Inline styles - only because this is an ALPHA phase project -->
<style>
  .hidden{
    display: none;
  }

  .c-collection__header-intro{
    border-bottom: 5px solid #000;
    display: block;
  }

  .c-collection__header-row:not(first-child){
    border-bottom: none;
  }

  .c-collection__header-row:last-child{
    border-bottom: 1px solid #ccc;
  }

  .dit-create-barrier-filter-button{
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    border-width: 1px 0;
    cursor: s-resize;
    display: block;
    padding: 5px 30px 5px 0;
    position: relative;
    text-align: left;
    width: 100%;
  }

  .dit-create-barrier-filter-button[aria-expanded="true"]{
    cursor: n-resize;
  }

  .js-disabled .dit-create-barrier-filter-button,
  .lte-ie8 .dit-create-barrier-filter-button{
    cursor: default;
  }

  .js-dit-toggle__icon{
    position: absolute;
    right: 50px;
    top: 10px;
    transform: rotate(180deg);
  }

  [aria-expanded="true"] .js-dit-toggle__icon{
    transform: none;
  }

  .js-disabled .js-dit-toggle__icon{
    display: none;
  }

  .dit-create-barrier-filter-form{
    background-color: #f7f7f7;
    margin-top: 0 !important;
    padding: 20px 44px 20px 20px;
  }

  .dit-create-barrier-filter-form .c-form-control,
  .dit-create-barrier-filter-form .c-form-control--light{
    background-color: #fff;
  }

  @media (min-width: 768px){
    @supports(display: grid){
      .dit-create-barrier-filter-form__fields{
        display: grid;
        grid-template-columns: 230px 1fr 1fr;
        grid-column-gap: 20px;
      }
    }
  }

  .js-companys-involved-wrapper{
    position: relative;
  }

  .js-dit-add-company,
  .js-dit-remove-company{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    color: #005EA4;
    cursor: pointer;
    font-size: 100%;
    padding: 10px 5px;
  }

  .js-dit-add-company:hover,
  .js-dit-remove-company:hover{
    color: #2b8cc4;
  }

  .js-dit-add-company{
    text-align: left;
    text-decoration: underline;
  }

  .js-dit-remove-company{
    height: 44px;
    position: absolute;
    right: -44px;
    top: 25px;
    width: 44px;
  }

  .js-disabled .js-dit-add-company{
    display: none;
  }

</style>

<div class="c-collection__header-row">
  {% comment %}
  To show/hide the filter form on page load set data-onload-toggle-state="shown"
  on the <button> to show it or data-onload-toggle-state="hidden" to hide it
  e.g. if we have just done a search then we want the form to be visible on load
  {% endcomment %}
  <button type="button" class="js-dit-toggle dit-create-barrier-filter-button" aria-controls="create-barrier-filter-form" aria-expanded="true" data-onload-toggle-state="{{ state }}">
    <span class="heading-medium">Filters</span>
    <span class="js-dit-toggle__icon"><img src="{% static 'images/down-arrow.svg' %}" alt=""></span>
  </button>
  <form action="{% url 'report-create-barrier-filtered' %}" method="get" style="" class="dit-create-barrier-filter-form" aria-hidden="false" id="create-barrier-filter-form" novalidate="true">

      <p>You don’t have to complete all fields, but enter as much detail as possible to improve your filter results:</p>

      <div class="dit-create-barrier-filter-form__fields">
      <div>
        {# Barrier record name #}
        <div class="c-form-group c-form-group--light" id="barrier-record-name-wrapper">
            <label class="form-label-bold" for="barrier-record-name">
                Barrier record name
            </label>
            <input id="barrier-record-name" class="c-form-control c-form-control--light c-form-control--small" name="barrier_record_name" value="" type="text">
        </div>

        {# Sector #}
        <div class="c-form-group c-form-group--light" id="sector-wrapper">
            <label class="form-label-bold" for="sector">
                Sector
            </label>
            <select id="sector" class="c-form-control  c-form-control--light c-form-control--small" name="sector">
              <option></option>
              <option value="1">Choose</option>
            </select>
        </div>

        {# Country #}
        <div class="c-form-group c-form-group--light" id="country-wrapper">
            <label class="form-label-bold" for="country">
                Country
            </label>
            {# <input id="country" class="c-form-control  c-form-control--light c-form-control--small" name="country" value="" type="text"> #}
            <select id="country" class="c-form-control  c-form-control--light c-form-control--small" name="country">
              <option value=""></option>
              {% include 'components/countries-simple.html' %}
            </select>
        </div>

        {# Date reported - start #}
        <div class="c-form-group c-form-group--light">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Date reported (start)
              </span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="date-reported-start-day">Day</label>
                <input class="c-form-control c-form-control--light" id="date-reported-start-day" name="date-reported-start-day" pattern="[0-9]*" min="0" max="31" type="number">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="date-reported-start-month">Month</label>
                <input class="c-form-control c-form-control--light" id="date-reported-start-month" name="date-reported-start-month" pattern="[0-9]*" min="0" max="12" type="number">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="date-reported-start-year">Year</label>
                <input class="c-form-control c-form-control--light" id="date-reported-start-year" name="dob-year" pattern="[0-9]*" min="0" max="2016" type="number">
              </div>
            </div>
          </fieldset>
        </div>

        {# Date reported - start #}
        <div class="c-form-group c-form-group--light">
          <fieldset>
            <legend>
              <span class="form-label-bold">
                Date reported (end)
              </span>
            </legend>
            <div class="form-date">
              <div class="form-group form-group-day">
                <label class="form-label" for="date-reported-end-day">Day</label>
                <input class="c-form-control c-form-control--light" id="date-reported-end-day" name="date-reported-end-day" pattern="[0-9]*" min="0" max="31" type="number">
              </div>
              <div class="form-group form-group-month">
                <label class="form-label" for="date-reported-end-month">Month</label>
                <input class="c-form-control c-form-control--light" id="date-reported-end-month" name="date-reported-end-month" pattern="[0-9]*" min="0" max="12" type="number">
              </div>
              <div class="form-group form-group-year">
                <label class="form-label" for="date-reported-end-year">Year</label>
                <input class="c-form-control c-form-control--light" id="date-reported-end-year" name="dob-year" pattern="[0-9]*" min="0" max="2016" type="number">
              </div>
            </div>
          </fieldset>
        </div>

      </div>

      <div>

        {# Lead facilitator #}
        <div class="c-form-group c-form-group--light" id="lead-facilitator-wrapper">
            <label class="form-label-bold" for="lead-facilitator">
                Lead facilitator
            </label>
            <input id="lead-facilitator" class="c-form-control  c-form-control--light c-form-control--small" name="lead_facilitator" value="" type="text">
        </div>

        {# Product #}
        <div class="c-form-group c-form-group--light" id="product-wrapper">
            <label class="form-label-bold" for="product">
                Product
            </label>
            <input id="product" class="c-form-control c-form-control--light c-form-control--small" name="product" type="text" value="">
        </div>

        {# HMG barrier type #}
        <div class="c-form-group c-form-group--light" id="barrier-wrapper">
            <label class="form-label-bold" for="id_barrier_type">
              HMG barrier type
            </label>
            {{ form.barrier_type }}
        </div>

        {# HMG sub barrier type #}
        <div class="c-form-group c-form-group--light u-hidden" id="group-field-sub-barrier-type" aria-hidden="true">
            <label class="form-label-bold" for="field-sub-barrier-type">
              HMG sub barrier type
            </label>
            <select name="sub_barrier_type" id="field-sub-barrier-type" class="c-form-control"></select>
        </div>
      </div>

      <div>

        {# Company(s) involved #}
        <div class="js-companys-involved-wrapper c-form-group c-form-group--light" id="companys-involved-wrapper">
            <label class="form-label-bold" for="companys-involved">
                Companies involved
            </label>
            <input id="companys-involved" class="c-form-control  c-form-control--light c-form-control--small" name="companys_involved[]" value="" type="text">
            <button type="button" class="js-dit-add-company" aria-hidden="false">Add company</button>
        </div>

      </div>



      {# Submit / actions #}
      <div class="c-form-actions">
        <button class="button" type="submit">Search</button>
        <a href="{% url 'report-home-decision-made' %}">Back</a>
      </div>

      <script id="js-dit-add-company-template" type="template/html">
        <div class="js-companys-involved-wrapper c-form-group c-form-group--light">
          <label class="form-label-bold" for="companys-involved">
              Companies involved
          </label>
          <input id="companys-involved" class="c-form-control c-form-control--light c-form-control--small" name="companys_involved[]" value="" type="text">
          <button type="button" class="js-dit-remove-company" aria-label="Remove company">x</button>
          <button type="button" class="js-dit-add-company" aria-hidden="false">Add company</button>
        </div>
      </script>

    </div>

  </form>
</div>

<script>
  // Toggle the filter form
  var button = document.querySelector('.js-dit-toggle');
  var content = document.querySelector('#' + button.getAttribute('aria-controls'));
  var toggleState = button.getAttribute('data-onload-toggle-state');

  // Hide the form
  function hideFilterForm(){
    button.setAttribute('aria-expanded', 'false');
    content.setAttribute('aria-hidden', 'true');
    content.classList.add('hidden');
  }

  // Show the form
  function showFilterForm(){
    button.setAttribute('aria-expanded', 'true');
    content.setAttribute('aria-hidden', 'false');
    content.classList.remove('hidden');
  }

  // Show/Hide then set the state
  function toggleFilterForm(){
    if(toggleState === 'shown'){
      hideFilterForm();
      toggleState = 'hidden';
    } else{
      showFilterForm();
      toggleState = 'shown';
    }
  }

  // On load - should we hide it?
  if(toggleState === 'hidden'){
    hideFilterForm();
  }

  // Set event listener to toggle on click
  if(document.addEventListener){
    button.addEventListener('click', function(){
      toggleFilterForm();
    });
  }


  // Add new company
  var template = document.querySelector('#js-dit-add-company-template');
  var addButton;
  var removeButtons;

  // Add a company
  function addCompany(event){
    var button = event.target;
    var parent = button.parentNode;

    // Hide this add button (in a good a11y way) - we ight re-show it later
    // the put the new HTML in place
    button.setAttribute('aria-hidden', 'true');
    button.classList.add('hidden');
    parent.parentNode.innerHTML = parent.parentNode.innerHTML + template.innerHTML;

    // Put the event listeners back in because the DOM has changed
    addButtonListener();
    removeButtonListener();

  }

  // Remove a company
  function removeCompany(event){
    var button = event.target;
    var parent = button.parentNode;
    var newAddButton;
    var allFields = document.querySelectorAll('.js-companys-involved-wrapper');

    // If it was the last one that was removed then we need to show the add
    // button on the previous field
    if(allFields[allFields.length - 1] == parent){
      newAddButton = parent.previousElementSibling.querySelector('.js-dit-add-company');
      newAddButton.setAttribute('aria-hidden', 'false');
      newAddButton.classList.remove('hidden');
    }

    parent.parentNode.removeChild(parent);

    // Put the event listeners back in because the DOM has changed
    addButtonListener();
    removeButtonListener();

  }

  // Event listeners for adding a new company
  function addButtonListener(){
    addButton = document.querySelector('.js-dit-add-company:not([aria-hidden="true"])');

    if(addButton){
      addButton.removeEventListener('click', addCompany);
      addButton = document.querySelector('.js-dit-add-company:not([aria-hidden="true"])')
      addButton.addEventListener('click', addCompany);
    }
  }

  // Event listeners for removing a company
  function removeButtonListener(){

    removeButtons = document.querySelectorAll('.js-dit-remove-company');

    if(removeButtons && Array.prototype.forEach){
      removeButtons.forEach(function(button){
        button.removeEventListener('click', removeCompany);
        button.addEventListener('click', removeCompany);
      });
    }
  }

  // Listeners
  if(document.addEventListener){
    addButtonListener();
    removeButtonListener();
  }

</script>