<nav class="c-pagination " aria-label="pagination: total 436 pages">
    <ul class="c-pagination__list">
        <li class="c-pagination__list-item">
          <a href="javascript:void(0);" class="c-pagination__label{% if currentPage == '1' %} is-current{% endif %}">
            1
          </a>
        </li>
        <li class="c-pagination__list-item">
          <a href="javascript:void(0);" class="c-pagination__label{% if currentPage == '2' %} is-current{% endif %}">
            2
          </a>
        </li>
        <li class="c-pagination__list-item">
          <a href="javascript:void(0);" class="c-pagination__label{% if currentPage == '3' %} is-current{% endif %}">
            3
          </a>
        </li>
        <li class="c-pagination__list-item">
          <a href="javascript:void(0);" class="c-pagination__label{% if currentPage == '4' %} is-current{% endif %}">
            4
          </a>
        </li>
        <li class="c-pagination__list-item">
           <span class="c-pagination__label c-pagination__label--truncation">
            &hellip;
          </span>
        </li>
        <li class="c-pagination__list-item">
          <a href="javascript:void(0);" class="c-pagination__label">
            {{ totalPages }}
          </a>
        </li>
    </ul>
    <a href="?page=2&amp;sortby=modified_on%3Adesc" class="c-pagination__label c-pagination__label--next">Next</a>
</nav>