<h2 class="heading-medium">About the reporter</h2>

<table class="table--key-value table--striped">
    <tbody>
        <tr>
            <th>Company</th>
            <td><a href="javascript:void(0);">Fashion UK Ltd</a></td>
        </tr>
        <tr>
            <th>Contact</th>
            <td><a href="javascript:void(0);">Daniel Wise</a></td>
        </tr>
        <tr>
            <th>Type</th>
            <td>Private Ltd</td>
        </tr>
    </tbody>
</table>

<h2 class="heading-medium">About the problem</h2>

<table class="table--key-value table--striped">
    <tbody>
        <tr>
            <th>Product / service</th>
            <td><a href="javascript:void(0);">Make-up</a></td>
        </tr>
        <tr>
            <th>Commodity code</th>
            <td></td>
        </tr>
        <tr>
            <th>Country</th>
            <td>South Korea</td>
        </tr>
        <tr>
            <th>Brief description</th>
            <td>We have run into a few problems exporting our…</td>
        </tr>
    </tbody>
</table>

<div>
  <a href="javascript:void(0);" class="button-secondary">Review / comment</a>
</div>

<h2 class="heading-medium">Barrier type</h2>

<table class="table--key-value table--striped">
    <tbody>
        <tr>
            <th>Amended type:</th>
            <td>Burdensome customs procedure</td>
        </tr>
    </tbody>
</table>

<div>
  <a href="{% url 'report-barrier-type' %}" class="button">Confirm/change the HMG barrier type</a>
</div>

<h2 class="heading-medium">Requested action</h2>

<table class="table--key-value table--striped">
    <tbody>
        <tr>
            <th>Level of support requested</th>
            <td>Broader UK government engagement</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>Maybe, but only after consulting me</td>
        </tr>
    </tbody>
</table>

<div>
  <a href="javascript:void(0);" class="button-secondary">Review / comment</a>
</div>