{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Case study - {% trans "Trade Barrier Detail" %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <a href="{% url 'barriers-general-info' %}">Find out about Trade Barriers</a> <span aria-hidden="true">></span> <strong>Case study 3</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-two-third">
        <h1 class="h3">{% trans "Case Study: Burdensome customs procedures" %}</h1>
        <p class="h3">Company: Navigo System Ltd</p>
        <p><strong>Navigo’s GPS units sail through Japanese Customs</strong></p>

        <p>The UK Government worked with Navigo Ltd, of Leeds, to make sure £2m worth of its navigational
        GPS units cleared Japanese customs. Navigo’s products were incorrectly held up for apparently
        failing to meet the EU’s marking requirements. In fact, Navigo had used the correct process for
        meeting the requirements, which apply in Japan.</p>

        <p><strong>The problem:</strong> Navigo reported that Japanese customs had detained a shipment of its navigational
        GPS units in February 2017. Japanese customs claimed that the CE Mark Directive on Radio and
        Telecommunications Terminal Equipment (R&TTE) required that these products be tested and
        certified at a third party lab recognized by the European Union (EU). However, the R&TTE Directive
        allows for the units to be self-certified. Navigo asserted that it had used the correct European
        standards and had received a test result from an independent U.K lab to prove it.</p>

        <p><strong>How it was resolved:</strong> The UK Department of International Trade worked with Navigo to understand
        the problem. It was clear that Japanese customs had misinterpreted the marking rules. It is important
        that these are interpreted uniformly across all the European Union countries including Japan so
        companies can trade freely.</p>

        <p>The department worked closely with the Commercial Section of the UK Embassy in Japan.
        They explained to Japanese government officials that navigational GPS units which have been
        self-certified by an accredited independent laboratory do comply with the relevant EU standard.
        As a result, Japanese customs officials correctly assessed Navigo’s products and accepted its
        self-certification. </p>

        <p>Navigo reported in May that its most recent shipments to Japan had gone
        through customs smoothly and the company does not anticipate any trouble getting these
        products into Japan in the future.</p>

        {% include 'components/reporting-cta.html' %}

      </div>
    </div>
  </div>

  {% endblock %}
