{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}{% trans "Trade barrier detail" %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Earriers</a> <span aria-hidden="true">></span> <a href="{% url 'barriers-check-results' %}">{% trans "Existing trade barriers" %}</a> <span aria-hidden="true">></span> <strong>{% trans "Trade barrier detail" %}</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        <h1 class="h3">{% trans "Trade barrier detail" %}</h1>
      </div>
      <div class="column-two-third">
          <h2 id="barrier-title">{{ object.title }}</h2>
          <p>Barrier type: {% for type in object.barrier_types.all %}{{ type }}{% endfor %}</p>
          <p>Country: {{ object.country }}</p>
          <p>Distribution date: {{ object.distribution_date }}</p>
          <p>{{ object.description }}</p>
            {% if object.products_text %}
          <ul>
              <li>Products affected: {{ object.products_text }}</li>
          </ul>
            {% endif %}
          <p><a href="{% url 'barriers-check-results' %}" class="button button-white button-border">Back to search results</a></p>
      </div>
      <div class="column-one-third">
          <p><a href="{% url 'report-barrier-existing' pk=object.pk %}" class="button button-red" aria-labelledby="barrier-title">This barrier is affecting me</a></p>
      </div>
    </div>
  </div>

  {% endblock %}
