{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load mptt_tags %}
{% block css %}
<style>
  .dit-copy .h4{
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 30px;
  }

  .dit-copy p{
    font-style: italic;
  }
</style>
{% endblock %}
{% block head_title %}{% trans "Trade barrier detail" %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Find out about trade barriers</strong>
        </div>
    </div>
  </div>
    <div class="dit-hero" style="background-image: url({% static 'images/placeholder-hero.png' %});">
    <div class="outer-container">
      <div class="grid-container grid-container--inner">
        <div class="column-two-third dit-hero__copy">
          <h1 class="dit-hero__title">{% trans "Find out about trade barriers" %}</h1>
          <p class="dit-hero__summary">When you export goods or services to another country you are protected by rules. They might be the regulations set out by the World Trade Organisation, or by the terms of a free trade agreement with the UK. It's important to find out about the rules that operate in your target market before you start. There's loads of useful information in our <a href="javascript:void">export country profiles</a>.</p>
         <p class="dit-hero__summary">Most of the time, the rules work well but sometimes there can be problems. Trade barriers are often the result of misunderstandings, misinterpretations or mistakes. Sometimes exporters come up against instances of malpractice. Whatever the problem, teams from the Department for International Trade, the Foreign and Commonwealth Office and other departments stand ready to respond to UK exporters who report trade barriers.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-two-third">
        <div class="dit-copy">
          <h2 class="h3">If your problem is being caused by a trade barrier, it will probably fall into
  one of these categories:</h2>

            {% recursetree object_list %}
            <h3 class="h4"><a href="{% url 'barrier-type-detail' pk=node.pk %}">{{ node.barrier_code }})&nbsp;{{ node.name }}</a></h3>
            <p>
               {{ node.description }}
            </p>
            {% endrecursetree %}
        </div>

        {% include 'components/reporting-cta.html' %}

      </div>
    </div>
  </div>

  {% endblock %}
