{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block head_title %}Keep me updated{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <a href="/barriers/countries/Spain">Check Trade Barriers</a> <span aria-hidden="true">></span> <strong>Keep me updated</strong>
        </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-two-third">
        <h2 class="h3">Keep me updated</h2>
        <p>On this screen you will be able to subscribe to an email which will notify you of
new or updated entries on trade barriers that relate to your search.</p>
        <p><strong>However, this functionality is not yet live.</strong></p>
      </div>
  </div>

{% endblock %}
