{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}{% trans "Existing Trade Barriers in " %}{{country}}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>{% trans "Existing Trade Barriers in " %}{{country}}</strong>
        </div>
    </div>
  </div>

  {% include 'components/filters.html' %}

  <div class="outer-container" id="results">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        <h2 class="h3">Keep me updated</h2>
        <p>Tell me about changes to Trade Barriers which relate to my search</p>
        <p><a href="{% url 'barrier-subscribe' %}" class="button button-blue">Subscribe</a></p>


        <h2 class="h3">Results</h2>
        <p>Click on the ‘plus’ symbol for a brief description of the barrier or click on the name to read a full summary. <br>If you’re being affected by the barrier, or you’ve come across a similar barrier, report your experience to the UK government.</p>

        <p class="push--top">Click on 'Make a report' if you are affected by this barrier or a similar one and wish to report it.</p>

        <h3 class="h4 push--top"><strong>Barriers affecting UK exporters</strong></h3>
        <ul class="" data-module="Accordion">
            {% for object in object_list %}
            <li><p><a href="{% url 'barrier-detail-static' %}" aria-labelledby="accordion-button-{{ id }}">More detail</a></p></li>
            {% endfor %}
            {% for i in "xxxxx" %}
              {% include 'components/barrier-detail-accordion.html' with id=forloop.counter0 title="Lorem ipsum dolor sit amet" %}
            {% endfor %}
        </ul>
        <h3 class="h4" style="margin-top: 60px;"><strong>Barriers reported to WTO and EC</strong></h3>
        <ul class="">
            {% include 'components/barrier-detail.html' with id=123 %}
            {% include 'components/barrier-detail.html' with id=456 %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
