{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}{% trans "Existing trade barriers in " %}{{country}}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Check trade barriers</strong>
        </div>
    </div>
  </div>

  {% include 'components/filters.html' %}

  <div class="outer-container" id="results">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        {% include 'components/subscribe.html' %}
        <h2 class="h3">Results</h2>
        <p>Click on the 'plus' symbol for a brief description of the barrier or click on the name to read a full summary. <br>If you're being affected by the barrier, or you've come across a similar barrier, report your experience to the UK government.</p>

        <p class="push--top">Click on 'this barrier is affecting me' if you are affected by this barrier or a similar one and wish to report it.</p>

        <h3 class="h4 push--top"><strong>Barriers affecting UK exporters</strong></h3>
        <ul class="" data-module="Accordion">
          {% include 'components/barrier-detail-accordion.html' with id=1 title="Photo voltaic panels" country="United States" sector="Energy equipment" barrier="Burdensome customs procedures" summary="Consignments of photo voltaic panels from EU countries are being subject to particularly rigorous document inspection procedures at all ports of entry to the US. " %}
          {% include 'components/barrier-detail-accordion.html' with id=2 title="Wind propellers held up in Texas" country="United States" sector="Energy equipment" barrier="Unreasonable sanitary and phytosanitary measures" summary="The Wind Technology Consortium is reporting a number of attempts by officials in Houston and Austin to impose local regulations on consignments of wind propellers from the UK. They are claiming that propellers with a span of more than 30 metres pose unacceptable risks to local wildlife." %}
          {% include 'components/barrier-detail-accordion.html' with id=3 title="Heat pumps subject to punitive tariff" country="United States" sector="Energy equipment" barrier="Restrictive rules of origin" summary="British company Energise has reported that a batch of its heat pumps has been subject to an import tariff of 50% by officials in Salt Lake City, Utah. They are claiming that this is a legitimate interpretation of the recent Utah State regulation restricting green energy installations to locally based companies. " %}
        </ul>
        <h3 class="h4" style="margin-top: 60px;"><strong>Barriers reported to European Commission</strong></h3>
        <ul class="">
            {% include 'components/barrier-detail.html' with id=123 title="Cumbersome compulsory conformity assessment for electro technical products" country="United States" %}
            {% include 'components/barrier-detail.html' with id=456 title="Preference for national goods in public procurement" country="United States" %}
        </ul>
        <h3 class="h4" style="margin-top: 60px;"><strong>WTO Notifications</strong></h3>
        <p>The WTO manages a list of self-reported measures that can affect international trade.</p>
        <p><a href="javascript:void(0);">Browse notifications related to your search here</a></p>


        <div class="dit-reporting-cta" style="border-top: none;">
          <p class="h3 dit-reporting-cta__title">If you are experiencing a trade barrier that isn't listed here you can report it.</p>
          <p class="h3"><a href="{% url 'report-barrier' %}">Report a trade barrier</a></p>
          <p class="h3"><a href="{% url 'report-barrier-form' %}">Check trade barriers in your target market</a></p>
        </div>

      </div>
    </div>
  </div>
{% endblock %}
