{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}{% trans "Find out about trade barriers - Burdensome customs procedures" %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'barriers-general-info' %}">{% trans "Find out about trade barriers" %}</a> <span aria-hidden="true">></span> <strong>{% trans "Burdensome customs procedures" %}</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        <h1 class="h3" id="barrier-title">{% trans "Burdensome customs procedures" %}</h1>
      </div>
      <div class="column-two-third">
        <p>Customs procedures vary widely from country to country, sometimes even from port to port. Exporters can be caught out by recent changes. Local officials can make demands based on their own interpretation of the rules. Be prepared! Our advice to exporters worried about getting their products through customs are:</p>
        <ul class="list">
          <li class="list-item">Make sure you’re aware of the local customs requirements before you transport your products
          <li class="list-item">Develop contacts in the country in advance, particularly people who speak the local language
          <li class="list-item">Take advice from other companies who've exported successfully to the same destination
          <li class="list-item">Make sure you’ve got the right insurance and are tracking your products in real time</p>
        </ul>
        <p><strong>Watch this:</strong> How customs procedures can be used to obstruct trade, and the things exporters can do to find a way through.</p>
        <p>

          <img src="{% static 'images/placeholder-video.png' %}" alt="" title="A video will be here"></p>
          <p><a href="{% url 'barriers-case-study' %}" aria-labelledby="barrier-title">Case study 1: An example of customs issues in Latin America</a></p>
          <p><a href="{% url 'barriers-case-study-2' %}" aria-labelledby="barrier-title">Case study 2: An example of customs issues in Africa</a></p>
          <p><a href="{% url 'barriers-case-study-3' %}" aria-labelledby="barrier-title">Case study 3: An example of customs issues in the Far East</a></p>
          <p>The WTO sets out rules to ensure the fair, uniform and neutral valuation of goods for customs purposes. You can read them here.</p>
          <p>Learn about the wider opportunities and challenges of exporting in our <a href="javascript:void(0);">exporter's guidance</a>.</p>

          {% include 'components/reporting-cta.html' %}
      </div>
      <div class="column-one-third">
          <p><a href="{% url 'report-barrier' %}" class="button button-red" aria-labelledby="barrier-title">This barrier is affecting me</a></p>
          <p><strong>Why report the problem?</strong></p>
          <p>The government can be aware of a trade barrier without knowing how many companies it affects. The more we understand the scale of a trade barrier the more likely we are to be able to do something about it. </p>
      </div>
    </div>
  </div>

  {% endblock %}
