{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block head_title %}Request a fast track response{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Request a fast track response</strong>
        </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-one-half">
        <h2 class="h3">Example phone call text</h2>
        <p>If you call the fast track help number, you will hear the following message:</p>

        <p>We will only be able to process calls which can demonstrate clear evidence that there will be significant and imminent financial or other loss, with action needing to be taken within 48 hours. </p>

        <p>If your problem does not meet these criteria, please end this call and complete the <a href="{% url 'report-barrier' %}">online report a trade barrier form</a>. A relevant expert will respond to you within five days.</p>
        <p>Press 1 to stay on the line and report an emergency. Please have any supporting evidence to hand.</p>

        <p>Press 2 or hang up to end the call.</p>

        <p>Thank you.</p>

      </div>
    </div>
  </div>

{% endblock %}
