{% load static from staticfiles %}
{% load trans from i18n %}
{% load external_url from constants_tags %}<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en"><!--<![endif]-->
    <head>
        <meta id="utmCookieDomain" value="{{ analytics.UTM_COOKIE_DOMAIN }}" />
        {# include 'google_tag_manager_head.html' #}
        <meta charset="utf-8" />
        <title>{% block head_title %}Find a Buyer - GREAT.gov.uk{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'govuk-0.18.0/assets/images/favicon.ico' %}" type="image/x-icon" />
        <link rel="mask-icon" href="{% static 'govuk-0.18.0/assets/images/gov.uk_logotype_crown.svg' %}" color="#0b0c0c">
        <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-120x120.png' %}">
        <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-76x76.png' %}">
        <link rel="apple-touch-icon-precomposed" href="{% static 'govuk-0.18.0/assets/images/apple-touch-icon-60x60.png' %}">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:image" content="{% static 'govuk-0.18.0/assets/images/opengraph-image.png' %}">

        <!--[if lt IE 9]>
        	<script src="{% static 'html5-shiv.js' %}"></script>
        <![endif]-->

        <link href="{% static 'great-pattern-library.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
        <link href="{% static 'dit-alpha.css' %}" media="all" rel="stylesheet" />

        <!--[if lt IE 9]>
          <style>
          	.outer-container, .inner-container,
          	.grid-container--inner,
          	header, .header, .navigation,
          	footer, .footer, .dit-hero, main, .tr-home{
              clear: both;
            }

            .header,
            .footer{
              float: left;
              width: 100%;
            }
          </style>
        <![endif]-->
        <style>
          .lte-ie8-only{
            display: none !important;
          }

          .lte-ie8 .lte-ie8-only{
            display: block !important;
          }

          .lte-ie8 .lte-ie8-hidden{
            display: none !important;
          }
        </style>

        {% block css %}

        {% endblock %}

    </head>

    <body class="js-disabled">

        <script>document.body.className = document.body.className.replace('js-disabled', 'js-enabled');</script>

        {# include 'google_tag_manager_body.html' #}

        <svg style="position: absolute; width: 0; height: 0; overflow: hidden;" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <defs>
            <symbol id="icon-dittriangle-down" viewBox="0 0 24 32">
              <title>triangle-down</title>
              <path d="M0 12l11.992 11.992 11.992-11.992h-23.984z"/>
            </symbol>
            <symbol id="icon-ditcheckmark" viewBox="0 0 32 32">
              <title>checkmark</title>
              <path d="M27 4l-15 15-7-7-5 5 12 12 20-20z"/>
            </symbol>
            <symbol id="icon-search" viewBox="0 0 1024 1024">
              <title>search</title>
              <path d="M898.304 791.962l-193.485-193.485c29.184-47.974 45.978-104.192 45.978-164.454 0-174.899-151.603-326.502-326.554-326.502-174.899 0-316.723 141.824-316.723 316.723 0 174.95 151.552 326.554 326.502 326.554 58.163 0 112.64-15.77 159.488-43.162l194.509 194.56c19.098 19.046 49.92 19.046 68.915 0l48.282-48.23c18.995-19.046 12.083-43.008-6.912-62.003zM205.005 424.243c0-121.088 98.15-219.29 219.238-219.29 121.139 0 229.069 107.93 229.069 229.069s-98.15 219.29-219.29 219.29-229.018-107.93-229.018-229.069z"/>
            </symbol>
          </defs>
        </svg>

        <header role="banner" class="header background--great-blue">
          <div class="navigation">
            <div class="navigation-strip background--dark-navy">
              <div class="outer-container">
                <ul class="list-inline">
                  <li class="float--left soft-half--right navigation-skip-to"><a class="link link--grey" href="#content"><strong>Skip to main content</strong></a></li>
                  <li class="float--left soft-half--right">
                  <a class="logo-hmg" href="javascript:void(0);" title="Go to the GOV.UK homepage">
                    <img src="{% static 'images/hm-gov-horizontal.svg' %}" alt="HM Government" class="lte-ie8-hidden">
                    <img src="{% static 'images/hm-gov-horizontal.png' %}" alt="HM Government" class="lte-ie8-only" wdth="129" height="20">
                  </a>
                  </li>
                  <li class="float--left soft-half--left"><a class="link link--white" href="javascript:void(0);"><span class="hide-mobile font-light-grey font-light">Part of </span><span class="font-regular">great.gov.uk</span></a></li>
                </ul>

                <ul class="list-inline float--right navigation-login font-regular">
                  {% if not sso_is_logged_in %}
                  <li class="float--left soft-half--right"><a class="link--yellow" href="javascript:void(0);">Sign in</a></li>
                  <li class="float--left"><a class="link--yellow" href="javascript:void(0);">Register</a></li>
                  {% else %}
                  <li class="float--left soft-half--right"><a class="link--yellow" href="javascript:void(0);">Profile</a></li>
                  <li class="float--left"><a class="link--yellow" href="javascript:void(0);">Sign out</a></li>
                  {% endif %}
                </ul>
                <ul class="list-inline list-separators float--right navigation-login font-regular" id="sso-signout" style="display:none">
                  {% if not sso_is_logged_in %}
                  <li class="float--left soft-half--right"><a class="link--yellow" href="{{ sso_login_url }}">Sign in</a></li>
                  <li class="float--left "><a class="link--yellow" href="{{ sso_register_url }}" >Register</a></li>
                  {% else %}
                  <li class="float--left soft-half--right"><a class="link--yellow" href="{{ sso_profile_url }}">Profile</a></li>
                  <li class="float--left"><a class="link--yellow" href="{{ sso_logout_url }}">Sign out</a></li>
                  {% endif %}
                </ul>
              </div>
            </div>
            <div class="background--great-blue">
              <div class="outer-container">
                <div class="dit-header">
                    <a href="javascript:void(0);" title="Go to the Exporting is GREAT homepage" class="navigation-logo-link float--left">
                      <img src="{% static 'images/dfit-logo-white.svg' %}" alt="Department for International Trade" class="lte-ie8-hidden" width="148" height="70">
                      <img src="{% static 'images/dfit-logo-white.png' %}" alt="Department for International Trade" class="lte-ie8-only" width="148" height="70">
                    </a>
                    <nav class="dit-header__nav">
                      <ul class="dit-header__nav-list">

                        <li><a href="/" class="dit-header__nav-link">Home</a></li>
                        <li>
                          <button type="button" class="js-dit-toggle-nav dit-header__nav-link" aria-expanded="false" aria-controls="menu1">
                            Export readiness <img src="{% static 'images/down-arrow.png' %}" alt="" aria-hidden="true" height="5" width="8">
                          </button>
                        </li>
                        <li>
                          <button type="button" class="js-dit-toggle-nav dit-header__nav-link" aria-expanded="false" aria-controls="menu2">
                            Services <img src="{% static 'images/down-arrow.png' %}" alt="" aria-hidden="true" height="5" width="8">
                          </button>
                        </li>
                      </ul>
                    </nav>

                </div>
              </div>
            </div>
            <div class="outer-container dit-header__nav-child-container">
              <nav class="dit-header__nav-child-list js-dit-nav" id="menu1" aria-hidden="true">
                <div>
                  <ul>
                    <li><a href="javascript:void(0);" class="">New to Exporting</a></li>
                    <li><a href="javascript:void(0);" class="">Occasional Exporter</a></li>
                    <li><a href="javascript:void(0);" class="">Regular Exporter</a></li>
                  </ul>
                </div>
              </nav>
              <nav class="dit-header__nav-child-list js-dit-nav" id="menu2" aria-hidden="true">
                <div>
                  <ul>
                    <li><a href="javascript:void(0);" class="">Events</a></li>
                    <li><a href="javascript:void(0);" class="">Find a buyer</a></li>
                    <li><a href="javascript:void(0);" class="">Selling online overseas</a></li>
                    <li><a href="javascript:void(0);" class="">Get finance</a></li>
                    <li><a href="javascript:void(0);" class="">Export opportunities</a></li>
                    <li><a href="/" class="" aria-current="true">Trade barriers</a></li>
                  </ul>
                </div>
              </nav>
            </div>

        </header>

        {% block sub_header %}

            <section class="ed-hero-sub-header">
                <div class="outer-container">
                    <div class="row-fluid">
                        <span class="span12 ed-hero-sub-header-title">
                            <h1 class="h1">{% block hero_title %}{% endblock %}</h1>
                        </span>
                    </div>
                    <div class="row-fluid ed-hero-sub-header-synopsis">
                        <span class="span9">
                            <span>{% block hero_text %}{% endblock %}</span>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </section>

        {% endblock sub_header %}

        <main id="content" class="{% block css_layout_class %}{% endblock css_layout_class %}" role="main">
            {% block content %}
            {% endblock content %}

            <div class="outer-container push--top govuk-report-form">
              <div class="grid-container grid-container--inner">
                <div class="column-one-half">
                  <p>If you need support using this digital service you can email us at:</p>
                  <div class="dit-contact">
                    <p><a href="mailto:barriers@trade.gov.uk">barriers@trade.gov.uk</a></p>
                  </div>

                  <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                      <div class="report-a-problem-content">
                        <button type="button" class="js-toggle-govuk-help" aria-controls="govuk-help-form" aria-expanded="false" data-onload-toggle-state="hidden">Is there anything wrong with this page?</button>
                        <div id="govuk-help-form" aria-hidden="true" class="hidden">
                          <h2 class="h3">
                            Help us improve GOV.UK
                          </h2>
                          <form accept-charset="UTF-8" action="{% url 'thanks' %}" method="get">
                            {% csrf_token %}
                            <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>
                            <div class="form-group">
                              <label for="what_doing" class="form-label">What you were doing</label>
                              <input id="what_doing" name="what_doing" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                              <label for="what_wrong" class="form-label">What went wrong</label>
                              <input id="what_wrong" name="what_wrong" type="text" class="form-control">
                            </div>
                            <div class="form-group">
                              <button name="commit" type="submit" class="button button-blue">Send</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

            </div>
          </div>
          <script>

            // Toggle the filter form
            var button = document.querySelector('.js-toggle-govuk-help');
            var content = document.querySelector('#' + button.getAttribute('aria-controls'));
            var toggleState = button.getAttribute('data-onload-toggle-state');

            // Hide the form
            function hideGOVUKHelpForm(){
              button.setAttribute('aria-expanded', 'false');
              content.setAttribute('aria-hidden', 'true');
              content.classList.add('hidden');
            }

            // Show the form
            function showGOVUKHelpForm(){
              button.setAttribute('aria-expanded', 'true');
              content.setAttribute('aria-hidden', 'false');
              content.classList.remove('hidden');
            }

            // Show/Hide then set the state
            function toggleGOVUKHelpForm(){
              if(toggleState === 'shown'){
                hideGOVUKHelpForm();
                toggleState = 'hidden';
              } else{
                showGOVUKHelpForm();
                toggleState = 'shown';
              }
            }

            // On load - should we hide it?
            if(toggleState === 'hidden'){
              hideGOVUKHelpForm();
            }

            // Set event listener to toggle on click but if it's an older browser
            // simpyl show the form all the time
            if(document.addEventListener){
              button.addEventListener('click', function(){
                toggleGOVUKHelpForm();
              });
            } else{
              showGOVUKHelpForm();
              toggleState = 'shown';
            }

          </script>

        </main>

        {% load trans from i18n %}
        {% load external_url from constants_tags %}
        <footer role="contentinfo">
          <div class="footer background--great-blue soft--top"  style="font-size: 14px;">
              <div class="outer-container">
                <div class="grid-container grid-container grid-container--inner">
                  <div class="column-one-quarter">
                    <img src="{% static 'images/dfit-logo-white.svg' %}" alt="Department for International Trade" width="148" height="70" style="display: block; margin-bottom: 20px">

                    <a href="javascript:void(0);" title="Go to the Exporting is Great homepage">
                      <img src="{% static 'images/EiG-logo-stacked.svg' %}" alt="Exporting is Great" class="footer-logo">
                    </a>
                  </div>
                  <div class="column-one-quarter dit-footer-section">
                    <h3 class="h4 dit-footer-section__title">Export readiness</h3>
                    <ul class="footer-links">
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'New to exporting' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Occasional exporter' %}</a></li>
                      <li><a href="javascript:void(0);">{% trans 'Regular exporter' %}</a></li>
                    </ul>
                  </div>

                  <div class="column-one-quarter dit-footer-section">
                    <h3 class="h4 dit-footer-section__title">Guidance</h3>
                    <ul class="footer-links">
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Export opportunities' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Find a buyer' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Selling online overseas' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Get finance' %}</a></li>
                      <li class=""><a href="javascript:void(0);">{% trans 'Events' %}</a></li>
                    </ul>
                  </div>

                  <div class="column-one-quarter dit-footer-section">
                    <h3 class="h4 dit-footer-section__title">Services</h3>
                    <ul class="footer-links">
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'About great.gov.uk' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Contact us' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Privacy &amp; cookies' %}</a></li>
                      <li class="push-half--bottom"><a href="javascript:void(0);">{% trans 'Terms &amp; conditions' %}</a></li>
                      <li><a href="javascript:void(0);">{% trans 'Department for International Trade' %}</a></li>
                    </ul>
                  </div>
              </div>
              <div class="grid-container grid-container grid-container--inner">
                <div class="column-full dit-footer-auxiliary-nav">

                  <ul class="list-inline">
                    <li class="soft--right"><a class="link--grey" href="javascript:void(0);">{% trans 'Part of' %} <strong>great.gov.uk</strong></a></li>
                    <li class="soft--right"><a class="link--grey" href="javascript:void(0);">{% trans 'About us' %}</a></li>
                    <li class="soft--right"><a class="link--grey" href="javascript:void(0);">{% trans 'Contact us' %}</a></li>
                    <li class="soft--right"><a class="link--grey" href="javascript:void(0);">{% trans 'Privacy and cookies' %}</a></li>
                    <li class="soft--right"><a class="link--grey" href="javascript:void(0);">{% trans 'Terms and conditions' %}</a></li>
                    <li><a class="link--grey" href="javascript:void(0);">{% trans 'Department for International Trade' %}</a></li>
                  </ul>
                </div>
              </div>
          </div>
          <div class="footer-bottom navigation-strip">
              <div class="outer-container">
                <div class="grid-container grid-container grid-container--inner">
                  <div class="column-one-half flush--bottom">
                    <a class="" href="javascript:void(0);"><img src="{% static 'images/hm-gov-horizontal.svg' %}" alt="HM Government - gov.uk"></a>
                  </div>
                  <div class="footer-copy font-light-grey font-xsmall column-one-half flush--bottom">
                    <p>&copy; {% trans 'Crown copyright' %} {% now "Y" %}. {% trans 'All rights reserved.' %}</p>
                  </div>
                </div>
              </div>
          </div>
        </footer>

        <!--<div id="global-app-error" class="app-error hidden"></div>-->

        <script src="{% static 'Dit-Pattern-Styling/public/js/jquery.js' %}"></script>
        <script src="{% static 'select2.js' %}"></script>
        <script src="{% static 'dit-alpha.js' %}"></script>
        {% block bodyScripts %}{% endblock bodyScripts %}

        <script>
          // Remove Django debug toolbar
          setTimeout(function(){
            var djdt = document.getElementById('djDebug');
            if(djdt){
              djdt.parentNode.removeChild(djdt);
            }
          }, 2000);
        </script>

    </body>
</html>
