<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      About our services - Department for International Trade - GOV.UK
  </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7e0fdb14a50945beedaf193347fcdf0471152a28d037b1ae34760f17452d350b.css" crossorigin="anonymous" integrity="sha256-fg/bFKUJRb7trxkzR/zfBHEVKijQN7GuNHYPF0UtNQs=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-1cc3e28bd2cb71a67f6299eae6e7167a128d1ab802af5facb04584ddf46ab108.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-54a2804517859c830fcb8b5558689af5bc74d572b1fb213c91a229039850c2c5.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-49ce273e9c3f577422d948f36485981d6cc6c3388056cf25efbb9b7b5a006415.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-6f5487d928989a06927867f2a2ebf0632cb1626ce7c49ac31d41a96bdbf1d431.css" crossorigin="anonymous" integrity="sha256-b1SH2SiYmgaSeGfyouvwYyyxYmznxJrDHUGpa9vx1DE=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-87503bdf86edb41e5a9e67b41c324323baa465855d796565f12755d309be9343.css" crossorigin="anonymous" integrity="sha256-h1A734bttB5anme0HDJDI7qkZYVdeWVl8SdV0wm+k0M=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="TGF5GepORqJ6R87CydyWE7dmhQB3hdVQ9uHx8fNFHgX2OUYFzF/sWK/Mi6ugwZvnjVZaV6AhbyfIr7O1hN0MeA==">
<meta name="govuk:format" content="about_our_services">
<meta name="govuk:schema-name" content="corporate_information_page">
<meta name="govuk:analytics:organisations" content="&lt;D1196&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="other">
<meta name="description" content="The Department for International Trade (DIT) helps businesses export and grow into global markets. We also help overseas companies locate and grow in the UK.">
<meta name="govuk:content-id" content="a50149bd-3a26-4194-b7f8-78c17459f822">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-1ebc370e0dcad3bfb4f63fa98b33141267ae9c323df61d060a44962c4f2d358a.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-1ebc370e0dcad3bfb4f63fa98b33141267ae9c323df61d060a44962c4f2d358a.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-910370e3a0ca81025cc74d7bec7dcad362909170bbd77a731bba786b43f96b0f.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class=" with-proposition">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      <div class="header-proposition">
  <div class="content">
    <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
  <nav id="proposition-menu" class="no-proposition-name">
  <ul id="proposition-links">
    <li>
      <a class="" href="/government/organisations">
        Departments
      </a>
    </li>
    <li>
      <a class="" href="/government/world">
        Worldwide
      </a>
    </li>
    <li>
      <a class="" href="/government/how-government-works">
        How government works
      </a>
    </li>
    <li>
      <a class="" href="/government/get-involved">
        Get involved
      </a>
    </li>
    <li class="clear-child">
      <a class="" href="/government/policies">
        Policies
      </a>
    </li>
    <li>
      <a class="" href="/government/publications">
        Publications
      </a>
    </li>
    <li>
      <a class="" href="/government/publications?publication_filter_option=consultations">
        Consultations
      </a>
    </li>
    <li>
      <a class="" href="/government/statistics">
        Statistics
      </a>
    </li>
    <li>
      <a class="" href="/government/announcements">
        Announcements
      </a>
    </li>
  </ul>
</nav>
</div>
</div>
</div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"1","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="corporate-information-page" lang="en">
      <div class="department-for-international-trade-brand-colour">
  <div class="grid-row">
    <div class="column-quarter">
      <div class="govuk-organisation-logo department-for-international-trade">
    <a href="/government/organisations/department-for-international-trade" class="logo-container logo-link logo-with-crest crest-dit">

    <span>Department for<br>International Trade</span>

    </a>
</div>

    </div>
  </div>

<div class="grid-row">
  <div class="column-two-thirds">
    <div class="pub-c-title

  pub-c-title--bottom-margin">
  <h1 class="pub-c-title__text ">
    About our services
  </h1>
</div>

  </div>

</div>


    <p class="pub-c-lead-paragraph">
    The Department for International Trade (DIT) helps businesses export and grow into global markets. We also help overseas companies locate and grow in the UK.
  </p>



  <div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-third">
        <nav role="navigation" class="app-c-contents-list">
    <h2>
      Contents
    </h2>
    <ol class="app-c-contents-list__list">
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#helping-businesses-sell-overseas">
            Helping businesses sell overseas
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#getting-local-market-help-to-sell-overseas">
            Getting local market help to sell overseas
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#helping-overseas-business-locate-in-the-uk">
            Helping overseas business locate in the UK
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#connecting-overseas-buyers-with-uk-businesses">
            Connecting overseas buyers with UK businesses
</a>        </li>
        <li class="app-c-contents-list__list-item app-c-contents-list__list-item--dashed">
          <a class="app-c-contents-list__link" href="#understanding-and-reporting-trade-barriers">Understanding and reporting trade barriers</a>
        </li>
    </ol>
  </nav>

    </div>
  <div class="column-two-thirds ">

<div class="govuk-govspeak direction-ltr">
  <div class="govspeak">
<div class="call-to-action">
<p><a rel="external" href="http://www.great.gov.uk/">www.great.gov.uk</a> is the government’s single destination for information on UK trade, investment, tourism and education.</p>
</div>

<p>Our services are provided in over 100 markets throughout the world. We are passionate about what we do. That’s why we constantly review our services in light of customer feedback and the impact they offer, which means they’ll vary from time to time.</p>

<p>If you have a <a rel="external" href="https://www.contactus.trade.gov.uk/enquiry/topic">comment</a> or <a href="https://www.gov.uk/government/organisations/department-for-international-trade/about/complaints-procedure">complaint</a> about our services, please let us know.</p>

<h2 id="helping-businesses-sell-overseas">Helping businesses sell overseas</h2>

<p><a rel="external" href="http://www.great.gov.uk/">www.great.gov.uk</a> has tailored support and advice for businesses on how to start exporting or increase the amount of goods and services they sell overseas.</p>

<p>You can:</p>

<ul>
  <li>read guidance for <a rel="external" href="http://great.gov.uk/export">new, occasional and frequent exporters</a>
</li>
  <li>find out about services offered by GREAT partners</li>
  <li>use the <a rel="external" href="https://selling-online-overseas.export.great.gov.uk/markets">selling online overseas</a> tool to find the best marketplaces to showcase your products online - you can take advantage of special deals negotiated by the government for UK businesses and find out more about the government’s <a href="https://www.gov.uk/guidance/e-exporting">e-exporting programme</a>
</li>
  <li>apply for overseas <a rel="external" href="https://www.exportingisgreat.gov.uk/opportunities">export opportunities</a> for your products or services</li>
  <li>sign up to the <a rel="external" href="https://find-a-buyer.export.great.gov.uk">find a buyer service</a>, which will allow you to promote your products and services to international buyers</li>
</ul>

<p>You can also:</p>

<ul>
  <li>search for <a rel="external" href="https://www.events.trade.gov.uk/">events, trade fairs, missions and webinars</a> relevant to your sector or overseas markets</li>
  <li>
<a href="https://www.gov.uk/guidance/tradeshow-access-programme">apply for a trade show access grant</a> to attend an overseas event</li>
  <li>read new and improved export guides to selling overseas in <a href="https://www.gov.uk/guidance/exporting-to-france">France</a>, <a href="https://www.gov.uk/guidance/exporting-to-germany">Germany</a>, <a href="https://www.gov.uk/guidance/exporting-to-china">China</a>, <a href="https://www.gov.uk/guidance/exporting-to-india">India</a> and the <a href="https://www.gov.uk/guidance/exporting-to-the-usa">USA</a> - we will soon be refreshing all of our <a href="https://www.gov.uk/government/collections/exporting-country-guides">country guides</a>
</li>
  <li>
<a rel="external" href="https://www.contactus.trade.gov.uk/office-finder/">contact a trade adviser</a> in your area</li>
</ul>

<h3 id="export-finance">Export finance</h3>

<p>The UK government’s credit agency, <a href="https://www.gov.uk/government/organisations/uk-export-finance">UK Export Finance</a> (UKEF) helps companies in the UK to:</p>

<ul>
  <li>win export contracts by providing attractive financing terms to their buyers</li>
  <li>fulfil orders by supporting working capital loans</li>
  <li>get paid by insuring against buyer default</li>
</ul>

<h2 id="getting-local-market-help-to-sell-overseas">Getting local market help to sell overseas</h2>

<p>DIT has trade specialists who can help you commission services from local experts overseas. This includes:</p>

<ul>
  <li>country and sector advice</li>
  <li>local market research</li>
  <li>support during overseas visits</li>
  <li>identification of possible business partners</li>
  <li>preparation for exhibitions and events</li>
</ul>

<p><a rel="external" href="https://www.contactus.trade.gov.uk/office-finder/">Contact a trade adviser</a> in your region who can give you more information.</p>

<h3 id="find-out-about-your-current-local-market-service">Find out about your current local market service</h3>

<p>If you have an existing Overseas Market Introduction Service (OMIS) account and want to talk about something you have already commissioned, use your account details to <a rel="external" href="https://www.services.ukti.gov.uk">sign in</a>.</p>

<h2 id="helping-overseas-business-locate-in-the-uk">Helping overseas business locate in the UK</h2>

<p><a rel="external" href="https://invest.great.gov.uk/int/">www.great.gov.uk</a> brings together information about investing in the UK. It promotes our country as the natural choice for overseas investment. It includes:</p>

<ul>
  <li>reasons why an overseas business should invest in the UK</li>
  <li>sector-specific information about the UK economy, including advanced manufacturing, aerospace, automotive, creative industries, energy, financial and professional services, food and drink, life sciences, retail and technology</li>
  <li>a way for overseas businesses to contact DIT staff in their country</li>
</ul>

<p>Initially the information will be for investors from Brazil, Germany, India, Japan, Spain and the USA. We will be adding more countries and sectors during 2017.</p>

<p>We also provide access to <a href="https://www.gov.uk/government/publications/inward-investor-support-directory">support for UK inward investors</a> who can help companies set up in the UK, usually via our <a href="https://www.gov.uk/government/publications/uk-trade-investment-ukti-worldwide-offices/uk-trade-investment-offices-around-the-world">worldwide network</a> of embassies and consulates.</p>

<h2 id="connecting-overseas-buyers-with-uk-businesses">Connecting overseas buyers with UK businesses</h2>

<p>Our <a rel="external" href="https://trade.great.gov.uk/">find a supplier</a> service allows international buyers to connect with UK businesses. UK buyers looking to be listed on this service can sign up to the <a rel="external" href="https://find-a-buyer.export.great.gov.uk/">find a buyer</a> service.</p>

<p>We link international businesses with the right UK partners and suppliers through <a rel="external" href="https://www.events.trade.gov.uk/">meet-the-buyer events, networking receptions, and product launches</a>.</p>


<h2 id="understanding-and-reporting-trade-barriers">Understanding and reporting trade barriers</h2>
<p>Trade barriers can stop you exporting goods and services, or they can make your products less competitive than those produced locally. Or they can be used to block UK companies from investing in overseas companies or markets.

<p>Through our trade barrier service you can:</p>

<ul>
  <li><a href="{% url 'barriers-general-info' %}">Find out about the different types of trade barrier</> and how the government deals with them.</li>
  <li><a href="{% url 'search' %}">Tell us what you want to export and where</a>, and we’ll tell you if we know of any potential problems.</li>
  <li>Tell us about your problem and how you think we can help. <a href="{% url 'report-barrier' %}">Report a trade barrier</a></li>
</ul>

<p>In an emergency you can call this 24-hour number: 0800 123 4567</p>

<p>We will only be able to process calls which can demonstrate clear evidence that there will be significant and imminent financial or other loss, with action needing to be taken within 48 hours</p>
</div>
</div>

  </div>
  <div data-sticky-element class="govuk-sticky-element">
    <a class="app-c-back-to-top dont-print" href="#contents">
    <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewbox="0 0 13 17">
      <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
    </svg>
    Contents
</a>

  </div>
</div>

</div>

    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/government/organisations/department-for-international-trade/about-our-services">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-b4d49ae90baabd6d4bfce6154af2152599f1c6e6eafdacd38a9fb2e91c89f433.js" crossorigin="anonymous" integrity="sha256-tNSa6QuqvW1L/OYVSvIVJZnxxubq/azTip+y6RyJ9DM="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-8c4753c2767cc301cd35d8f447015783c6746ee55540f23506a206642daa03cf.js" crossorigin="anonymous" integrity="sha256-jEdTwnZ8wwHNNdj0RwFXg8Z0buVVQPI1BqIGZC2qA88="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
