<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]--><!--[if gt IE 8]><!--><html lang="en">
<!--<![endif]-->
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>
      Report a trade barrier - GOV.UK
    </title>

    <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-2775f99eaec64ff8121bfbfb3eb67b0c2b4b7c3fc78d25da30e12db2a09d30d6.css" crossorigin="anonymous" integrity="sha256-J3X5nq7GT/gSG/v7PrZ7DCtLfD/HjSXaMOEtsqCdMNY=">
<!--<![endif]-->
    <!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie6-5bb08c355a12ac38b0ac9d2446da122ec0f81c78e02dcd2a98766f53c23793c8.css" /><![endif]-->
    <!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie7-be1ea757827710f20eae59ae3ebfd172b7dbeabb171a79945ba610947eebb3cc.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/govuk-template-ie8-5ab4d0c7b42f2bf10f8c7aadf331a11f7399be832b0ee2c68c94071195a1e36e.css" /><![endif]-->
    <link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/govuk-template-print-1076519521c2fffbbf75ab3b0d3b32ee2d96ac7e9778f1cdfac1771eefd1a1c0.css" crossorigin="anonymous" integrity="sha256-EHZRlSHC//u/das7DTsy7i2WrH6XePHN+sF3Hu/RocA=">

    <!--[if IE 8]><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-ie8-f5e3c18a96ecb0f37246556a27330202d6e18feffa05a3b67825024609629ac8.css" /><![endif]-->
    <!--[if gte IE 9]><!--><link rel="stylesheet" media="all" href="https://assets.publishing.service.gov.uk/static/fonts-5ff8c53913434afd0072a480d7cfca67cace4c8d03f6ef96b78a4455728ce745.css" crossorigin="anonymous" integrity="sha256-X/jFORNDSv0AcqSA18/KZ8rOTI0D9u+Wt4pEVXKM50U=">
<!--<![endif]-->
    <!--[if lt IE 9]><script src="https://assets.publishing.service.gov.uk/static/ie-75db9d4df4993de5335d6e49013362743a78107245bcf6543337a0ecc0a95b41.js" crossorigin="anonymous" integrity="sha256-ddudTfSZPeUzXW5JATNidDp4EHJFvPZUMzeg7MCpW0E="></script><![endif]-->

    <link rel="shortcut icon" href="https://assets.publishing.service.gov.uk/static/favicon-8d811b8c3badbc0b0e2f6e25d3660a96cc0cca7993e6f32e98785f205fc40907.ico" type="image/x-icon">
    <link rel="mask-icon" href="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown-de738c3fcce8ce2a91b67e89787090dc24a5cda0275ab6b75f6226c5b9619d3d.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" sizes="180x180" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-180x180-ea1cbb1cbbeddfff275dfa6e8e46b84cd530892df79dc4882a8f99b802b49a90.png">
    <link rel="apple-touch-icon" sizes="167x167" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-167x167-181e404a50c572923285fb83f0fbd78da6b4e38e3ce52f8e6b8e29da8586450a.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-152x152-02457fcdcee8d309276305af2233d41bfb8fd055e855727d355e61bce7ffa9bb.png">
    <link rel="apple-touch-icon" href="https://assets.publishing.service.gov.uk/static/apple-touch-icon-a318f305290c523aed80082456175b46c95350c0eeac93f42e78a71c7a55544e.png">

    <meta name="theme-color" content="#0b0c0c">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://assets.publishing.service.gov.uk/static/opengraph-image-a1f7d89ffd0782738b1aeb0da37842d8bd0addbd724b8e58c3edbc7287cc11de.png">

      <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-7e0fdb14a50945beedaf193347fcdf0471152a28d037b1ae34760f17452d350b.css" crossorigin="anonymous" integrity="sha256-fg/bFKUJRb7trxkzR/zfBHEVKijQN7GuNHYPF0UtNQs=">
<!--<![endif]-->
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie6-1cc3e28bd2cb71a67f6299eae6e7167a128d1ab802af5facb04584ddf46ab108.css" /><script>var ieVersion = 6;</script><![endif]-->
<!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie7-54a2804517859c830fcb8b5558689af5bc74d572b1fb213c91a229039850c2c5.css" /><script>var ieVersion = 7;</script><![endif]-->
<!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/static/core-layout-ie8-49ce273e9c3f577422d948f36485981d6cc6c3388056cf25efbb9b7b5a006415.css" /><script>var ieVersion = 8;</script><![endif]-->

<link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/static/core-layout-print-6f5487d928989a06927867f2a2ebf0632cb1626ce7c49ac31d41a96bdbf1d431.css" crossorigin="anonymous" integrity="sha256-b1SH2SiYmgaSeGfyouvwYyyxYmznxJrDHUGpa9vx1DE=">


  <!--[if gt IE 8]><!--><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-87503bdf86edb41e5a9e67b41c324323baa465855d796565f12755d309be9343.css" crossorigin="anonymous" integrity="sha256-h1A734bttB5anme0HDJDI7qkZYVdeWVl8SdV0wm+k0M=">
<!--<![endif]--><link rel="stylesheet" media="print" href="https://assets.publishing.service.gov.uk/government-frontend/print-9e52619a28f6d0ef9fb0a8b9d8fe0c4f2ff35d8dbb2d28db2d600b8bffcc4e9a.css" crossorigin="anonymous" integrity="sha256-nlJhmij20O+fsKi52P4MTy/zXY27LSjbLWALi//MTpo=">
<meta name="csrf-param" content="authenticity_token">
<meta name="csrf-token" content="eb2lsdxg/klZ3kXOl0FhWMGgYzY0SB3rjUf6/YR0P9kEmUGnd0MyC4TnBKWCt38QppOno/ofALphMYliLLadrg==">
<meta name="govuk:format" content="answer">
<meta name="govuk:schema-name" content="answer">
<meta name="govuk:analytics:organisations" content="&lt;D13&gt;">
<meta name="govuk:user-journey-stage" content="thing">
<meta name="govuk:navigation-document-type" content="guidance">
<meta name="description" content="Exporters outside the EU can report trade barriers, for example taxes protecting local producers">
<meta name="govuk:content-id" content="0521e6d7-c3e0-45da-aaf0-c255302381e8">
<!--[if IE 6]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie6-1ebc370e0dcad3bfb4f63fa98b33141267ae9c323df61d060a44962c4f2d358a.css" /><script>var ieVersion = 6;</script><![endif]--><!--[if IE 7]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie7-1ebc370e0dcad3bfb4f63fa98b33141267ae9c323df61d060a44962c4f2d358a.css" /><script>var ieVersion = 7;</script><![endif]--><!--[if IE 8]><link rel="stylesheet" media="screen" href="https://assets.publishing.service.gov.uk/government-frontend/application-ie8-910370e3a0ca81025cc74d7bec7dcad362909170bbd77a731bba786b43f96b0f.css" /><script>var ieVersion = 8;</script><![endif]--><meta name="govuk:rendering-application" content="government-frontend">
</head>

  <body>
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



    <div id="skiplink-container">
      <div>
        <a href="#content" class="skiplink">Skip to main content</a>
      </div>
    </div>

    <div id="global-cookie-message">
        <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
    </div>

    <header role="banner" id="global-header" class="">
      <div class="header-wrapper">
        <div class="header-global">
          <div class="header-logo">
            <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
              <img src="https://assets.publishing.service.gov.uk/static/gov.uk_logotype_crown_invert_trans-203e1db49d3eff430d7dc450ce723c1002542fe1d2bce661b6d8571f14c1043c.png" width="36" height="32" alt=""> GOV.UK
            </a>
          </div>
            <a href="#search" class="search-toggle js-header-toggle">Search</a>

  <form id="search" class="site-search" action="/search" method="get" role="search">
    <div class="content">
      <label for="site-search-text">Search</label>
      <input type="search" name="q" id="site-search-text" title="Search" class="js-search-focus">
      <input class="submit" type="submit" value="Search">
    </div>
  </form>

        </div>

      </div>
    </header>

      <div id="user-satisfaction-survey-container"></div>


    <div id="global-header-bar"></div>

      <div id="wrapper" class="direction-ltr">



<div class="govuk-breadcrumbs " data-module="track-click">
  <ol>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="1" data-track-label="/" data-track-options='{"dimension28":"3","dimension29":"Home"}' class="" aria-current="false" href="/">Home</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="2" data-track-label="/browse/business" data-track-options='{"dimension28":"3","dimension29":"Business and self-employed"}' class="" aria-current="false" href="/browse/business">Business and self-employed</a>
    </li>

    <li class="">
        <a data-track-category="breadcrumbClicked" data-track-action="3" data-track-label="/browse/business/exports" data-track-options='{"dimension28":"3","dimension29":"Exporting and doing business abroad"}' class="" aria-current="false" href="/browse/business/exports">Exporting and doing business abroad</a>
    </li>
  </ol>
</div>


    <main role="main" id="content" class="answer" lang="en">

<div class="grid-row sidebar-with-body">
  <div class="column-two-thirds">
    <div class="pub-c-title

  pub-c-title--bottom-margin">
  <h1 class="pub-c-title__text ">
    Report a trade barrier
  </h1>
</div>


<div class="govuk-govspeak direction-ltr rich-govspeak disable-youtube">
  <p>Trade barriers make imported goods and services less competitive than those produced locally.</p>

<p>You can report a trade barrier to the Market Access Unit (<abbr title="Market Access Unit">MAU</abbr>), if you come across any of the following when selling outside the <abbr title="European Union">EU</abbr>:</p>

<ul>
  <li>tariffs and taxes imposed to protect, or favour, local producers</li>
  <li>unfair use of state help or subsidies</li>
  <li>labelling rules or burdensome customs procedures</li>
  <li>restrictive government procurement rules and practices</li>
  <li>technical regulations, standards and conformity assessment procedures that aren’t in line with the <a rel="external" href="https://www.wto.org/english/tratop_e/tbt_e/tbt_e.htm">Technical Barriers to Trade</a> (<abbr title="Technical Barriers to Trade">TBT</abbr>) Agreement</li>
  <li>poor protection of intellectual property rights and geographical indicators</li>
  <li>misuse of sanitary and phytosanitary measures</li>
  <li>restrictions on access to raw materials</li>
  <li>barriers to trade in services and investment, such as unjustified foreign ownership caps, joint venture obligations and discriminatory treatment</li>
</ul>

<div class="address"><div class="adr org fn"><p>

Market Access Unit
<br>Trade Policy Group
<br>Department for International Trade
<br>3 Whitehall Place
<br>London
<br>SW1A 2AW
<br>
</p></div></div>

<div class="contact">
<p><a href="mailto:ruchi.nanda@trade.gsi.gov.uk">ruchi.nanda@trade.gsi.gov.uk</a></p>
</div>

<h2 id="what-happens-next">What happens next</h2>

<p>The <abbr title="Market Access Unit">MAU</abbr> will deal with the trade barrier through:</p>

<ul>
  <li>dialogue and diplomacy with the country in question, or through the European Commission</li>
  <li>consultation and coordination with other government departments and agencies</li>
</ul>


</div>


  </div>
  <div class="column-third add-title-margin">
    <aside class="govuk-related-items" data-module="track-click" role="complementary">
      <h2 data-track-count="sidebarRelatedItemSection">
        Exporting and doing business abroad
      </h2>


      <nav role="navigation">
        <ul>
            <li>
              <a data-track-category="relatedLinkClicked" data-track-action="1.1" data-track-label="/starting-to-export" data-track-options='{"dimension28":"2","dimension29":"Exporting and doing business abroad"}' href="/starting-to-export">Exporting and doing business abroad</a>
            </li>
            <li class="related-items-more">
              <a data-track-category="relatedLinkClicked" data-track-action="1.2" data-track-label="/browse/business/exports" data-track-options='{"dimension28":"2","dimension29":"More"}' href="/browse/business/exports">
                More
                  <span class="visuallyhidden">
                    in
                    Exporting and doing business abroad
                  </span>
</a>            </li>
        </ul>
      </nav>
  </aside>

</div>

</div>


    </main>
  <div class="report-a-problem-container">
  <div class="report-a-problem-inner">
    <div class="report-a-problem-content">
      <h2>Help us improve GOV.UK</h2>
      <form accept-charset="UTF-8" action="/contact/govuk/problem_reports" method="post">
        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
        <input id="url" name="url" type="hidden" value="https://www.gov.uk/report-trade-barriers">

          <input id="source" name="source" type="hidden" value="">


          <input id="page_owner" name="page_owner" type="hidden" value="">


        <p>Don’t include personal or financial information like your National Insurance number or credit card details.</p>

        <label for="what_doing">What you were doing</label>
        <input id="what_doing" name="what_doing" type="text">

        <label for="what_wrong">What went wrong</label>
        <input id="what_wrong" name="what_wrong" type="text">

        <div class="button-wrapper">
          <button name="commit" type="submit" class="button">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


    <footer class="group js-footer" id="footer" role="contentinfo">

      <div class="footer-wrapper">
            <div class="footer-categories">
      <div class="footer-explore">
        <h2>Services and information</h2>

        <ul>
          <li><a href="/browse/benefits">Benefits</a></li>
          <li><a href="/browse/births-deaths-marriages">Births, deaths, marriages and care</a></li>
          <li><a href="/browse/business">Business and self-employed</a></li>
          <li><a href="/browse/childcare-parenting">Childcare and parenting</a></li>
          <li><a href="/browse/citizenship">Citizenship and living in the UK</a></li>
          <li><a href="/browse/justice">Crime, justice and the law</a></li>
          <li><a href="/browse/disabilities">Disabled people</a></li>
          <li><a href="/browse/driving">Driving and transport</a></li>
        </ul>
        <ul>
          <li><a href="/browse/education">Education and learning</a></li>
          <li><a href="/browse/employing-people">Employing people</a></li>
          <li><a href="/browse/environment-countryside">Environment and countryside</a></li>
          <li><a href="/browse/housing-local-services">Housing and local services</a></li>
          <li><a href="/browse/tax">Money and tax</a></li>
          <li><a href="/browse/abroad">Passports, travel and living abroad</a></li>
          <li><a href="/browse/visas-immigration">Visas and immigration</a></li>
          <li><a href="/browse/working">Working, jobs and pensions</a></li>
        </ul>
      </div>

      <div class="footer-inside-government">
        <h2>Departments and policy</h2>

        <ul>
          <li><a href="/government/how-government-works">How government works</a></li>
          <li><a href="/government/organisations">Departments</a></li>
          <li><a href="/government/world">Worldwide</a></li>
          <li><a href="/government/policies">Policies</a></li>
          <li><a href="/government/publications">Publications</a></li>
          <li><a href="/government/announcements">Announcements</a></li>
        </ul>
      </div>
      <hr>
    </div>


        <div class="footer-meta">
          <div class="footer-meta-inner">
              <h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/help/cookies">Cookies</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/help/terms-conditions">Terms and conditions</a></li>
  <li><a href="/cymraeg" lang="cy" hreflang="cy">Rhestr o Wasanaethau Cymraeg</a></li>
  <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
</li>
</ul>



            <div class="open-government-licence">
              <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>
                <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>
            </div>
          </div>

          <div class="copyright">
            <a href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
          </div>
        </div>
      </div>
    </footer>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="https://assets.publishing.service.gov.uk/static/govuk-template-c4f303154d2a238bdda4d5cf1ebd8d4487822e4cbc3e4c83e743da869443ce72.js" crossorigin="anonymous" integrity="sha256-xPMDFU0qI4vdpNXPHr2NRIeCLky8PkyD50PahpRDznI="></script>

      <script src="https://assets.publishing.service.gov.uk/static/libs/jquery/jquery-1.12.4-cb0decd18b4b0abbece3cfc180d9adc8e11dfa693cf34c2ff1ffcda86e725301.js" crossorigin="anonymous" integrity="sha256-yw3s0YtLCrvs48/BgNmtyOEd+mk880wv8f/NqG5yUwE="></script>
<script src="https://assets.publishing.service.gov.uk/static/header-footer-only-b4d49ae90baabd6d4bfce6154af2152599f1c6e6eafdacd38a9fb2e91c89f433.js" crossorigin="anonymous" integrity="sha256-tNSa6QuqvW1L/OYVSvIVJZnxxubq/azTip+y6RyJ9DM="></script>
<script src="https://assets.publishing.service.gov.uk/static/surveys-8c4753c2767cc301cd35d8f447015783c6746ee55540f23506a206642daa03cf.js" crossorigin="anonymous" integrity="sha256-jEdTwnZ8wwHNNdj0RwFXg8Z0buVVQPI1BqIGZC2qA88="></script>



    <script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>
  <script src="https://assets.publishing.service.gov.uk/government-frontend/application-b6af057ac563794cd9a306086ff7e990546cebe83309153e4e2bb7763c141cd9.js" crossorigin="anonymous" integrity="sha256-tq8FesVjeUzZowYIb/fpkFRs6+gzCRU+Tiu3djwUHNk="></script>
</body>
</html>
