{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}{% trans "Trade barrier detail" %}{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'search-results' %}">{% trans "Existing trade barriers" %}</a> <span aria-hidden="true">></span> <strong>{% trans "Trade barrier detail" %}</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        <h1 class="h3">{% trans "Trade barrier detail" %}</h1>
      </div>
      <div class="column-two-third">
          <h2 id="barrier-title" class="h3">{{ object.title }}</h2>
          <p>Notification source: {{ object.barrier_source }}<br>
          <p>Country: {{ object.country }}<br>
          Barrier types: {% for type in object.barrier_types.all %}{{ type }}{% endfor %}</p>
          {{ object.description|linebreaks }}
          <p>Reference No: {{ object.barrier_symbol }}<br>
            Companies affected: {{ object.companies_affected }}<br>
            Status: {{ object.status }}</p>

          <p><a href="javascript:history.go(-1);" class="button button-white button-border">Back to search results</a></p>
      </div>
      <div class="column-one-third">
          <p><a href="{% url 'report-notification-existing' pk=object.pk %}" class="button button-red" aria-labelledby="barrier-title">Report if this affects you</a></p>
          <p><strong>Why report the problem?</strong></p>
          <p>The government can be aware of a trade barrier without knowing how many companies it affects. The more we understand the scale of a trade barrier the more likely we are to be able to do something about it.</p>

          <h2 class="h3">Keep me updated</h2>
          <p>Tell me about changes to trade barriers which relate to burdensome customs procedures.</p>
          <p><a href="{% url 'barrier-subscribe' pk=object.pk %}" class="button button-blue">Get updates</a></p>
      </div>
    </div>
  </div>

  {% endblock %}
