{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a trade barrier</a> <span aria-hidden="true">></span> <strong>Save your progress</strong>
        </div>
    </div>
  </div>

  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      {% if existingbarrier or existingnotification %}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
      </div>
      {% endif %}
      <div class="column-two-third">
        <h1 class="h2">Report a trade barrier</h1>

        {% if logged_in == 'true' %}
          <div class="dit-infostrip">
            <p>Your progress has been saved.</p>
          </div>
        {% else %}
          <div class="dit-infostrip">
            <p>Log in to save your progress, access an existing trade profile or create a new one.</p>
          </div>
          <p><a href="javascript:void(0);" class="button button-blue">Create a great.gov.uk account</a>&nbsp;&nbsp;<a href="{% url 'report-barrier-login' %}" class="button button-blue">Log in to your great.gov.uk account</a></p>
        {% endif %}
        <ol class="dit-task-list">
          <li>
            <a href="{% url 'report-barrier-step1' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About you</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step1' %}#your-details">Your details</a> {% if completed_1 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
              <li><a href="{% url 'report-barrier-step1' %}#your-role">Your role</a> {% if completed_1 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step2' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About your organisation</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step2' %}#organisation-details">Organisation details</a>{% if completed_2 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step3' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About the problem and its impact</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step3' %}#your-product">Your product or service</a> {% if completed_3 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
              <li><a href="{% url 'report-barrier-step3' %}#the-problem">The problem</a> {% if completed_3 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
              <li><a href="{% url 'report-barrier-step3' %}#the-impact">The impact on your business</a> {% if completed_4 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
              <li><a href="{% url 'report-barrier-step3' %}#other-companies">Other affected companies</a> {% if completed_4 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step4' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Select the type of barrier</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step4' %}">Type of barrier</a>{% if completed_4 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step5' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Working out the next steps</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step5' %}#steps">Steps already taken, your view and support needed{% if completed_5 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</a></li>
              <li><a href="{% url 'report-barrier-step5' %}#other">Any other details{% if completed_5 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</a></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step6' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Confidentiality and privacy</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step6' %}">Confidentiality and privacy</a>{% if completed_6 == 'true' %}<span class="dit-task-list__status">completed</span>{% endif %}</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
 </div>

{% endblock %}
