{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
<style>
  .select2-container{
    background-color: inherit;
    border: 1px solid #6f777b;
    display: block;
    width: 75% !important;
  }

  .select2-container input{
    font-family: "Roboto",arial,helvetica,sans-serif;
    font-size: 16px;
    padding: 10px;
  }

  .select2-selection__choice{
    position: relative;
    top: -3px;
  }

  .select2-container{
    max-width: 560px !important;
  }

  .select2-search__field{
    appearance: none;
    border: none;
  }
</style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 3 of 6: About the problem{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="javascript:void(0);">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 3 of 6: About the problem</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        <div class="h4">Section</div>
        <ol>
          <li><a href="{% url 'report-barrier-step1' %}"><span>1 About you</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li><a href="{% url 'report-barrier-step2' %}"><span>2 About your organisation</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li class="is-selected">3 About the problem</li>
          <li><a href="{% url 'report-barrier-step4' %}">4 Select the type of barrier</a></li>
          <li><a href="{% url 'report-barrier-step5' %}">5 Working out the next steps</a></li>
          <li><a href="{% url 'report-barrier-step6' %}"><span>6 Confidentiality and privacy</span></a></li>
        </ol>
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Section 3 of 6: About the problem</h1>
        <form action="{% url 'report-barrier-step4' %}" method="post" class="dit-form js-dit-validate" novalidate>
          {% csrf_token %}

          {% include 'components/form-validation.html' %}

          <h2 class="dit-form-section-title is-first" id="your-product">Your product or service</h2>

          <div class="form-group">
            <label class="form-label" for="dit-step2-product">
              {% if is_trade_association == True %}
                What product or service are your member(s) wanting to export?
              {% else %}
                What is the product or service you want to export?
              {% endif %}
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a product or service</span>
            <input class="form-control" id="dit-step2-product" type="text" name="dit[step2][product]" required>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step2-code">
              List the relevant commodity code or codes. <span style="font-weight: normal">(Optional)</span>
              <span class="form-hint">
                Commodity codes/HS codes are part of an internationally standardised system
of names and numbers to classify traded products. <a href="https://www.gov.uk/trade-tariff">You can look up commodity
codes on GOV.UK</a>.
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your product/commodity code</span>
            <textarea class="form-control" id="dit-step2-code" name="dit[step2][code]" rows="3" cols="10"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step2-country" id="dit-step2-country-label">
              List the countries or blocs you are trying to export to
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a country or bloc</span>
            <select id="dit-step2-country" name="dit[step2][country]" autocomplete="off" class="form-control select-custom select2-hidden-accessible" data-placeholder="Type to find country" multiple required>
              {% include 'components/countries.html' %}
            </select>
          </div>

          <h2 class="dit-form-section-title" id="the-problem">The problem</h2>

          <div class="form-group">
            <label class="form-label" for="dit-step2-description">
              Provide a brief description of the problem, including:
              <span class="form-hint">
                - What is obstructing your export<br>
                - Any explanation you’ve been given
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a brief description of the problem</span>
            <textarea class="form-control" id="dit-step2-description" name="dit[step2][description]" rows="10" cols="5" required></textarea>
          </div>

          <div class="form-group">
            <fieldset class="inline">

              <legend>
                <span class="form-label" id="export-yn">
                  Have you experienced this problem in other markets?
                </span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether you have experienced this problem in other markets or not</span>

              <div class="multiple-choice">
                <input id="dit-step4-export-yn-yes" name="dit[step4][export_yn]" value="Yes" type="radio" required class="js-dit-toggle-field" aria-expanded="false" aria-controls="js-dit-export-to-other-countries">
                <label for="dit-step4-export-yn-yes">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-export-yn-no" name="dit[step4][export_yn]" value="No" type="radio" required>
                <label for="dit-step4-export-yn-no">No</label>
              </div>
            </fieldset>
          </div>
          <div class="form-group form-group-child hidden" id="js-dit-export-to-other-countries" aria-hidden="true">
            <label class="form-label" for="dit-step2-export-to-other-countries" aria-labelledby="export-yn">
              Provide details of the problem, explanations given, and any steps taken to resolve the problem
            </label>
            <span class="error-message hidden" aria-hidden="true">Provide details of the problem, explanations given, and any steps taken to resolve the problem</span>
            <textarea class="form-control" id="dit-step2-export-to-other-countries" name="dit[step2][export_to_other_countries]" rows="10" cols="5"></textarea>
          </div>

          <h2 class="dit-form-section-title" id="the-impact">
            {% if is_trade_association == True %}
            The impact on your member(s)
            {% else %}
            The impact on your business
            {% endif %}
            </h2>

          <div class="form-group">
            <label class="form-label" for="dit-step2-impact">
              {% if is_trade_association == True %}
                What impact do you expect this to have on your member(s)?
              {% else %}
                What impact would you expect the problem to have on your business if it is not resolved?
                <span class="form-hint">
                  If possible, include an estimate of the financial value of sales lost over a five year period.
                </span>
              {% endif %}
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the impact you expect this to have</span>
            <textarea class="form-control" id="dit-step2-impact" name="dit[step2][impact]" rows="5" cols="5" required></textarea>
          </div>

          <div class="form-group  required-checkboxes">
            <fieldset>

              <legend class="form-label">
              {% if is_trade_association == True %}
                Estimate the financial value of sales lost for your sector over a five year period
              {% else %}
                Estimate the financial value of sales lost over a five year period
              {% endif %}
              </legend>

              <span class="error-message hidden" aria-hidden="true">Estimate the financial value of sales lost</span>

              <div class="multiple-choice">
                <input id="dit-step2-sales-lost-0-1" name="dit[step2][sales_lost]" value="0-1" type="radio" required>
                <label for="dit-step2-sales-lost-0-1">less than £1m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-sales-lost-1-10" name="dit[step2][sales_lost]" value="1-10" type="radio">
                <label for="dit-step2-sales-lost-1-10">£1m &ndash; £10m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-sales-lost-10-100" name="dit[step2][sales_lost]" value="10-100" type="radio">
                <label for="dit-step2-sales-lost-10-100">£10m &ndash; £100m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-sales-lost-100-plus" name="dit[step2][sales_lost]" value="100+" type="radio">
                <label for="dit-step2-sales-lost-100-plus">£100m +</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step2-duration">
              What's the duration of the problem, including:
              <span class="form-hint">
                - When it started<br>
                - If it's a one-off, ongoing or anticipated problem
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the duration of the problem</span>
            <textarea class="form-control" id="dit-step2-duration" name="dit[step2][duration]" rows="5" cols="10" required></textarea>
          </div>

          <h2 class="dit-form-section-title" id="other-companies">Other affected companies</h2>

          <div class="form-group">
            <fieldset class="inline">

              <legend class="form-label">
                {% if is_trade_association == True %}
                  Are any companies who are not members of your association affected?
                {% else %}
                  Are any other companies affected?
                {% endif %}
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether this affects other companies</span>

              <div class="multiple-choice">
                <input id="dit-step2-others-affected-yes" name="dit[step2][others_affected]" value="Yes" type="radio" class="js-dit-toggle-field" aria-expanded="false" aria-controls="js-dit-others-affected-details">
                <label for="dit-step2-others-affected-yes">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-others-affected-no" name="dit[step2][others_affected]" value="No" type="radio">
                <label for="dit-step2-others-affected-no">No</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-others-affected-dont-know" name="dit[step2][others_affected]" value="Don't Know" type="radio" required>
                <label for="dit-step2-others-affected-dont-know">Don't know</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group form-group-child hidden" aria-hidden="true" id="js-dit-others-affected-details">
            <label class="form-label form-label--light" for="dit-step2-others-affected-details">
              List the other companies affected by the problem. <span style="font-weight: normal">(Optional)</span>
            </label>
            <span class="error-message hidden" aria-hidden="true">List the other companies affected by the problem</span>
            <textarea class="form-control" id="dit-step2-others-affected-details" name="dit[step2][others_affected_details]" rows="10" cols="5"></textarea>
          </div>

          <div class="dit-buttons">
            <a href="{% url 'report-barrier-step2' %}" class="button button-transparent-blue button-border" aria-label="Step 2">Back</a>
            <button class="button button-blue" type="submit">Next</button>
            <a  href="{% url 'report-barrier-step3' %}/save" class="button button-transparent-grey button-border float--right">Save progress</a>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
