{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block head_title %}Report a trade barrier{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Report a trade barrier</strong>
        </div>
    </div>
  </div>

  <div class="dit-hero" style="background-image: url({% static 'images/placeholder-hero.png' %});">
    <div class="outer-container">
      <div class="grid-container grid-container--inner">
        <div class="column-full dit-hero__copy">
            <h1 class="dit-hero__title">{% trans "Report a trade barrier" %}</h1>
            <p class="dit-hero__summary">The government works with the WTO and other governments around the world to reduce the impact of trade barriers. Departments and agencies work together to understand the problems and develop action plans to resolve them. Steps may include using our representatives abroad, ministerial visits or direct negotiations.</p>
            <div class="grid-container grid-container--inner">
              <div class="column-two-third">
                <p class="dit-hero__summary">Find out more about <a href="javascript:void(0);">different types of trade barrier</a>, <a href="javascript:void(0);">check barriers in a particular market</a> or learn about opportunities in our <a href="javascript:void(0);">export country profiles</a>.</p>
              </div>
              <div class="column-one-third">
                <form action="{% url 'report-barrier-task-list' %}" method="get">
                  <input type="hidden" name="existing" value="false">
                  <button type="submit" class="button button-red button-large">Report a barrier</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>


  <style>
    @media screen and (min-width: 768px){
      .how-it-works{
        border-right: 1px solid #979797;
        padding-right: 20px;
      }
    }

    @media screen and (max-width: 767px){
      .column-one-half{
        width: calc(100% - 30px);
      }

      .how-it-works-button{
        float: none !important;
      }
    }
  </style>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-one-half how-it-works">
        <h2 class="h3">Why report?</h2>
        <p>By reporting a trade barrier you can get the help you need, and also provide information which will help us to focus resources where they can be most effective.</p>
        <p>Our team will review your report and respond to it within five working days.</p>
        <h3 class="h3">Your data and privacy</h3>
        <p>We'll respect any needs you have for confidentiality, and we'll keep you updated on progress.</p>
        <h2 class="h3">How it works</h2>
        <ul>
          <li>Tell us about a problem you’re experiencing</li>
          <li>Tell us how you think it should be handled</li>
          <li>Get the right kind of help</li>
          <li>Keep your information confidential</li>
          <li>Get updates on progress</li>
        </ul>
      </div>
      <div class="column-one-half">
        <h2 class="h3">In an emergency</h2>
        <p><a href="{% url 'request-fast-track' %}">Request a fast track response to a trade barrier problem</a></p>
        <p>Only make a fast track request if:</p>
        <p>
        - you are facing significant and imminent financial or other loss<br>
        - you need action to be taken within the next 48 hours
        </p>
      </div>
    </div>
  </div>

{% endblock %}
