{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block head_title %}Trade barriers{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Report a trade barrier</strong>
        </div>
    </div>
  </div>

  <div class="dit-hero" style="background-image: url({% static 'images/placeholder-hero.png' %});">
    <div class="outer-container">
      <div class="grid-container grid-container--inner">
        <div class="column-full dit-hero__copy">
            <h1 class="dit-hero__title">{% trans "Report if this affects you" %}</h1>
            <p class="dit-hero__summary">{{ barrier.title }}</p>
            <div class="grid-container grid-container--inner">
              <div class="column-two-third">
                <p class="dit-hero__summary">
                  Country: {{ barrier.country }}<br>
                  {% if barrier.sectors_text %}Sector: {{ barrier.sectors_text }}<br>{% endif %}
                  Barrier type: {% for type in barrier.barrier_types.all %}{{ type }}{% endfor %}
                </p>

                <p class="dit-hero__summary">{{ barrier.summary }}</p>
              </div>
              <div class="column-one-third">
                <form action="{% url 'report-barrier-task-list' %}" method="get">
                  <input type="hidden" name="existing" value="true">
                  <button type="submit" class="button button-red button-large">Start your report</button>
                </form>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-full">
        <h2 class="h3">Why report the problem?</h2>
        <p>By reporting a trade barrier you can get the help you need and also help us to understand the issues businesses are facing and to concentrate our resources where they are most needed.</p>
        <p>Our team will review your report and respond to it within five days. </p>
        <p>Learn more about your target market in our <a href="javascript:void(0);">export country profiles</a></p>
    </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-one-half" style="border-right: 1px solid #979797;">
        <h2 class="h3">How it works</h2>
        <ol class="dit-number-list">
          <li>Tell us about you/your role</li>
          <li>Describe the problem</li>
          <li>Select the trade barrier from a list</li>
          <li>Review next steps</li>
          <li>Provide additional information that may help us</li>
        </ol>
        <p>We'll respect any needs you have for confidentiality, and we'll keep
you updated on progress.</p>
        <form action="{% url 'report-barrier-step1' %}" method="get">
          <input type="hidden" name="existing" value="true">
          <button type="submit" class="button button-red button-large float--right push--right">Start your report</button>
        </form>
      </div>
      <div class="column-one-half">
        <h2 class="h3">In an emergency</h2>
        <p><a href="{% url 'request-fast-track' %}">Request a fast track response to a trade barrier problem</a></p>
        <p>Only make a fast track request if:</p>
        <p>
          - you are facing significant and imminent financial or other loss<br>
          - you need action to be taken within the next 48 hours
        </p>
      </div>
    </div>
  </div>

{% endblock %}
