{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Thank you{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Thank you</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-two-third">
        <h1 class="h3 push--top">Thank you</h1>
        <p class="push--top"><strong>You will shortly receive an email to confirm this submission.</strong> We will process your report within five days and contact you to keep you updated.</p>
        <p>Your case number is: XXXXXX</p>

        <div class="panel panel--border-top-none">
          <h2 class="h3">Stay updated</h1>
          <p>Save this report to your trade profile, and get updates from UK government</p>
          <div class="dit-create-parent">
            <a href="" class="button button-blue push--right flush--bottom ">Create a Trade Profile</a>
          </div>
          <a href="" class="button button-blue push--left flush--bottom ">Log in to your Trade Profile</a>
          <p style="clear:both;"><br><a href="javascript:void(0);">Find out more about Trade Profiles here</a></p>
        </div>

      </div>
    </div>
  </div>

{% endblock %}
