{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Trade profile{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="javascript:void(0);">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Trade profile</strong>
        </div>
    </div>
  </div>
  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-two-third">
        <div class="dit-infostrip">
          <h1 id="title">Would you like to link this report to your existing trade profile or create a great.gov.uk trade profile?</h1>
        </div>
        <p id="old-buttons" aria-hidden="false"><button type="button" class="button button-blue" aria-controls="new-buttons" aria-labelledby="title" aria-expanded="false" id="yes-button">Yes</button>&nbsp; &nbsp;<a href="{% url 'report-barrier-success' %}" class="button button-blue" aria-labelledby="title" id="dit-no-button">No</a></p>
        <p class="hidden" id="new-buttons" aria-hidden="true">
          <a href="{% url 'report-barrier-success' %}" class="button button-blue">Create a trade profile</a>&nbsp;&nbsp;<a href="{% url 'report-barrier-success' %}" class="button button-blue">Log in to your great.gov.uk account</a>
        </p>
        <style>
          .js-disabled #yes-button{
            display: none;
          }
          .js-disabled #new-buttons{
            display: block;
          }
        </style>
      </div>
      <script>
        var oldButtons = document.getElementById('old-buttons');
        var yesButton = document.getElementById('yes-button');
        var newButtons = document.getElementById('new-buttons');

        yesButton.addEventListener('click', function(e){
          oldButtons.setAttribute('aria-hidden', 'true');
          oldButtons.classList.add('hidden');

          yesButton.setAttribute('aria-expanded', 'true');

          newButtons.setAttribute('aria-hidden', 'false');
          newButtons.classList.remove('hidden');
        });


      </script>
    </div>
  </div>

{% endblock %}
