{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block head_title %}Trade Barriers{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <strong>Report a Trade Barrier</strong>
        </div>
    </div>
  </div>

  <div class="dit-hero" style="background-image: url({% static 'images/placeholder-hero.png' %});">
    <div class="outer-container">
      <div class="grid-container grid-container--inner">
        <div class="column-full dit-hero__copy">
            <h1 class="dit-hero__title">{% trans "Report a trade barrier" %}</h1>
            <p class="dit-hero__summary">The government works with the WTO and other governments around the world to reduce the impact of trade barriers. Departments and agencies
work together to understand the problems and develop action plans to resolve them. Steps may include using our representatives abroad, Ministerial visits, or direct negotiations with overseas governments or the WTO.</p>
            <div class="grid-container grid-container--inner">
              <div class="column-two-third">
                <p class="dit-hero__summary">By reporting a trade barrier you can get the help you need, and also provide information
which will help us to focus resources where they can be most effective. </p>
              </div>
              <div class="column-one-third">
                <a href="{% url 'report-barrier-step1' %}" class="button button-red button-large">Report a barrier</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <div class="outer-container">
    <div class="grid-container grid-container--inner">
      <div class="column-one-half" style="border-right: 1px solid #979797;">
        <h2 class="h3">How it works</h2>
        <ol class="dit-number-list">
          <li>Tell us about you/your role</li>
          <li>Describe the problem</li>
          <li>Select the trade barrier from a list</li>
          <li>Review next steps</li>
          <li>Provide additional information that may help us</li>
        </ol>
        <p>We'll respect any needs you have for confidentiality, and we'll keep
you updated on progress.</p>
        <p><a href="{% url 'report-barrier-step1' %}" class="button button-red button-large float--right push--right">Report a barrier</a></p>
      </div>
      <div class="column-one-half">
        <h2 class="h3">In an emergency</h2>
        <p><a href="{% url 'request-fast-track' %}">Request a fast track response to a trade barrier problem</a></p>
        <p>Only make a fast track request if:</p>
        <p>
          - you are facing significant and imminent financial or other loss<br>
          - you need action to be taken within the next 48 hours
        </p>
      </div>
    </div>
  </div>

{% endblock %}
