{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 1 of 7: About you{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 1 - About you</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        <div class="h4">Section</div>
        <ol>
          <li class="is-selected"><span>1 About you</span></li>
          <li><a href="{% url 'report-barrier-step2' %}"><span>2 About your organisation</span></a></li>
          <li><a href="{% url 'report-barrier-step3' %}"><span>3 About the problem</span></a></li>
          <li><a href="{% url 'report-barrier-step4' %}"><span>4 Select the type of barrier</span></a></li>
          <li><a href="{% url 'report-barrier-step5' %}"><span>5 Working out the next steps</span></a></li>
          <li><a href="{% url 'report-barrier-step6' %}"><span>6 Any other details</span></a></li>
          <li>7 Summary</li>
        </ol>
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Section 1 of 7: About you</h1>
        <form action="{% url 'report-barrier-step2' %}" method="post" class="dit-form">
          {% csrf_token %}

          {% include 'components/form-validation.html' %}

          <div class="form-group">
            <label class="form-label" for="dit-step1-your-name">
              Your name
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your name</span>
            <input class="form-control" id="dit-step1-your-name" type="text" name="dit[step1][your_name]" required>
          </div>

          <div class="form-group">
            <fieldset>

              <legend class="visuallyhidden">
                Describe your position
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether you are an exporter/seeking to export or working for a trade association</span>

              <div class="multiple-choice">
                <input id="dit-step1-type-1" name="dit[step1][type]" value="I am an exporter/seeking to export" type="radio">
                <label for="dit-step1-type-1">I am an exporter/seeking to export</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-type-2" name="dit[step1][type]" value="I work for a trade association" type="radio" required>
                <label for="dit-step1-type-2">I work for a trade association</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step1-your-role-job-title">
              Your role / job title
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your role / your title</span>
            <input class="form-control" id="dit-step1-your-role-job-title" type="text" name="dit[step1][your_role_job_title]" required>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step1-email-address">
              Email address
            <span class="error-message hidden" aria-hidden="true">Enter an email address</span>
            </label>
            <input class="form-control" id="dit-step1-email-address" type="email" name="dit[step1][email_address]" required>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step1-contact-telephone-number">
              Contact telephone number
            <span class="error-message hidden" aria-hidden="true">Enter a contact number</span>
            </label>
            <input class="form-control" id="dit-step1-contact-telephone-number" type="tel" name="dit[step1][contact_telephone_number]" required>
          </div>

          <div class="dit-buttons">
            <button class="button button-blue" type="submit">Next</button>
            <button class="button button-transparent-blue button-border float--right js-save-button" type="submit">Save progress</button>
          </div>
        </form>
      </div>
    </div>
 </div>

{% endblock %}
