{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load addcss %}
{% block css %}
    {{ wizard.form.media }}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 5 of 7: Working out the next steps{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
        <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 5 of 7: Working out the next steps</strong>
      </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <form action="" method="post" class="dit-form">
        {% csrf_token %}
        {{ wizard.management_form }}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        {% include 'components/section-nav.html' %}
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Step 5 of 7: Working out the next steps</h1>
          {# include 'components/form-validation.html' #}

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.steps_taken_field.id_for_label }}">
              Tell us about any steps you have taken to resolve the problem, including:
              <span class="form-hint">
                - people you have contacted<br>
                - when you contacted them <br>
                - what happened
              </span>
            </label>
            {{ wizard.form.steps_taken_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.how_likely_to_be_resolved_field.id_for_label }}">
              Do you have a view on how the problem is most likely to be resolved?
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the outcome you are looking for</span>
            {{ wizard.form.how_likely_to_be_resolved_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label">What kind of UK government support would you like?</span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select the kind of UK government support you would like</span>

              <!-- TODO in Django -->
              <div class="multiple-choice">
                <input id="dit-step4-support-1" name="dit[step4][support]" value="None - this is for your information only" type="radio" >
                <label for="dit-step4-support-1">None - this is for your information only</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-2" name="dit[step4][support]" value="Local engagement only with UK government officials in the country I am trying to export to" type="radio" >
                <label for="dit-step4-support-2">Local engagement only with UK government officials in the country I am trying to export to</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-3" name="dit[step4][support]" value="Broader UK government involvement" type="radio" >
                <label for="dit-step4-support-3">Broader UK government involvement</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-4" name="dit[step4][support]" value="Not sure" type="radio" >
                <label for="dit-step4-support-4">Not sure</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.confidentiality_issues_field.id_for_label }}">
              Are there confidentiality issues that you need us to be aware of, e.g. commercial sensitivity?
            </label>
            {{ wizard.form.confidentiality_issues_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label">
                  We’d like to publish a summary of this problem on Great.gov.uk.
                  <span class="form-hint">
                     This will mean other UK exporters can be made aware of the problem and they may then report similar experiences. We will only publish a summary with your permission.<br /> <a href="{% url 'example-summary' %}" target="_blank">View an existing summary (opens in a new window)</a>
                  </span>
                </span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether or not you are happy for us to publish a summary of your problem</span>

              <div class="multiple-choice">
                <input id="dit-step4-publish-yes" name="dit[step4][publish]" value="Yes, I give my permission" type="radio" >
                <label for="dit-step4-publish-yes">Yes, I give my permission</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-publish-no" name="dit[step4][publish]" value="No, I don’t give my permission" type="radio" >
                <label for="dit-step4-publish-no">No, I don’t give my permission</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-publish-maybe" name="dit[step4][publish]" value="Don’t publish before consulting me " type="radio" >
                <label for="dit-step4-publish-maybe">Don’t publish before consulting me </label>
              </div>

            </fieldset>
          </div>

            {% include "components/wizard-prevnext-buttons.html" %}
      </div>
      </form>
    </div>
  </div>

{% endblock %}
