{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 6 of 6: Summary of your report{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
        <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 6 of 6: Summary of your report</strong>
      </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <div class="column-one-third dit-progress-bar">
        <div class="h4">Section</div>
        <ol>
          <li><a href="{% url 'report-barrier-step1' %}">1 About you</a></li>
          <li><a href="{% url 'report-barrier-step2' %}">2 About the problem</a></li>
          <li><a href="{% url 'report-barrier-step3' %}">3 Select the type of barrier</a></li>
          <li><a href="{% url 'report-barrier-step4' %}">4 Working out the next steps</a></li>
          <li><a href="{% url 'report-barrier-step5' %}">5 Any other details</a></li>
          <li class="is-selected">6 Summary</li>
        </ol>
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Step 6 of 6: Summary of your report</h1>
        <form action="{% url 'report-barrier-register' %}" method="post" class="dit-form">
          {% csrf_token %}

          {% include 'components/form-validation.html' %}
          <div class="dit-summary-sections dit-accordion-list" data-module="Accordion">

            <!-- Tab 1 -->
            <div class="dit-summary-section dit-accordion">
              <button type="button"
								class="dit-accordion__title h3" id="accordion-button1"
								aria-selected="false"
								role="tab"
								tabindex="0"
								aria-controls="accordion1"
								aria-expanded="false"
              >
							  About you
								<span class="dit-accordion__btn" aria-hidden="true">
									<span class="dit-accordion__toggle--show">+</span>
									<span class="dit-accordion__toggle--hide">-</span>
								</span>
              </button>
              <div
								id="accordion1"
								class="dit-accordion__body"
								aria-labelledby="accordion-button1"
								aria-hidden="true"
								role="tabpanel"
							>
  							<div class="dit-accordion__inner">
                  <div class="form-group">
                    <div class="form-label">Your name</div>
                    <div class="js-form-field" data-name="dit[step1][your_name]">Dr L. Ipsum</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Details</div>
                    <div class="js-form-field" data-name="dit[step1][type]">I am an exporter/seeking to export</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Organisation Name</div>
                    <div class="js-form-field" data-name="dit[step1][company_name]">Lorem Ipsum Ltd</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Companies House Number</div>
                    <div class="js-form-field" data-name="dit[step1][no_companies_house_number]">1234567890</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Organisation Address</div>
                    <div class="js-form-field" data-name="dit[step1][organisation_address]">123 Lorem Ipsum Road</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Your Role / Job Title</div>
                    <div class="js-form-field" data-name="dit[step1][your_role_job_title]">Lorem Ispum</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Email Address</div>
                    <div class="js-form-field" data-name="dit[step1][em,ail_address]">lorem@ipsum.com</div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Contact Telephone Number</div>
                    <div class="js-form-field" data-name="dit[step1][contact_telephone_number]">0776123456789</div>
                  </div>
  							</div>
              </div>
            </div>
            <!--/ Tab 1 -->

            <!-- Tab 2 -->
            <div class="dit-summary-section dit-accordion">
              <button type="button"
								class="dit-accordion__title h3" id="accordion-button2"
								aria-selected="false"
								role="tab"
								tabindex="0"
								aria-controls="accordion2"
								aria-expanded="false"
              >
							  About the problem
								<span class="dit-accordion__btn" aria-hidden="true">
									<span class="dit-accordion__toggle--show">+</span>
									<span class="dit-accordion__toggle--hide">-</span>
								</span>
              </button>
              <div
								id="accordion2"
								class="dit-accordion__body"
								aria-labelledby="accordion-button2"
								aria-hidden="true"
								role="tabpanel"
							>
  							<div class="dit-accordion__inner">
                  <div class="form-group">
                    <div class="form-label">
                      {% if is_trade_association == True %}
                        What product or service are your member(s) wanting to export?
                      {% else %}
                        What is the product or service you want to export?
                      {% endif %}
                    </div>
                    <div class="js-form-field" data-name="dit[step2][product]">Lorem ipsum</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">
                      {% if is_trade_association == True %}
                        Your product/commodity code
                      {% else %}
                        Your product/commodity code (if known/appropriate)
                      {% endif %}
                    </div>
                    <div class="js-form-field" data-name="dit[step2][code]">Lorem ipsum</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">Which country are you trying to export to?</div>
                    <div class="js-form-field" data-name="dit[step2][country]">Lorem ipsum</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">Provide a brief description of the problem: </div>
                    <div class="js-form-field" data-name="dit[step2][description]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>

                  <div class="form-group">
                    <div class="form-label">Do you export this product/service to other countries?</div>
                    <div class="js-form-field" data-name="dit[step4][export_yn]">Yes</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">If yes, have you experienced this problem in your other export markets?</div>
                    <div class="js-form-field" data-name="dit[step2][export_to_other_countries]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa.
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">
                      {% if is_trade_association == True %}
                        What impact do you expect this to have on your member(s)?
                      {% else %}
                        What impact do you expect this to have on your business?
                      {% endif %}
                      </div>
                    <div class="js-form-field" data-name="dit[step2][impact]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">What's the duration of the problem: </div>
                    <div class="js-form-field" data-name="dit[step2][duration]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">
                      {% if is_trade_association == True %}
                        Are any companies who are not members of your association affected?
                      {% else %}
                        Are any other companies affected?
                      {% endif %}
                      </div>
                    <div class="js-form-field" data-name="dit[step2][others_affected]">Yes</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">If yes, please describe below </div>
                    <div class="js-form-field" data-name="dit[step2][others_affected_details]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>
  							</div>
              </div>
            </div>
            <!--/ Tab 2 -->

            <!-- Tab 3 -->
            <div class="dit-summary-section dit-accordion">
              <button type="button"
								class="dit-accordion__title h3" id="accordion-button3"
								aria-selected="false"
								role="tab"
								tabindex="0"
								aria-controls="accordion3"
								aria-expanded="false"
              >
							  Select the type of barrier
								<span class="dit-accordion__btn" aria-hidden="true">
									<span class="dit-accordion__toggle--show">+</span>
									<span class="dit-accordion__toggle--hide">-</span>
								</span>
              </button>
              <div
								id="accordion3"
								class="dit-accordion__body"
								aria-labelledby="accordion-button3"
								aria-hidden="true"
								role="tabpanel"
							>
  							<div class="dit-accordion__inner">
                  <div class="form-group">
                    <div class="form-label">Choose the type(s) of barrier which best describes your problem. </div>
                    <div class="js-form-field" data-name="dit[step3][choice]">Burdensome customs procedures</div>
                  </div>
  							</div>
              </div>
            </div>
            <!--/ Tab 3 -->

            <!-- Tab 4 -->
            <div class="dit-summary-section dit-accordion">
              <button type="button"
								class="dit-accordion__title h3" id="accordion-button4"
								aria-selected="false"
								role="tab"
								tabindex="0"
								aria-controls="accordion4"
								aria-expanded="false"
              >
							  Working out the next steps
								<span class="dit-accordion__btn" aria-hidden="true">
									<span class="dit-accordion__toggle--show">+</span>
									<span class="dit-accordion__toggle--hide">-</span>
								</span>
              </button>
              <div
								id="accordion4"
								class="dit-accordion__body"
								aria-labelledby="accordion-button4"
								aria-hidden="true"
								role="tabpanel"
							>
  							<div class="dit-accordion__inner">
                  <div class="form-group">
                    <div class="form-label">Tell us about any steps you have taken to resolve the problem: </div>
                    <div class="js-form-field" data-name="dit[step4][steps]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">What outcome are you looking for? </div>
                    <div class="js-form-field" data-name="dit[step4][outcome]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">What kind of UK Government support would you like? </div>
                    <div class="js-form-field" data-name="dit[step4][support]">Broader UK Government involvement</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">Are there confidentiality issues that you need us to be aware of, e.g. commercial sensitivity </div>
                    <div class="js-form-field" data-name="dit[step4][confidentiality]">N/a</div>
                  </div>
                  <div class="form-group">
                    <div class="form-label">Are you happy for us to publish a summary of your problem on Great.gov.uk?</div>
                    <div class="js-form-field" data-name="dit[step4][publish]">Yes</div>
                  </div>

  							</div>
              </div>
            </div>
            <!--/ Tab 4 -->

            <!-- Tab 5 -->
            <div class="dit-summary-section dit-accordion">
              <button type="button"
								class="dit-accordion__title h3" id="accordion-button5"
								aria-selected="false"
								role="tab"
								tabindex="0"
								aria-controls="accordion5"
								aria-expanded="false"
              >
							  Any other details
								<span class="dit-accordion__btn" aria-hidden="true">
									<span class="dit-accordion__toggle--show">+</span>
									<span class="dit-accordion__toggle--hide">-</span>
								</span>
              </button>
              <div
								id="accordion5"
								class="dit-accordion__body"
								aria-labelledby="accordion-button5"
								aria-hidden="true"
								role="tabpanel"
							>
  							<div class="dit-accordion__inner">
                  <div class="form-group">
                    <div class="form-label">Is there anything else you would like us to understand about the situation? </div>
                    <div class="js-form-field" data-name="dit[step5][extra]">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean scelerisque suscipit vulputate. Aliquam vitae congue arcu. In congue mi non orci elementum, ut imperdiet nisi ultricies. Nulla in mollis mi. Aliquam sit amet nisl id ex auctor scelerisque hendrerit at nunc. Pellentesque ultricies molestie quam. Proin ultrices hendrerit risus id eleifend. Aliquam erat volutpat. Cras tempus lorem massa. </div>
                  </div>
  							</div>
              </div>
            </div>
            <!--/ Tab 5 -->

          </div>
          <div class="dit-buttons">
            <a href="{% url 'report-barrier-step5' %}" class="button button-white button-border">Back</a>
            <button class="button button-red" type="submit">Submit</button>
            <button class="button button-transparent-blue button-border float--right js-save-button" type="submit">Save Progress</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
