{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load addcss %}
{% block css %}
<style>
  .select2-container{
    background-color: inherit;
    border: 1px solid #6f777b;
    display: block;
    width: 75% !important;
  }

  .select2-container input{
    font-family: "Roboto",arial,helvetica,sans-serif;
    font-size: 16px;
    padding: 10px;
  }

  .select2-selection__choice{
    position: relative;
    top: -3px;
  }

  .select2-container{
    max-width: 560px !important;
  }

  .select2-search__field{
    appearance: none;
    border: none;
  }
</style>
    {{ wizard.form.media }}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 3 of 7: About the problem{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 2 of 7: About the problem</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <form action="" method="post" class="dit-form">
        {% csrf_token %}
        {{ wizard.management_form }}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        {% include 'components/section-nav.html' %}
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Section 3 of 7: About the problem</h1>
          {# include 'components/form-validation.html' #}
          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.product_text_field.id_for_label }}">
              {% if is_trade_association == True %}
                What product or service are your member(s) wanting to export?
              {% else %}
                What is the product or service you want to export?
              {% endif %}
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a product or service</span>
            {{ wizard.form.product_text_field|addcss:"form-control" }}
            <!-- input class="form-control" id="dit-step2-product" type="text" name="dit[step2][product]" required -->
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.product_codes_field.id_for_label }}">
              List the relevant commodity code or codes, if known
              <span class="form-hint">
                Commodity codes/HS codes are part of an internationally standardised system of names and numbers to classify traded products. You can <a href="https://www.gov.uk/trade-tariff">look up commodity codes on GOV.UK</a>.
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your product/commodity code</span>
            <textarea class="form-control" id="dit-step2-code" name="dit[step2][code]" rows="3" cols="10"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.countries_field.id_for_label }}">
              Which country/bloc are you trying to export to?
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a country/bloc</span>
            {# wizard.form.countries_field #}
            <select id="dit-step2-country" name="dit[step2][country]" autocomplete="off" class="form-control select-custom select2-hidden-accessible" data-placeholder="Type to find country" multiple>
              {% include 'components/countries.html' %}
            </select>
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.problem_description_field.id_for_label }}">
              Provide a brief description of the problem, including:
              <span class="form-hint">
                - What is obstructing your export<br>
                - Any explanation you've been given
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter a brief description of the problem</span>
            {{ wizard.form.problem_description_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label" title="export-yn">
                  Have you experienced this problem in other markets?
                </span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether you have experienced this problem in other markets or not</span>

            <!-- TODO fi this for Django forms -->
              <div class="multiple-choice">
                <input id="dit-step4-export-yn-yes" name="dit[step4][export_yn]" value="Yes" type="radio" class="js-dit-toggle-field" aria-expanded="false" aria-controls="js-dit-export-to-other-countries">
                <label for="dit-step4-export-yn-yes">Yes</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-export-yn-no" name="dit[step4][export_yn]" value="No" type="radio" >
                <label for="dit-step4-export-yn-no">No</label>
              </div>
            </fieldset>
          </div>
          <div class="form-group form-group-child hidden" id="js-dit-export-to-other-countries" aria-hidden="true">
            <label class="form-label" for="{{ wizard.form.export_to_other_countries_description_field.id_for_label" aria-labelledby="export-yn">
              If yes, provide details of the problem, explanations given, and any steps taken to resolve the problem
            </label>
            <span class="error-message hidden" aria-hidden="true">Provide details of the problem, explanations given, and any steps taken to resolve the problem</span>
            <textarea class="form-control" id="dit-step2-export-to-other-countries" name="dit[step2][export_to_other_countries]" rows="10" cols="5"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ impact_you_would_expect_field.id_for_label }}">
              {% if is_trade_association == True %}
                What impact do you expect this to have on your member(s)?
              {% else %}
                What impact would you expect the problem to have on your business if it is not resolved?
                <span class="form-hint">
                  If possible, include an estimate of the financial value of sales lost over a five year period.
                </span>
              {% endif %}
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the impact you expect this to have</span>
            {{ wizard.form.impact_you_would_expect_field|addcss:"form-control" }}
          </div>

          {% if is_trade_association == True %}

          {% else %}
          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.annual_turnover_field.id_for_label }}">
              What is your company's annual turnover?

              <span class="form-hint">
                Leave blank if you are unsure
              </span>
            </label>
            {{ wizard.form.annual_turnover_field|addcss:"form-control" }}
          </div>
          {% endif %}

          <!--
          <div class="form-group multiple-choice">
            <input id="dit-step2-sales-dont-know" name="dit[step2][sales_dont_know]" value="Don't Know Sales Figures" type="radio">
            <label for="dit-step2-sales-dont-know">Don't know</label>
          </div>-->

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.problem_duration_field.id_for_label }}">
              What's the duration of the problem, including:
              <span class="form-hint">
                - When it started<br>
                - If it's a one-off, ongoing or anticipated problem
              </span>
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the duration of the problem</span>
            {{ wizard.form.problem_duration_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <fieldset class="inline">

              <legend class="form-label">
                {% if is_trade_association == True %}
                  Are any companies who are not members of your association affected?
                {% else %}
                  Are any other companies affected?
                {% endif %}
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether this affects other companies</span>

              <div class="multiple-choice">
                <input id="dit-step2-others-affected-yes" name="dit[step2][others_affected]" value="Yes" type="radio" class="js-dit-toggle-field" aria-expanded="false" aria-controls="js-dit-others-affected-details">
                <label for="dit-step2-others-affected-yes">Yes</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-others-affected-no" name="dit[step2][others_affected]" value="No" type="radio">
                <label for="dit-step2-others-affected-no">No</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step2-others-affected-dont-know" name="dit[step2][others_affected]" value="Don't Know" type="radio">
                <label for="dit-step2-others-affected-dont-know">Don't know</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group form-group-child hidden" aria-hidden="true" id="js-dit-others-affected-details">
            <label class="form-label form-label--light" for="{{ wizard.form.other_companies_affected_field.label_for_id }}">
              If you can, list the other companies affected by the problem.
            </label>
            <span class="error-message hidden" aria-hidden="true">List the other companies affected by the problem</span>
            {{ wizard.form.other_companies_affected_field|addcss:"form-control" }}
          </div>

            {% include "components/wizard-prevnext-buttons.html" %}
      </div>
      </form>
    </div>
  </div>

{% endblock %}
