{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load addcss %}
{% block css %}
    {{ wizard.form.media }}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 5 of 7: Any other details{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
        <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 6 of 7: Any other details</strong>
      </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <form action="" method="post" class="dit-form">
        {% csrf_token %}
        {{ wizard.management_form }}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        {% include 'components/section-nav.html' %}
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Section 6 of 7: Any other details?</h1>
          {# include 'components/form-validation.html' #}

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.any_other_details_field.id_for_label }}">
              Is there anything else you would like us to understand about the situation?
            </label>
            {{ wizard.form.any_other_details_field|addcss:"form-control" }}
          </div>

            {% include "components/wizard-prevnext-buttons.html" %}
      </div>
      </form>
    </div>
  </div>

{% endblock %}
