{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a trade barrier</a> <span aria-hidden="true">></span> <strong>Section 1 - About you</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      {% if existingbarrier or existingnotification %}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
      </div>
      {% endif %}
      <div class="column-two-third">
        <h1 class="h2">Report a trade barrier</h1>
        <div class="dit-infostrip">
          <p>Review your answers before submitting your report.</p>
        </div>
        <form action="{% url 'report-barrier-register' %}" method="get">
          <input type="hidden" name="existing" value="false">
          <button type="submit" class="button button-green button-large">Submit</button>
        </form>
        <ol class="dit-task-list">
          <li>
            <a href="{% url 'report-barrier-step1' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About you</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step1' %}#your-details">Your details</a> <span class="dit-task-list__status">completed</span></li>
              <li><a href="{% url 'report-barrier-step1' %}#your-role">Your role</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step2' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About your organisation</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step2' %}#organisation-details">Organisation details</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step3' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">About the problem and its impact</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step3' %}#your-product">Your product or service</a> <span class="dit-task-list__status">completed</span></li>
              <li><a href="{% url 'report-barrier-step3' %}#the-problem">The problem</a> <span class="dit-task-list__status">completed</span></li>
              <li><a href="{% url 'report-barrier-step3' %}#the-impact">The impact on your business</a> <span class="dit-task-list__status">completed</span></li>
              <li><a href="{% url 'report-barrier-step3' %}#other-companies">Other affected companies</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step4' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Select the type of barrier</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step4' %}">Type of barrier</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step5' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Working out the next steps</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step5' %}#steps">Steps already taken, your view and support needed</a> <span class="dit-task-list__status">completed</span></li>
              <li><a href="{% url 'report-barrier-step5' %}#other">Any other details</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
          <li>
            <a href="{% url 'report-barrier-step6' %}" class="dit-task-list__step"><span class="dit-task-list__step-title">Confidentiality and privacy</span></a>
            <ul>
              <li><a href="{% url 'report-barrier-step6' %}">Confidentiality and privacy</a> <span class="dit-task-list__status">completed</span></li>
            </ul>
          </li>
        </ol>
        {% if logged_in %}
        <form action="{% url 'report-barrier-success' %}" method="get">
        {% else %}
        <form action="{% url 'report-barrier-register' %}" method="get">
        {% endif %}
          <input type="hidden" name="existing" value="false">
          <button type="submit" class="button button-green button-large">Submit</button>
        </form>
      </div>
    </div>
 </div>

{% endblock %}
