{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 4 of 6: Working out the next steps{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
        <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade Barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 4 of 6: Working out the next steps</strong>
      </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' %}
        <div class="h4">Section</div>
        <ol>
          <li><a href="{% url 'report-barrier-step1' %}"><span>1: About you</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li><a href="{% url 'report-barrier-step2' %}"><span>2: About the problem</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li><a href="{% url 'report-barrier-step3' %}"><span>3: Select the type of barrier</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li class="is-selected">4: Working out the next steps</li>
          <li><a href="{% url 'report-barrier-step5' %}">5: Any other details</a></li>
          <li>6: Summary</li>
        </ol>
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Step 4 of 6: Working out the next steps</h1>
        <form action="{% url 'report-barrier-step5' %}" method="post" class="dit-form">
          {% csrf_token %}

          {% include 'components/form-validation.html' %}

          <div class="form-group">
            <label class="form-label" for="dit-step4-steps-taken">
              Tell us about any steps you have taken to resolve the problem, including:
              <span class="form-hint">
                - people you have contacted<br>
                - when you contacted them <br>
                - what happened
              </span>
            </label>
            <textarea class="form-control" id="dit-step4-steps-taken" name="dit[step4][steps_taken]" rows="5" cols="10"></textarea>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step4-outcome">
              Do you have a view on how the problem is most likely to be resolved?
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter the outcome you are looking for</span>
            <textarea class="form-control" id="dit-step4-outcome" name="dit[step4][outcome]" rows="5" cols="10" required></textarea>
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label">What kind of UK Government support would you like?</span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select the kind of UK Government support you would like</span>

              <div class="multiple-choice">
                <input id="dit-step4-support-1" name="dit[step4][support]" value="None - this is for your information only" type="radio" required>
                <label for="dit-step4-support-1">None - this is for your information only</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-2" name="dit[step4][support]" value="Local engagement only with UK Government officials in the country I am trying to export to" type="radio" required>
                <label for="dit-step4-support-2">Local engagement only with UK Government officials in the country I am trying to export to</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-3" name="dit[step4][support]" value="Broader UK Government involvement" type="radio" required>
                <label for="dit-step4-support-3">Broader UK Government involvement</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step4-support-4" name="dit[step4][support]" value="Not sure" type="radio" required>
                <label for="dit-step4-support-4">Not sure</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="dit-step4-confidentiality">
              Are there confidentiality issues that you need us to be aware of, e.g. commercial sensitivity
            </label>
            <textarea class="form-control" id="dit-step4-confidentiality" name="dit[step4][confidentiality]" rows="5" cols="10"></textarea>
          </div>

          <div class="form-group">
            <fieldset>

              <legend>
                <span class="form-label">
                  We’d like to publish a summary of this problem on Great.gov.uk.
                  <span class="form-hint">
                     This will mean other UK exporters can be made aware of the problem and they may then report similar experiences. We will only publish a summary with your permission.<br /> <a href="{% url 'example-summary' %}" target="_blank">View an existing summary (opens in a new window)</a>
                  </span>
                </span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether or not you are happy for us to publish a summary of your problem</span>

              <div class="multiple-choice">
                <input id="dit-step4-publish-yes" name="dit[step4][publish]" value="Yes, I give my permission" type="radio" required>
                <label for="dit-step4-publish-yes">Yes, I give my permission</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-publish-no" name="dit[step4][publish]" value="No, I don’t give my permission" type="radio" required>
                <label for="dit-step4-publish-no">No, I don’t give my permission</label>
              </div>

              <div class="multiple-choice">
                <input id="dit-step4-publish-maybe" name="dit[step4][publish]" value="Don’t publish before consulting me " type="radio" required>
                <label for="dit-step4-publish-maybe">Don’t publish before consulting me </label>
              </div>

            </fieldset>
          </div>

          <div class="dit-buttons">
            <a href="{% url 'report-barrier-step3' %}" class="button button-white button-border">Back</a>
            <button class="button button-blue" type="submit">Next</button>
            <button class="button button-transparent-blue button-border float--right js-save-button" type="submit">Save Progress</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
