{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <style>
    </style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 2 of 6: About you{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="javascript:void(0);">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 2 of 6: About your organisation</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
        <div class="h4">Section</div>
        <ol class="dit-task-list">
          <li><a href="{% url 'report-barrier-step1' %}"><span>1 About you</span> <img src="{% static 'images/tick.svg' %}" alt="Completed step"></a></li>
          <li class="is-selected">2 About your organisation</li>
          <li><a href="{% url 'report-barrier-step3' %}"><span>3 About the problem</span></a></li>
          <li><a href="{% url 'report-barrier-step4' %}"><span>4 Select the type of barrier</span></a></li>
          <li><a href="{% url 'report-barrier-step5' %}"><span>5 Working out the next steps</span></a></li>
          <li><a href="{% url 'report-barrier-step6' %}"><span>6 Confidentiality and privacy</span></a></li>
        </ol>
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom dit-report-title">Section 2 of 6: About your organisation</h1>
        <form action="{% url 'report-barrier-step3' %}" method="post" class="dit-form" novalidate>
          {% csrf_token %}

          {% include 'components/form-validation.html' %}

          <div class="form-group">
            <label class="form-label" for="dit-step1-company-name">
              Organisation details
            </label>
            <span class="form-hint">Look up your organisation details on the Companies House database. You can
enter one or more of the organisation name, post code and company number. </span>
            <span class="error-message hidden" aria-hidden="true">Enter an organisation name</span>
            <input class="form-control js-companies-house-input" id="dit-step1-company-name" type="text" name="dit[step1][company_name]" required>
          </div>

          <div class="form-group">
            <span class="error-message hidden" aria-hidden="true">Enter an organisation name to search with</span>
            <button class="button button-blue js-companies-house" id="companies-house-button" type="button" aria-expanded="false" aria-controls="companies-house-results" data-copy-loading="Searching Companies House database..." data-copy-original="Search Companies House">Search Companies House</button>
          </div>

          <div class="form-group hidden js-companies-house-list form-group-child" aria-hidden="true" id="companies-house-results">
            <fieldset>

              <legend>
                <h2 class="form-label" style="width: 100%;">
                  Companies House listings
                </h2>
              </legend>

              <span class="form-hint js-companies-count-feedback hidden" aria-hidden="true"></span>

              <span class="error-message hidden" aria-hidden="true">Choose organisation from the list</span>

              <div class="push--top js-companies-house-callback">

              </div>
            </fieldset>
          </div>
          <script type="text/template" class="js-companies-house-template">
            <div class="multiple-choice">
                <input id="dit-step1-{NUMBER}" name="dit[step1][organisation_name_radio]" value="{NUMBER}" type="radio">
                <label for="dit-step1-{NUMBER}" class="form-label">
                  {NAME}
                  <span class="form-hint">{ADDRESS}</span>
                  <span class="form-hint">{DESCRIPTION}</span>
                </label>
              </div>
          </script>

          <script type="text/template" class="js-companies-house-template-count-feedback">
            There are {COUNT} results for your search. If you do not see your organisation here try searching again with a more specific search term.
          </script>

          <script type="text/template" class="js-companies-house-template-error">
            <p>There are no results for your search, please try again with a different search term or if you do not have a Companies House number check the 'My organisation is not registered with Companies House' box below.</p>
          </script>

          <script type="text/template" class="js-companies-house-template-fail">
            <p>There was a problem with the Companies House Search. Please try again or check the 'My organisation is not registered with Companies House' box below and fill in your organisation address manually.</p>
          </script>

          <div class="form-group">
            <div class="multiple-choice">
              <input name="dit[step1][no_companies_house_number]" value="false" type="hidden">
              <input id="dit-step1-no-companies-house" name="dit[step1][no_companies_house_number]" value="My organisation is no registered with Companies House" type="checkbox" class="js-dit-toggle-field" aria-expanded="false" aria-controls="js-company-address">
              <label for="dit-step1-no-companies-house">My organisation is not registered with Companies House</label>
            </div>
          </div>

          <fieldset class="hidden" id="js-company-address" aria-hidden="true">

            <legend class="form-label">Enter your organisation details</legend>

            <div class="form-group form-group-child">
            <label class="form-label" for="dit-step1-organisation-name">
              Organisation name
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter an organisation name</span>
            <input class="form-control" id="dit-step1-organisation-name" type="text" name="dit[step1][organisation_name]">
          </div>

            <div class="form-group  form-group-child">
              <label class="form-label" for="dit-step1-organisation-address">
                Address first line and city/town
              </label>
              <span class="error-message hidden" aria-hidden="true">Enter the organisation address first line and city/town</span>
              <input class="form-control" id="dit-step1-organisation-address" type="text" name="dit[step1][organisation_address]">
            </div>

            <div class="form-group form-group-child">
              <label class="form-label" for="dit-step1-organisation-postcode">
                Postcode
              </label>
              <span class="error-message hidden" aria-hidden="true">Enter the organisation postcode</span>
              <input class="form-control" id="dit-step1-organisation-postcode" type="text" name="dit[step1][organisation_postcode]">
            </div>

          </fieldset>

          {% if is_trade_association == True %}
          <div class="form-group required-checkboxes">
            <fieldset>

              <legend class="form-label">
                What is the annual turnover of the companies in the industry you represent?
              </legend>

              <span class="error-message hidden" aria-hidden="true">Enter the annual turnover of the companies in the industry you represent</span>

              <div class="multiple-choice">
                <input id="dit-step1-trade-association-value-0-1" name="dit[step1][trade_association_value]" value="0-1" type="radio" required>
                <label for="dit-step1-trade-association-value-0-1">less than £1m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-trade-association-value-1-10" name="dit[step1][trade_association_value]" value="1-10" type="radio">
                <label for="dit-step1-trade-association-value-1-10">£1m &ndash; £9m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-trade-association-value-10-100" name="dit[step1][trade_association_value]" value="10-100" type="radio">
                <label for="dit-step1-trade-association-value-10-100">£10m &ndash; £100m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-trade-association-value-100-plus" name="dit[step1][trade_association_value]" value="100+" type="radio">
                <label for="dit-step1-trade-association-value-100-plus">More than £100m</label>
              </div>

            </fieldset>
          </div>
          {% else %}
          <div class="form-group required-checkboxes">
            <fieldset>

              <legend class="form-label">
                What is the annual turnover of your organisation? <span style="font-weight: normal;">(Optional)</span>
              </legend>

              <span class="error-message hidden" aria-hidden="true">Estimate the annual turnover</span>

              <div class="multiple-choice">
                <input id="dit-step1-employees-0-1" name="dit[step1][annual_turnover]" value="Less than £1M" type="radio" required>
                <label for="dit-step1-annual_turnover-0-1">Less than £1m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-annual_turnover-1-10" name="dit[step1][annual_turnover]" value="£1M - £50M" type="radio">
                <label for="dit-step1-annual_turnover-1-10">£1m &ndash; £49m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-annual_turnover-10-100" name="dit[step1][annual_turnover]" value="£50M - £250M" type="radio">
                <label for="dit-step1-annual_turnover-10-100">£50m &ndash; £249m</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-annual_turnover-100-plus" name="dit[step1][annual_turnover]" value="Over £250M" type="radio">
                <label for="dit-step1-annual_turnover-100-plus">Over £250m</label>
              </div>

            </fieldset>
          </div>
          <div class="form-group">
            <fieldset>

              <legend class="form-label">
                How many employees work for your organisation? <span style="font-weight: normal;">(Optional)</span>
              </legend>

              <div class="multiple-choice">
                <input id="dit-step1-employees-0-1" name="dit[step1][employees]" value="Fewer than 50" type="radio">
                <label for="dit-step1-employees-0-1">Fewer than 50</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-employees-1-10" name="dit[step1][employees]" value="50-500" type="radio">
                <label for="dit-step1-employees-1-10">50 &ndash; 499</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-employees-10-100" name="dit[step1][employees]" value="500-5000" type="radio">
                <label for="dit-step1-employees-10-100">500 &ndash; 5000</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-employees-100-plus" name="dit[step1][employees]" value="More than 5000" type="radio">
                <label for="dit-step1-employees-100-plus">More than 5000</label>
              </div>

            </fieldset>
          </div>
          {% endif %}


          <div class="dit-buttons"><a href="{% url 'report-barrier-step1' %}" class="button button-transparent-blue button-border" aria-label="Step 1">Back</a>
            <button class="button button-blue" type="submit">Next</button>
            <a  href="{% url 'report-barrier-step2' %}/save" class="button button-transparent-grey button-border float--right">Save progress</a>
          </div>
        </form>
      </div>
    </div>
 </div>

{% endblock %}
