{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load addcss %}
{% block css %}
    <style>
    </style>
    {{ wizard.form.media }}
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Report a trade barrier - Section 1 of 7: About you{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block css_layout_class %}
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <a href="{% url 'report-barrier' %}">Report a barrier</a> <span aria-hidden="true">></span> <strong>Section 1 - About you</strong>
        </div>
    </div>
  </div>
  <div class="outer-container push--top">
    <div class="grid-container grid-container--inner">
      <form action="" method="post" class="dit-form">
        {% csrf_token %}
        {{ wizard.management_form }}
      <div class="column-one-third dit-progress-bar">
        {% include 'components/form-existing-message.html' with existingbarrier=existingbarrier %}
          {# include 'components/form-validation.html' #}
          {% include 'components/section-nav.html' %}
      </div>
      <div class="column-two-third">
        <h1 class="h3 push--bottom push--top">Section 1 of 7: About you</h1>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.name_field.id_for_label }}">
              Your name
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your name</span>
            {{ wizard.form.name_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <fieldset>

              <legend class="visuallyhidden">
                Describe your position
              </legend>

              <span class="error-message hidden" aria-hidden="true">Select whether you are an exporter/seeking to export or working for a trade association</span>

              <!-- TODO in Django forms -->
              <div class="multiple-choice">
                {{ wizard.form.org_type_field }}
                <!-- input id="dit-step1-type-1" name="dit[step1][type]" value="I am an exporter/seeking to export" type="radio" -->
                <label for="{{ wizard.form.org_type_field.id_for_label }}">I am an exporter/seeking to export</label>
              </div>
              <div class="multiple-choice">
                <input id="dit-step1-type-2" name="dit[step1][type]" value="I work for a trade association" type="radio">
                <label for="dit-step1-type-2">I work for a trade association</label>
              </div>

            </fieldset>
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.role_field.id_for_label }}">
              Your role / job title
            </label>
            <span class="error-message hidden" aria-hidden="true">Enter your role / your title</span>
            {{ wizard.form.role_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.email_address_field.id_for_label }}">
              Email address
            <span class="error-message hidden" aria-hidden="true">Enter an email address</span>
            </label>
            {{ wizard.form.email_address_field|addcss:"form-control" }}
          </div>

          <div class="form-group">
            <label class="form-label" for="{{ wizard.form.telephone_number_field.id_for_label }}">
              Contact telephone number
            <span class="error-message hidden" aria-hidden="true">Enter a contact number</span>
            </label>
            {{ wizard.form.telephone_number_field|addcss:"form-control" }}
          </div>

          {% include "components/wizard-prevnext-buttons.html" %}
      </div>
      </form>
    </div>
 </div>

{% endblock %}
