{% extends './govuk_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
    <link href="{% static 'main.css' %}" media="all" rel="stylesheet" />
    <link href="{% static 'dit-alpha.css' %}" media="all" rel="stylesheet" />
    <style>

    </style>
{% endblock %}
{% block bodyScripts %}
{% endblock bodyScripts %}
{% block head_title %}Trade barriers{% endblock %}
{% block sub_header %}{# prevent the subheader from showing on form pages #}{% endblock %}
{% block hero_title %}
Get seen by motivated overseas buyers
{% endblock %}

{% block css_layout_class %}
tr-home
{% endblock %}

{% block content %}
  <div class="outer-container">
    <div class="dit-breadcrumb grid-container grid-container--inner">
        <div class="column-full flush--bottom">
          <a href="https://www.great.gov.uk/">Great.gov.uk</a> <span aria-hidden="true">></span> <a href="/">Trade barriers</a> <span aria-hidden="true">></span> <strong>Check trade barriers</strong>
        </div>
    </div>
  </div>

  {% include 'components/filters.html' %}

  <div class="outer-container">
      <div class="grid-container grid-container--inner">
        <div class="rich-text column-full columns dit-page-details">

        </div>
      </div>
    </div>
  </div>

{% endblock %}
