/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

.row {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (max-width: 1024px) {
    .row {
      max-width: 95%;
      margin-left: auto;
      margin-right: auto; }
      .row:after {
        content: "";
        display: table;
        clear: both; } }
  @media screen and (min-width: 1024px) {
    .row {
      margin: 0 30px; } }
  @media screen and (min-width: 1200px) {
    .row {
      margin: auto; } }
  @media screen and (max-width: 1024px) {
    .row .row {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .row .row:after {
        content: "";
        display: table;
        clear: both; } }
  .row .columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .row .columns:last-child {
      margin-right: 0; }
    .row .columns.one {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .row .columns.one:last-child {
        margin-right: 0; }
    .row .columns.two {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 14.70196%; }
      .row .columns.two:last-child {
        margin-right: 0; }
    .row .columns.three {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .row .columns.three:last-child {
        margin-right: 0; }
    .row .columns.four {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 31.76157%; }
      .row .columns.four:last-child {
        margin-right: 0; }
    .row .columns.five {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .row .columns.five:last-child {
        margin-right: 0; }
    .row .columns.six {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .row .columns.six:last-child {
        margin-right: 0; }
    .row .columns.seven {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .row .columns.seven:last-child {
        margin-right: 0; }
    .row .columns.eight {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 65.88078%; }
      .row .columns.eight:last-child {
        margin-right: 0; }
    .row .columns.nine {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 74.41059%; }
      .row .columns.nine:last-child {
        margin-right: 0; }

.row-thin-gutter {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .row-thin-gutter:after {
    content: "";
    display: table;
    clear: both; }
  .row-thin-gutter .columns {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 24.9889%;
    margin-right: 0;
    padding: 0 5px 0 0; }
    .row-thin-gutter .columns:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1024px) {
      .row-thin-gutter .columns {
        float: left;
        display: block;
        margin-right: 3.57866%;
        width: 49.89382%;
        margin-right: 0;
        padding: 0 5px 0 0; }
        .row-thin-gutter .columns:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 600px) {
      .row-thin-gutter .columns {
        float: left;
        display: block;
        margin-right: 7.42297%;
        width: 100%; }
        .row-thin-gutter .columns:last-child {
          margin-right: 0; } }

.persona-articles .four {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .persona-articles .four:last-child {
    margin-right: 0; }
  .persona-articles .four:nth-child(3n) {
    margin-right: 0; }
  .persona-articles .four:nth-child(3n+1) {
    clear: left; }

/**
* Media queries
**/
@media screen and (max-width: 1024px) {
  .block-grid {
    display: block !important; }
    .block-grid .columns.four {
      float: left;
      display: block;
      margin-right: 3.57866%;
      width: 100%;
      margin-right: 0; }
      .block-grid .columns.four:last-child {
        margin-right: 0; }
  .front-page-video div.columns.five {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 35.26333%; }
    .front-page-video div.columns.five:last-child {
      margin-right: 0; }
  article.article .columns.content {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    article.article .columns.content:last-child {
      margin-right: 0; }
  article.article aside.columns.four {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    article.article aside.columns.four:last-child {
      margin-right: 0; }
  .row .columns.four.persona-box {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%; }
    .row .columns.four.persona-box:last-child {
      margin-right: 0; }
    .row .columns.four.persona-box article {
      min-height: unset; }
  .hero .columns.seven, .hero .columns.four {
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 100%;
    margin-right: 0; }
    .hero .columns.seven:last-child, .hero .columns.four:last-child {
      margin-right: 0; }
  .hero .hero__text {
    margin: 40px 0 40px 0; } }

@media screen and (max-width: 600px) {
  .front-page-video div.columns.five {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: -7.42297%; }
    .front-page-video div.columns.five:last-child {
      margin-right: 0; }
  .front-page-video header.columns.five {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%;
    text-align: center; }
    .front-page-video header.columns.five:last-child {
      margin-right: 0; }
  .hero .columns.seven, .hero .columns.four {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 207.42297%;
    margin-right: 0; }
    .hero .columns.seven:last-child, .hero .columns.four:last-child {
      margin-right: 0; }
  .hero .hero__text {
    margin: 40px 0 40px 0; }
  .advice-block {
    height: auto !important; }
  .row .columns.one, .row .columns.two, .row .columns.three, .row .columns.four, .row .columns.five, .row .columns.six, .row .columns.seven, .row .columns.eight, .row .columns.nine {
    float: left;
    display: block;
    margin-right: 7.42297%;
    width: 100%; }
    .row .columns.one:last-child, .row .columns.two:last-child, .row .columns.three:last-child, .row .columns.four:last-child, .row .columns.five:last-child, .row .columns.six:last-child, .row .columns.seven:last-child, .row .columns.eight:last-child, .row .columns.nine:last-child {
      margin-right: 0; } }

.lt-ie9 .hero, .lt-ie9 header.banner {
  width: 100%; }

.lt-ie9 .row-thin-gutter .columns {
  width: 24.5%; }

.legacy .page-section {
  padding-top: 32px; }

.legacy img {
  height: auto !important; }

@media screen and (max-width: 1024px) {
  .legacy .persona-articles article:after {
    display: none; }
  .legacy img {
    max-width: 100% !important;
    height: auto !important; } }

@media screen and (max-width: 600px) {
  .legacy footer.content-info ul {
    padding-left: 0; } }

.legacy button.button {
  font-size: 24px;
  font-weight: 700;
  color: white;
  background-color: #00549F;
  height: 60px;
  border: 1px solid #007EA3;
  margin-bottom: 16px; }
  .legacy button.button:active {
    background-color: #007EA3; }
  .legacy button.button:hover {
    background-color: #003666; }

.legacy .button--naked {
  background-color: white;
  border: 2px solid #00549F;
  color: #00549F; }

.legacy {
  /* Migration 07/03/2017 FIX */ }
  .legacy ul {
    padding-left: 18px;
    margin-bottom: 16px; }
  .legacy li {
    position: relative;
    padding-left: 10px; }
    .legacy li:before {
      content: "";
      position: absolute;
      left: -12px;
      top: 8px;
      background-color: #DFD5C5;
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%; }
  .legacy .next-steps__list {
    padding-left: 0px; }
  .legacy .next-steps__step {
    position: initial; }

.legacy img {
  width: 100%; }

button:focus {
  outline: 0; }

body {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  font-weight: 300;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased; }

.legacy .main {
  font-family: "Roboto", sans-serif;
  line-height: 25px;
  font-weight: 300;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased; }

.legacy h1, .legacy h2, .legacy h3, .legacy h4, .legacy p {
  margin-bottom: 16px; }

.legacy h1 {
  font-size: 48px;
  font-weight: 500;
  letter-spacing: -1px;
  min-height: 48px; }

.legacy h2 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: -1px;
  min-height: 36px; }

.legacy h3 {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -1px; }

.legacy h4 {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0; }

.legacy h1, .legacy h2, .legacy h3, .legacy h4, .legacy h5, .legacy h6 {
  line-height: 1.2em; }

.legacy p.large {
  font-size: 24px;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: -0.2px; }

.legacy p {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0; }

.legacy p.small {
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0; }

.legacy a {
  border-bottom: 1px solid;
  letter-spacing: 0;
  text-decoration: none;
  color: #00549F; }
  .legacy a:active {
    color: #4F0B7B;
    border-bottom-style: dashed;
    border-bottom-color: #4F0B7B; }
  .legacy a:visited {
    color: #4F0B7B;
    border-bottom-color: #4F0B7B; }

.legacy a.wob-link, .legacy .front-page-stats-block a, .front-page-stats-block .legacy a {
  color: #FAFAFA; }
  .legacy a.wob-link:visited, .legacy .front-page-stats-block a:visited, .front-page-stats-block .legacy a:visited {
    color: #FAFAFA;
    border-bottom-color: #FAFAFA; }
  .legacy a.wob-link:active, .legacy .front-page-stats-block a:active, .front-page-stats-block .legacy a:active {
    color: #FAFAFA;
    border-bottom-color: #FAFAFA; }

.legacy a.no-decoration-link {
  border: 0; }
  .legacy a.no-decoration-link:visited {
    border: 0; }
  .legacy a.no-decoration-link:active {
    border: 0; }

.block-grid {
  display: flex;
  flex-direction: row;
  clear: both; }

.block-grid__block {
  display: flex;
  position: relative;
  padding-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #DCE0DF; }

.block-grid__inner-block {
  padding: 40px 20px;
  height: 100%; }
  .block-grid__inner-block p {
    margin-bottom: 32px; }

.block-grid__level-link {
  position: absolute;
  bottom: 16px; }

.remodal.video-modal iframe {
  width: 100%; }

.image-block img {
  display: block;
  margin-bottom: 32px; }

.legacy .advice-block {
  height: 400px;
  background-color: #1E1348;
  position: relative;
  margin-bottom: 16px; }
  .legacy .advice-block p {
    color: #FAFAFA; }

.legacy .advice-block__body {
  padding: 20px; }

.legacy .advice-block--blue {
  background-color: #00549F; }

.legacy .advice-block__heading {
  color: #FAFAFA; }

.legacy .advice-block__rule {
  position: absolute;
  top: 20px;
  border: 0;
  border-bottom: 1px solid white;
  width: 100%; }

.legacy .advice-block__legend {
  color: #FAFAFA;
  background-color: #1E1348;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  top: -4px;
  z-index: 2;
  font-size: 14px;
  margin-left: -10px;
  padding: 0px 10px 10px; }

.legacy .advice-block__legend--blue {
  background-color: #00549F; }

.legacy .advice-block__link {
  position: absolute;
  bottom: 16px;
  color: #FAFAFA; }
  .legacy .advice-block__link:visited {
    color: #FAFAFA;
    border-color: #FAFAFA; }
  .legacy .advice-block__link:active {
    color: #FAFAFA;
    border-color: #FAFAFA; }
  .legacy .advice-block__link:after {
    content: ' >';
    border: 0; }

.legacy .front-page-video {
  background-size: cover;
  background-image: url(/assets/img/video.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/video.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/video.jpg', sizingMethod='scale')";
  min-height: 400px;
  padding: 80px 0 !important;
  background-position: center center; }

.legacy .front-page-video__heading {
  color: #FAFAFA;
  line-height: 55px; }

.legacy .front-page-video__button {
  border: 2px solid #FAFAFA;
  border-bottom-color: #FAFAFA !important;
  display: inline-block;
  zoom: 1;
  padding: 20px;
  margin-top: 10px;
  color: #FAFAFA;
  background-color: transparent;
  font-size: 24px;
  font-weight: 500; }
  .legacy .front-page-video__button:visited {
    color: #FAFAFA !important; }
  .legacy .front-page-video__button:active {
    color: #FAFAFA !important; }

.page-section {
  padding: 64px 0px;
  background-color: #FAFAFA; }

.page-section.light {
  background-color: #FFF; }

.hero {
  color: white;
  background-color: #090909;
  background-size: cover;
  background-image: url(/assets/img/home.jpg);
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/home.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/assets/img/home.jpg', sizingMethod='scale')"; }

.hero__text {
  margin-top: 70px;
  margin-bottom: 70px; }

.front-page-stats-block {
  background-color: #B00D23;
  padding: 32px;
  opacity: 0.9; }
  .front-page-stats-block hr {
    border: 0;
    border-top: 1px dashed #FAFAFA;
    margin: 32px 0px; }

.front-page-stats-block__number {
  font-size: 34px;
  font-weight: 500; }

.persona-articles article {
  margin: 10px 0 0 0;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #F6F4F1;
  min-height: 240px;
  position: relative; }
  .persona-articles article:after {
    content: '';
    border-right: 1px solid #F6F4F1;
    position: absolute;
    top: 25px;
    right: -10px;
    bottom: 35px; }

.persona-articles .persona-box:nth-child(3n) article:after {
  display: none; }

.partners ul {
  margin-top: 30px;
  padding: 0; }
  .partners ul li {
    margin-bottom: 20px; }
    .partners ul li:before {
      display: none; }
    .partners ul li h3 {
      margin-top: 0; }

.next-steps {
  border-top: 1px solid #bcbcbc; }

.next-steps__list {
  margin-top: 30px;
  padding: 0; }

.next-steps__step {
  display: block;
  background-color: #00549F;
  margin-bottom: 20px; }
  .next-steps__step:before {
    display: none; }
  .next-steps__step a {
    display: block;
    padding: 8px 16px; }

.next-steps__step-copy {
  width: 80%;
  height: 50px; }

.next-steps__arrow {
  text-align: right; }
  .next-steps__arrow img {
    width: 13px;
    height: 22px; }

.search-results-list {
  padding: 0; }
  .search-results-list li {
    padding: 30px 0 20px 0;
    border-bottom: 1px solid #F6F4F1; }
    .search-results-list li:last-child {
      border-bottom: none; }
    .search-results-list li:before {
      display: none; }

.article {
  margin-bottom: 75px; }
  .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin-top: 32px; }

.grey-bg {
  background-color: #777; }

main > article {
  min-height: 330px;
  margin-bottom: 40px; }
  main > article .row > header {
    padding-top: 60px; }
  main > article > header {
    padding-top: 60px; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

.dit .grid-row:after, .dit .section:after {
  content: "";
  display: block;
  clear: both; }

.dit #footer .footer-wrapper, .dit .section {
  max-width: 960px;
  margin: 0 15px; }

.dit .grid-row {
  margin: 0 -15px; }

.dit body, .dit html {
  font-family: nta,Arial,sans-serif; }

.dit body, .dit div, .dit footer, .dit h3, .dit header, .dit html, .dit nav {
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

.dit html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  background-color: #dee0e2;
  -ms-overflow-style: scrollbar;
  font-size: 62.5%;
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent; }

.dit body {
  background: #fafafa;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #4a4a4a;
  font-family: Roboto,sans-serif;
  font-size: 15px;
  position: relative; }

.dit nav ul, .dit ul {
  list-style: inherit; }

.dit a:link {
  color: #005ea5; }

.dit a:visited {
  color: #4c2c92; }

.dit a:active, .dit a:hover {
  color: #2e8aca; }

.dit a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  -webkit-tap-highlight-color: rgba(0, 126, 163, 0.5);
  tap-highlight-color: rgba(0, 126, 163, 0.5); }

.dit a:focus {
  background-color: transparent;
  outline: #007ea3 solid 3px; }

.dit #global-header a:focus {
  color: #0b0c0c; }

.dit #global-header {
  width: 100%;
  background-color: #1e1348;
  padding-bottom: 9px;
  padding-top: 15px; }

.dit #footer {
  background-color: #1e1348;
  border-top: 0;
  padding-bottom: 50px; }

.dit #footer .footer-wrapper {
  background-color: #1e1348;
  padding-top: 40px; }

.dit #footer a {
  color: #454a4c; }

.dit #footer a:hover {
  color: #171819; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@media (min-width: 641px) {
  .dit #footer .footer-wrapper {
    padding-top: 60px; }
  .dit .column-one-third {
    float: left;
    width: 33.33333%; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

.dit a, .dit div, .dit footer, .dit h3, .dit header, .dit i, .dit img, .dit li, .dit nav, .dit p, .dit ul {
  border: none;
  margin: 0;
  padding: 0; }

.dit h3, .dit i, .dit p {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: 400; }

.dit .column-one-third {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dit .column-two-thirds {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.dit p {
  margin-top: .3125em;
  margin-bottom: 1.25em;
  line-height: 23px; }

.dit .icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat; }

.dit ul {
  list-style-type: none; }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

@media (min-width: 641px) {
  .dit .column-two-thirds {
    float: left;
    width: 66.66667%; }
  .dit p {
    margin-top: .26316em;
    margin-bottom: 1.05263em; }
  .dit #footer .footer-wrapper, .dit .section {
    margin: 0 30px; } }

@media (min-width: 1020px) {
  .dit #footer .footer-wrapper, .dit .section {
    margin: 0 auto; } }

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica"); }

.dit .column-one-third, .dit .column-one-whole, .dit .column-two-thirds {
  padding: 0 10px; }

.dit .soft--bottom, .dit .soft--ends {
  padding-bottom: 20px; }

.dit .text--right {
  text-align: right; }

.dit .push--top {
  margin-top: 20px; }

.dit .push--right {
  margin-right: 20px; }

.dit .soft--right {
  padding-right: 20px; }

.dit .soft--ends {
  padding-top: 20px; }

.dit .soft-half--left {
  padding-left: 10px; }

.dit .soft-half--ends {
  padding-bottom: 10px;
  padding-top: 10px; }

.dit .soft-half--sides {
  padding-left: 10px;
  padding-right: 10px; }

.dit .desktop-only {
  display: none; }

.dit .icon-menu {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAyNy4yNSAyMyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMjcuMjUgMjM7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDpub25lO3N0cm9rZTojRkZGRkZGO3N0cm9rZS13aWR0aDozO3N0cm9rZS1saW5lY2FwOnNxdWFyZTtzdHJva2UtbWl0ZXJsaW1pdDoxMDt9Cjwvc3R5bGU+CjxsaW5lIGNsYXNzPSJzdDAiIHgxPSIyLjU1IiB5MT0iMy4yNyIgeDI9IjI0LjQ4IiB5Mj0iMy4yNyIvPgo8bGluZSBjbGFzcz0ic3QwIiB4MT0iMi41NSIgeTE9IjExLjY3IiB4Mj0iMjQuNDgiIHkyPSIxMS42NyIvPgo8bGluZSBjbGFzcz0ic3QwIiB4MT0iMi41NSIgeTE9IjIwLjA3IiB4Mj0iMjQuNDgiIHkyPSIyMC4wNyIvPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8Zz4KPC9nPgo8L3N2Zz4K); }

.dit .background--indigo {
  background-color: #110b29; }

.dit .column-one-whole {
  box-sizing: border-box;
  width: 100%; }

.dit body, .dit p {
  font-weight: 300; }

.dit #footer .footer-links a, .dit .font-reg, .dit .nav-intro a {
  font-weight: 400; }

.dit #global-header .header-nav-link, .dit h3 {
  font-weight: 500; }

.dit .font-xxsmall {
  font-size: 15px; }

.dit .font-xxxsmall {
  font-size: 14px; }

.dit .font-white {
  color: #fff; }

.dit .font-lighter-grey {
  color: #dce0df; }

.dit #global-header .header-main-logo {
  width: 300px; }

@media (max-width: 640px) {
  .dit #global-header .header-main-logo {
    width: 70%; } }

@media (max-width: 960px) {
  .dit .desktop-only {
    display: block; }
  .dit .section {
    margin: 0 15px; }
  .dit #global-header--right {
    padding: 0;
    width: 100%; } }

.dit #global-header .header-nav {
  padding-top: 20px;
  text-align: right; }

.dit #global-header .header-nav--top {
  display: none; }

@media (max-width: 960px) {
  .dit #global-header .header-nav {
    display: none;
    padding: 10px 0;
    text-align: left; }
  .dit #global-header .header-nav--top {
    display: block; } }

.dit #global-header .header-nav-link {
  display: inline-block;
  list-style-type: none;
  padding-left: 22px; }

@media (max-width: 960px) and (max-width: 960px) {
  .dit #global-header .header-nav-link {
    width: 93%; } }

@media (max-width: 960px) and (max-width: 640px) {
  .dit #global-header .header-nav-link {
    width: 85%; } }

@media (max-width: 960px) {
  .dit #global-header .header-nav-link {
    border-bottom: 1px solid #777;
    border-bottom-color: rgba(220, 224, 223, 0.5);
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px 0;
    position: relative; }
  .dit #global-header .header-nav-link:last-child {
    border-bottom: 0;
    padding-bottom: 0; } }

.dit #global-header .header-nav-link a {
  color: #fff;
  padding-bottom: 4px;
  text-decoration: none; }

.dit #global-header .header-nav-link a.active, .dit #global-header .header-nav-link a:hover {
  border-bottom: 4px solid #b00d23; }

@media (max-width: 960px) {
  .dit #global-header .header-nav-link a.active, .dit #global-header .header-nav-link a:hover {
    border-bottom: 0; }
  .dit #global-header .header-nav-link a.active:before, .dit #global-header .header-nav-link a:hover:before {
    border: 6px solid #b00d23;
    content: '';
    height: 10px;
    left: -20px;
    position: absolute; }
  .dit #global-header .header-nav-link a:hover:before {
    border-color: #dce0df; } }

.dit #global-header .header-nav-link a:hover {
  border-color: #dce0df; }

.dit #global-header .header-nav-link:last-child {
  margin-left: 0; }

@media (max-width: 960px) {
  .dit #global-header .header-nav-link a {
    border-bottom: 0; }
  .dit #global-header .header-nav-link:last-child {
    margin-left: 20px; } }

.dit #global-header .header-nav-toggle {
  color: #fff;
  display: none;
  font-weight: 700;
  position: absolute;
  right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  top: 35px; }

.dit #global-header .header-nav-toggle .icon-menu {
  height: 20px;
  line-height: 31px;
  margin-left: 10px;
  position: relative;
  top: 4px;
  width: 25px; }

.dit #global-header .header-nav-toggle:focus {
  color: #fff;
  outline: 0; }

@media (max-width: 960px) {
  .dit #global-header .header-nav-toggle {
    display: block; } }

@media (max-width: 640px) {
  .dit #footer .footer-wrapper {
    padding-top: 0; }
  .dit #footer .footer-wrapper .grid-row {
    display: flex;
    flex-flow: column; }
  .dit #footer .footer-wrapper .grid-row .logo {
    order: 3; }
  .dit #footer .footer-wrapper .grid-row .links {
    order: 2; }
  .dit #footer .footer-wrapper .grid-row .subscribe {
    order: 1; }
  .dit #footer .footer-wrapper .grid-row .subscribe .footer-section {
    border: 0; }
  .dit #footer .footer-links a {
    margin-left: 0; } }

.dit #footer .footer-links {
  margin-bottom: 15px; }

.dit #footer .footer-links a {
  border-bottom: 1px solid #777;
  border-bottom-color: rgba(220, 224, 223, 0.5);
  color: #fff;
  padding-bottom: 2px;
  text-decoration: none; }

.dit #footer .footer-links a:hover {
  border-bottom: 1px dashed #fff; }

.dit #footer .footer-img {
  width: 250px; }

@media (max-width: 960px) {
  .dit #footer .footer-img {
    width: 215px; } }

.dit #footer .footer-img--top {
  margin-bottom: 10px; }

.dit #footer .footer-img--eig {
  width: 200px; }

.dit #footer .footer-section {
  padding-left: 30px; }

@media (max-width: 640px) {
  .dit #footer .footer-section {
    border-top: 1px solid #fff;
    padding: 30px 0; } }

.dit #footer .footer-section--first {
  padding-left: 0; }

.dit #footer .footer-header {
  color: #fff;
  font-size: 20px;
  margin-bottom: 30px; }

.dit .nav-intro h3, .dit .nav-intro li, .dit .nav-intro ul {
  display: inline-block; }

.dit .nav-intro a {
  border-bottom: 1px solid #777;
  border-bottom-color: rgba(220, 224, 223, 0.5);
  color: #fff;
  padding-bottom: 2px;
  text-decoration: none; }

.dit .nav-intro a:hover {
  border-bottom: 1px dashed #fff; }

@media (max-width: 960px) {
  .dit #footer .footer-img--eig {
    width: 150px; }
  .dit .nav-intro {
    display: none; } }

.lt-ie9 .dit .column-one-third, .lt-ie9 .dit .column-two-thirds {
  float: left; }

.lt-ie9 .dit .column-one-third {
  width: 33.33333%; }

.lt-ie9 .dit .column-two-thirds {
  width: 66.66667%; }

.lt-ie9 .dit #footer .footer-wrapper, .lt-ie9 .dit .section {
  margin: 0 auto; }

.lt-ie9 .dit .icon-menu {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAXCAMAAADNyMQcAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF////////VXz1bAAAAAJ0Uk5T/wDltzBKAAAAIElEQVR42mJgxA0YGBlwARrJ4XMLveWGu98Hj/8AAgwAm80BQomdFrMAAAAASUVORK5CYII=); }

.legacy .dit {
  line-height: 1.5 !important;
  font-size: 15px !important; }
  .legacy .dit h3 {
    letter-spacing: 0 !important; }
  .legacy .dit ul li:before {
    display: none; }
  .legacy .dit #footer .footer-wrapper {
    padding-top: 40px !important; }
  .legacy .dit footer {
    clear: both;
    display: block; }

/* pulled from old wordpress site */
/* any required overrides to styleguide */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text--left {
  text-align: left; }

.text--center {
  text-align: center; }

.text--right {
  text-align: right; }

.push {
  margin: 20px; }

.push--top {
  margin-top: 20px; }

.push--right {
  margin-right: 20px; }

.push--bottom {
  margin-bottom: 20px; }

.push--left {
  margin-left: 20px; }

.push--ends {
  margin-bottom: 20px;
  margin-top: 20px; }

.push--sides {
  margin-left: 20px;
  margin-right: 20px; }

.push-half {
  margin: 10px; }

.push-half--top {
  margin-top: 10px; }

.push-half--right {
  margin-right: 10px; }

.push-half--bottom {
  margin-bottom: 10px; }

.push-half--left {
  margin-left: 10px; }

.push-half--ends {
  margin-bottom: 10px;
  margin-top: 10px; }

.push-half--sides {
  margin-left: 10px;
  margin-right: 10px; }

.flush {
  margin: 0; }

.flush--top {
  margin-top: 0; }

.flush--right {
  margin-right: 0; }

.flush--bottom {
  margin-bottom: 0; }

.flush--left {
  margin-left: 0; }

.flush--ends {
  margin-bottom: 0;
  margin-top: 0; }

.flush--sides {
  margin-left: 0;
  margin-right: 0; }

.soft {
  padding: 20px; }

.soft--top {
  padding-top: 20px; }

.soft--right {
  padding-right: 20px; }

.soft--bottom {
  padding-bottom: 20px; }

.soft--left {
  padding-left: 20px; }

.soft--ends {
  padding-bottom: 20px;
  padding-top: 20px; }

.soft--sides {
  padding-left: 20px;
  padding-right: 20px; }

.soft-half {
  padding: 10px; }

.soft-half--top {
  padding-top: 10px; }

.soft-half--right {
  padding-right: 10px; }

.soft-half--bottom {
  padding-bottom: 10px; }

.soft-half--left {
  padding-left: 10px; }

.soft-half--ends {
  padding-bottom: 10px;
  padding-top: 10px; }

.soft-half--sides {
  padding-left: 10px;
  padding-right: 10px; }

.hard {
  padding: 0; }

.hard--top {
  padding-top: 0; }

.hard--right {
  padding-right: 0; }

.hard--bottom {
  padding-bottom: 0; }

.hard--left {
  padding-left: 0; }

.hard--ends {
  padding-bottom: 0;
  padding-top: 0; }

.hard--sides {
  padding-left: 0;
  padding-right: 0; }

.cf:after {
  clear: both;
  content: '';
  display: table; }

.image-full {
  width: 100%; }

.hide {
  display: none; }
  @media screen and (max-width: 767px) {
    .hide-mobile {
      display: none; } }

.show {
  display: block; }

.float--right {
  float: right; }

.float--left {
  float: left; }

.float--none {
  float: none; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  left: -9999em;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.overflow--hidden {
  overflow: hidden; }

.navigation-main a, .footer a {
  color: #fff; }

.list-separators li:after, .navigation-toggle-middle, .footer-links--border, .footer-middle-section, .footer .footer-bottom {
  color: #756e8f;
  color: rgba(250, 250, 250, 0.5); }

hr.white {
  background-color: #756e8f;
  background-color: rgba(250, 250, 250, 0.5); }

.navigation-toggle-item a {
  border-color: #756e8f;
  border-color: rgba(250, 250, 250, 0.5); }

.navigation-login a:hover:after {
  border-top: 3px solid #e41f13;
  content: '';
  left: 0;
  position: absolute;
  top: -8px;
  width: 100%; }

body {
  font-size: 16px;
  letter-spacing: 0;
  line-height: 23px;
  background-color: #fafafa;
  color: #333;
  font-family: "Roboto", arial, helvetica, sans-serif;
  position: relative; }

body, .font-light {
  font-weight: 300; }

.font-regular, .link {
  font-weight: 400; }

.h1, .font-medium, h1,
h2,
h3,
h4,
h5,
h6,
strong, .button {
  font-weight: 500; }

.font-base, blockquote {
  font-size: 16px; }

.h1 {
  font-size: 48px;
  letter-spacing: -1px;
  line-height: 58px; }
  @media screen and (min-width: tablet) {
    .h1 {
      font-size: 32px;
      font-weight: 500; } }
  @media screen and (min-width: mobile) {
    .h1 {
      font-size: 30px;
      margin-bottom: 0; } }

.h2 {
  font-size: 32px;
  letter-spacing: -0.6px;
  line-height: 40px; }

.h3 {
  font-size: 24px;
  letter-spacing: 0;
  line-height: 32px; }
  @media screen and (min-width: mobile) {
    .h3 {
      font-size: 19px; } }

.font-large, .h4, .button, .button-close:before {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25px; }

.font-white {
  color: #fff; }

.font-brand {
  color: #333; }

.font-purple {
  color: #4f0b7b; }

.font-light-grey {
  color: #dce0df; }

.font-small {
  font-size: 15px; }

.font-xsmall {
  font-size: 14px;
  letter-spacing: normal;
  line-height: 14px; }

blockquote {
  line-height: 25px; }

hr {
  background-color: #4f0b7b;
  border: 0;
  display: block;
  height: 1px;
  padding: 0; }

p {
  margin-bottom: 23px; }
  p.font-large {
    margin-bottom: 25px; }

.outer-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .outer-container::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 1200px) {
    .outer-container {
      margin: 0 30px; } }
  @media screen and (max-width: 959px) and (min-width: 768px) {
    .outer-container {
      margin: 0 20px; } }
  @media screen and (max-width: 767px) {
    .outer-container {
      margin: 0 10px; } }

.col-1 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .col-1:last-child {
    margin-right: 0; }

.col-2 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .col-2:last-child {
    margin-right: 0; }

.col-3 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .col-3:last-child {
    margin-right: 0; }

.col-4 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%; }
  .col-4:last-child {
    margin-right: 0; }

.col-5 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 40.29137%; }
  .col-5:last-child {
    margin-right: 0; }

.col-6 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .col-6:last-child {
    margin-right: 0; }

.col-7 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 57.35098%; }
  .col-7:last-child {
    margin-right: 0; }

.col-8 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .col-8:last-child {
    margin-right: 0; }

.col-9 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 74.41059%; }
  .col-9:last-child {
    margin-right: 0; }

.col-10 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .col-10:last-child {
    margin-right: 0; }

.col-11 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 91.4702%; }
  .col-11:last-child {
    margin-right: 0; }

.col-12 {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 100%; }
  .col-12:last-child {
    margin-right: 0; }

.omega {
  margin-right: 0; }

.background--great-blue {
  background-color: #1e1348; }

.background--flag-red {
  background-color: #b00d23; }

.background--stone {
  background-color: #dfd5c5; }

.background--dark-white {
  background-color: #fafafa; }

.background--grey {
  background-color: #333; }

.background--mid-grey {
  background-color: #999; }

.background--light-grey {
  background-color: #dce0df; }

.background--purple {
  background-color: #4f0b7b; }

.background--mid-blue {
  background-color: #00549f; }

.background--aqua {
  background-color: #007ea3; }

.background--dark-navy {
  background-color: #160d37; }

.background--dark-blue {
  background-color: #132965; }

.background--light-blue {
  background-color: #00549f; }

.background--light-aqua {
  background-color: #8ae2fb; }

.background--great-red {
  background-color: #e41f13; }

.background--white {
  background-color: #fff; }

a {
  text-decoration: none; }
  a:focus {
    outline: 3px solid #ffbf47; }

.link {
  border-bottom: 1px solid;
  color: #00549f;
  text-decoration: none; }
  .link:hover {
    border-bottom: 1px dashed;
    color: #007ea3;
    margin-bottom: -1px; }
  .link--grey {
    border-bottom: 0;
    color: #dce0df; }
    .link--grey:hover {
      color: #dce0df; }
  .link--white {
    border-bottom: 0;
    color: #fff; }
    .link--white:hover {
      color: #fff; }

.logo-hmg {
  display: block; }
  .logo-hmg img {
    display: block; }

.list {
  margin-bottom: 20px;
  margin-top: 5px;
  padding: 0; }
  .list-item {
    margin-bottom: 13px;
    padding-left: 20px;
    position: relative; }
    @media screen and (max-width: 767px) {
      .list-item {
        font-size: 15px; } }
    .list-item:before {
      color: #1e1348;
      content: '\25CF';
      left: 0;
      margin-right: 10px;
      position: absolute; }
  .list-inline li {
    display: inline-block; }
    @media screen and (max-width: 767px) {
      .list-inline li.hide-mobile {
        display: none; } }
  .list-separators {
    font-size: 0; }
    .list-separators li {
      position: relative; }
      .list-separators li:after {
        content: '|';
        font-size: 20px;
        position: absolute;
        right: -1px;
        top: 0; }
      .list-separators li:last-child:after, .list-separators li:nth-child(3):after {
        content: ''; }

.button-blue {
  background-color: #00549f;
  color: #fff;
  outline: 0; }
  .button-blue:link, .button-blue:visited {
    background-color: #00549f;
    color: #fff; }
  .button-blue:hover {
    background-color: #132965;
    color: #fff; }
  .button-blue:active {
    background-color: #007ea3;
    outline: 0; }
  .button-blue:focus {
    outline: 3px solid #ffbf47; }

.button-red {
  background-color: #b00d23;
  color: #fff;
  outline: 0; }
  .button-red:link, .button-red:visited {
    background-color: #00549f;
    color: #fff; }
  .button-red:hover {
    background-color: #132965;
    color: #fff; }
  .button-red:active {
    background-color: #007ea3;
    outline: 0; }
  .button-red:focus {
    outline: 3px solid #ffbf47; }

.button-border {
  background-color: transparent;
  color: #00549f;
  outline: 0; }
  .button-border:link, .button-border:visited {
    background-color: transparent;
    color: #007ea3; }
  .button-border:hover {
    background-color: transparent;
    color: #007ea3; }
  .button-border:active {
    background-color: #007ea3;
    outline: 0; }
  .button-border:focus {
    outline: 3px solid #ffbf47; }

.button {
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto", arial, helvetica, sans-serif;
  padding: 12px 30px;
  text-decoration: none; }
  .button-large {
    font-size: 24px;
    padding: 15px 35px; }
  .button-close {
    background-color: transparent;
    font-weight: 300;
    padding: 0; }
    .button-close:hover {
      background-color: transparent; }
    .button-close:before {
      color: #b00d23;
      content: 'X';
      font-size: 24px;
      left: -35px;
      top: -5px; }
  .button-border {
    border: 2px solid;
    padding-bottom: 10px;
    padding-top: 10px; }
  @media screen and (min-width: mobile) {
    .button {
      font-size: 18px;
      padding: 14px;
      text-align: center;
      width: 100%; } }

.icon-menu {
  background-image: url("/images/icons/menu.svg"); }

.icon-sign-in {
  background-image: url("/images/icons/signin.svg"); }

.icon-sign-out {
  background-image: url("/images/icons/signout.svg"); }

.icon {
  background-position: 0 0;
  background-repeat: no-repeat;
  display: inline-block; }
  .icon--left {
    float: left;
    height: 21px;
    left: 0;
    margin-right: 10px;
    position: relative;
    width: 22px; }

.navigation a {
  display: block; }

.navigation-main-section {
  position: relative; }

.navigation-main li:after {
  top: 7px; }

.navigation-main a {
  font-size: 15px; }

.navigation-main-link {
  margin: 3px;
  outline: 3px solid #00549f;
  padding: 5px 8px 4px; }
  .navigation-main-link:hover:after, .navigation-main-link--active:after {
    border-top: 3px solid #e41f13;
    content: '';
    left: 0;
    position: absolute;
    top: 0;
    width: 100%; }
  .navigation-main-link--secondary {
    outline: 3px solid #132965; }

.navigation-main-menu {
  overflow-x: hidden;
  padding-right: 70px;
  white-space: nowrap; }
  @media screen and (max-width: 767px) {
    .navigation-main-menu {
      display: none; } }
  .navigation-main-menu::-webkit-scrollbar {
    display: none; }

.navigation-toggle {
  padding: 28px 0 50px; }
  .navigation-toggle-item {
    padding: 13px 0 0;
    position: relative; }
    .navigation-toggle-item:first-child {
      padding-top: 0; }
      @media screen and (max-width: 767px) {
        .navigation-toggle-item:first-child {
          padding-top: 13px; } }
    .navigation-toggle-item a {
      display: inline; }
      .navigation-toggle-item a.last {
        border: 0; }
      .navigation-toggle-item a.navigation-toggle-active, .navigation-toggle-item a:hover {
        border-bottom-width: 1px;
        border-style: dashed;
        padding-bottom: 2px; }
        @media screen and (max-width: 767px) {
          .navigation-toggle-item a.navigation-toggle-active, .navigation-toggle-item a:hover {
            border-style: solid;
            display: block;
            padding-bottom: 10px; }
            .navigation-toggle-item a.navigation-toggle-active:after, .navigation-toggle-item a:hover:after {
              border-bottom: 10px solid transparent;
              border-left: 15px solid #e41f13;
              border-top: 10px solid transparent;
              content: '';
              height: 0;
              left: 0;
              position: absolute;
              top: 15px;
              width: 0; } }
      @media screen and (max-width: 767px) {
        .navigation-toggle-item a {
          border-bottom-width: 1px;
          border-style: solid;
          display: block;
          padding-bottom: 10px; }
          .navigation-toggle-item a.navigation-toggle-active.last, .navigation-toggle-item a:hover.last {
            border: 0; } }
    .navigation-toggle-item-last {
      border: 0; }
    @media screen and (max-width: 767px) {
      .navigation-toggle-item {
        padding-left: 25px; } }
  @media screen and (max-width: 767px) {
    .navigation-toggle-services {
      background-color: #00549f;
      font-weight: 500; } }
  .navigation-toggle-services-section {
    padding-left: 10px; }
    @media screen and (max-width: 767px) {
      .navigation-toggle-services-section {
        padding-left: 0; } }
  @media screen and (max-width: 767px) {
    .navigation-toggle .outer-container {
      margin: 0;
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .navigation-toggle {
      padding: 0; }
      .navigation-toggle .col-3 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%; }
        .navigation-toggle .col-3:last-child {
          margin-right: 0; } }
  .navigation-toggle-middle {
    border-left: 1px;
    border-style: solid;
    min-height: 100px;
    padding-left: 20px; }
    @media screen and (max-width: 767px) {
      .navigation-toggle-middle {
        border: 0;
        min-height: inherit;
        padding: 0; } }

.navigation-main-button {
  background-color: #00549f;
  border-left: 2px solid #000;
  border-radius: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 8px 10px 5px;
  position: absolute;
  right: 0;
  top: 0; }
  .navigation-main-button .icon {
    height: 12px;
    line-height: 15px;
    margin-right: 2px;
    top: 1px;
    width: 25px; }
  @media screen and (max-width: 767px) {
    .navigation-main-button {
      background: transparent;
      border: 1px solid;
      border-color: #756e8f;
      border-color: rgba(250, 250, 250, 0.5);
      top: -50px; } }
  .navigation-main-button:hover, .navigation-main-button--open {
    background-color: #160d37;
    border-top: 3px solid #e41f13;
    bottom: 0;
    display: block;
    padding-top: 5px; }
    @media screen and (max-width: 767px) {
      .navigation-main-button:hover, .navigation-main-button--open {
        border-bottom: 0;
        border-left: 0;
        border-right: 0; } }

.navigation-strip {
  padding: 8px 0 3px; }
  .navigation-strip a {
    font-size: 14px;
    padding: 0 5px 0 2px; }
  @media screen and (max-width: 767px) {
    .navigation-strip {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      .navigation-strip:last-child {
        margin-right: 0; } }

.navigation-logo-link {
  margin-bottom: 3px; }

.navigation-logo {
  padding: 17px 0 4px; }
  @media screen and (max-width: 767px) {
    .navigation-logo {
      width: 70%; } }

.navigation-skip-to a {
  left: -9999em;
  position: absolute; }
  .navigation-skip-to a:focus {
    left: 0;
    position: relative; }

.navigation-skip-to:after {
  display: none; }

@media screen and (max-width: 767px) {
  .navigation-login li {
    padding-right: 0; }
    .navigation-login li .icon {
      margin-right: 0; }
    .navigation-login li:after {
      content: none; }
  .navigation-login a {
    padding: 0; } }

.js-enabled .navigation-toggle {
  display: none; }
  .js-enabled .navigation-toggle--open {
    display: block; }

.footer {
  font-size: 15px;
  padding-top: 40px; }
  .footer-logo {
    width: 200px; }
    @media screen and (max-width: 959px) and (min-width: 768px) {
      .footer-logo {
        width: 170px; } }
    @media screen and (max-width: 767px) {
      .footer-logo {
        width: 150px; } }
  .footer-links {
    padding-left: 10px; }
    @media screen and (max-width: 767px) {
      .footer-links li {
        padding-bottom: 10px; } }
    .footer-links a:hover {
      border-bottom: 1px dashed #fff;
      padding-bottom: 2px; }
    @media screen and (max-width: 767px) {
      .footer-links--border {
        border-left: 1px;
        border-style: solid;
        padding-left: 20px; } }
  .footer-middle-section {
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    padding-left: 20px; }
    @media screen and (max-width: 767px) {
      .footer-middle-section {
        border: 0;
        padding-left: 0; } }
  .footer-section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%; }
    .footer-section:last-child {
      margin-right: 0; }
    @media screen and (max-width: 959px) and (min-width: 768px) {
      .footer-section .col-8,
      .footer-section .col-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .footer-section .col-8:last-child,
        .footer-section .col-4:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 767px) {
      .footer-section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        border-bottom: 1px solid;
        color: #756e8f;
        color: rgba(250, 250, 250, 0.5);
        padding: 20px 0; }
        .footer-section:last-child {
          margin-right: 0; }
        .footer-section .col-8,
        .footer-section .col-4 {
          float: left;
          display: block;
          margin-right: 2.35765%;
          width: 48.82117%; }
          .footer-section .col-8:last-child,
          .footer-section .col-4:last-child {
            margin-right: 0; } }
  .footer-section-right li {
    padding-left: 40px;
    padding-right: 5px; }
    @media screen and (max-width: 767px) {
      .footer-section-right li {
        padding-left: 0; } }
    @media screen and (max-width: 1200px) {
      .footer-section-right li {
        padding-left: 0; } }
  @media screen and (max-width: 959px) and (min-width: 768px) {
    .footer-section-right .col-6:nth-child(1) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 57.35098%; }
      .footer-section-right .col-6:nth-child(1):last-child {
        margin-right: 0; }
    .footer-section-right .col-6:nth-child(2) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 40.29137%; }
      .footer-section-right .col-6:nth-child(2):last-child {
        margin-right: 0; } }
  @media screen and (max-width: 767px) {
    .footer-section-right {
      margin-bottom: 10px; } }
  .footer-copy {
    text-align: right; }
    @media screen and (max-width: 767px) {
      .footer-copy {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 100%;
        padding: 10px 0 20px;
        text-align: center; }
        .footer-copy:last-child {
          margin-right: 0; } }
  @media screen and (max-width: 767px) {
    .footer .list-separators li {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .footer .list-separators li:last-child {
        margin-right: 0; }
      .footer .list-separators li:after {
        content: ''; } }
  .footer .footer-bottom {
    border-top: 1px solid;
    margin-top: 60px;
    padding-bottom: 20px;
    padding-top: 10px; }
    @media screen and (max-width: 767px) {
      .footer .footer-bottom {
        border: 0;
        margin-top: 0; } }
  @media screen and (max-width: 767px) {
    .footer {
      padding-top: 0; } }

/* pull in as npm module? */
/* we can't pass build dir into node sass so this is a workaround */
/* If a browser supports both multiple backgrounds and linear gradients, it supports SVG too */
.icon-menu {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAMCAMAAACz+6aNAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAABJJREFUeAFjYEQHWETIAgNrMgAr4ABnuRS+bAAAAABJRU5ErkJggg==);
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMTdweCIgaGVpZ2h0PSIxMnB4IiB2aWV3Qm94PSIwIDAgMTcgMTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE3IDEyOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHN0eWxlIHR5cGU9InRleHQvY3NzIj4uc3Qwe2ZpbGw6I0ZGRkZGRjt9PC9zdHlsZT48cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMTciIGhlaWdodD0iMiIvPjxyZWN0IHk9IjUiIGNsYXNzPSJzdDAiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyIi8+PHJlY3QgeT0iMTAiIGNsYXNzPSJzdDAiIHdpZHRoPSIxNyIgaGVpZ2h0PSIyIi8+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PGc+PC9nPjxnPjwvZz48Zz48L2c+PC9zdmc+), linear-gradient(transparent, transparent); }

header,
footer {
  -webkit-font-smoothing: auto; }

