{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Screening Walk-through" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Screening
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  All templates in the admin area walk-through
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
<style>
  .index-link{
    display: block;
  }
</style>
<h2 class="heading-medium">Global templates</h2>
<a href="{% url 'components' %}" class="index-link">All elements</a>
<a href="{% url 'dashboard' %}" class="index-link">Dashboard</a>
<a href="{% url 'dashboard-success' %}" class="index-link">Dashboard (successfully completed the process)</a>
<h2 class="heading-medium">Screen, find lead, proceed templates</h2>
<a href="{% url 'report-home' %}" class="index-link">Report home</a>
<a href="{% url 'report-barrier-type' %}" class="index-link">Report barrier type</a>
<a href="{% url 'report-home-make-a-decision' %}" class="index-link">Report home - make a decision</a>
<a href="{% url 'report-barrier-make-a-decision' %}" class="index-link">Report barrier - make a decision</a>
<a href="{% url 'report-home-decision-made' %}" class="index-link">Report home - decision made</a>
<a href="{% url 'report-create-barrier' %}" class="index-link">Report create barrier</a>
<a href="{% url 'report-new-uk' %}" class="index-link">Report new UK</a>
<a href="{% url 'report-new-instance' %}" class="index-link">Report new instance</a>
<a href="{% url 'report-home-barrier-created' %}" class="index-link">Report home - barrier created</a>
<a href="{% url 'report-assign-lead' %}" class="index-link">Report assign lead </a>
<a href="{% url 'report-assign-lead-search-results' %}" class="index-link">Report assign lead search results</a>
<a href="{% url 'report-home-ready-to-proceed' %}" class="index-link">Report home - ready to proceed</a>
<a href="{% url 'report-home-proceed-to-assessment' %}" class="index-link">Report home - proceed to assessment</a>
<a href="{% url 'invite-lead-time-passes' %}" class="index-link">Invite lead - time passes</a>
<h2 class="heading-medium">Assessment and resolution templates</h2>
<a href="{% url 'barrier-summary' %}" class="index-link">Barrier summary</a>
<a href="{% url 'barrier-organisational-impact' %}" class="index-link">Organisational impact</a>
<a href="{% url 'barrier-impact-on-the-uk' %}" class="index-link">Impact on the UK</a>
<a href="{% url 'barrier-chance-of-success' %}" class="index-link">Chance of success</a>
<a href="{% url 'barrier-associated-barriers' %}" class="index-link">Associated barriers</a>
<a href="{% url 'barrier-resolution-context' %}" class="index-link">Resolution context</a>
<a href="{% url 'barrier-interactions' %}" class="index-link">Interactions</a>
<a href="{% url 'barrier-events' %}" class="index-link">Events</a>
<a href="{% url 'barrier-contacts' %}" class="index-link">Contacts</a>
{#<a href="{% url 'barrier-instances' %}" class="index-link">Barrier instances</a>#}
<a href="{% url 'barrier-sensitivities' %}" class="index-link">Sensitivities</a>
{#<a href="{% url 'barrier-public-summary' %}" class="index-link">Public summary</a>#}

{% endblock %}