{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Associated barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Barrier record" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Barrier name consisting of country and product at minimum
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}
<div class="c-progress">
  <ol class="c-progress-bar">
      <li class="c-progress__stage">
        <span class="c-progress__stage-title">Assessment</span>
      </li>
      <li class="c-progress__stage is-active">
        <span class="c-progress__stage-title">Resolution / Close</span>
      </li>
  </ol>
</div>
{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--assess.html' with nav="associated" %}
{% endblock %}

{% block content %}
  <h2 class="heading-medium">Associated barriers</h2>
  <p>Barriers that have already been associated. You can remove these associations.</p>

  <ol class="c-entity-list">
    {% include 'backend/components/associated-barriers-result.html' %}
  </ol>

  <h2 class="heading-medium">Suggested barriers</h2>
  <p>Barriers that might be associated to this one. You can review and associate them</p>

  <ol class="c-entity-list">
    {% include 'backend/components/associated-barriers-result.html' %}
    {% include 'backend/components/associated-barriers-result.html' %}
  </ol>

  <form action="">
    <h2 class="heading-medium"></h2>
    <p id="search-label">Search for another barrier record to review and/or associate it with this barrier</p>
    <div class="form-group " id="search-wrapper">
        <input id="search" class="form-control" name="search" value="" type="search" aria-labelledby="search-label">
    </div>
  </form>
{% endblock %}