{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Public summary{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Barrier record" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Barrier name consisting of country and product at minimum
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}
<div class="c-progress">
  <ol class="c-progress-bar">
      <li class="c-progress__stage is-active">
        <span class="c-progress__stage-title">Assessment <br> (<a href="javascript:void(0);">3 tasks remaining</a>)</span>
      </li>
      <li class="c-progress__stage">
        <span class="c-progress__stage-title">Resolution / Close</span>
      </li>
  </ol>
</div>
{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--assess.html' with nav="public" %}
{% endblock %}

{% block content %}
  <h2 class="heading-medium">Public summary</h2>

{% endblock %}