{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Success - Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}Trade Barriers{% endblock %}
{% block local_header__meta %}{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-filters.html' %}
{% endblock %}

{% block content %}

  <div class="flash flash--info">
      <p>A success message will sit here</p>
  </div>

  <article class="c-collection">

      {% include 'backend/components/dashboard-table-header.html' with totalBarriers="309" new="1" screening="2" assessment="33" resolution="109" currentPage="1" totalPages="17" %}

      <ol class="c-entity-list">
        {% include 'backend/components/dashboard-result.html' with title="Company X vs Country 1" template="report-home" country1="Country 1" status="Reported" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Company Y vs Country 2" template="report-home" country1="Country 2" status="In screening" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary" country1="Multiple countries" status="In assessment" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary" country1="Multiple countries" status="In assessment" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary-resolution" country1="Multiple countries" status="In resolution" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary-resolution" country1="Multiple countries" status="In resolution" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary-resolution" country1="Multiple countries" status="In resolution" sector="Sector" barrier="Barrier" date="Date updated" %}
        {% include 'backend/components/dashboard-result.html' with title="Barrier name consisting of country and product at minimum" template="barrier-summary-resolution" country1="Multiple countries" status="In resolution" sector="Sector" barrier="Barrier" date="Date updated" %}
      </ol>

      {% include 'backend/components/pagination.html' with totalPages="17" currentPage="1" %}

  </article>

{% endblock %}
