{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}Trade Barriers{% endblock %}
{% block local_header__meta %}{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}

<form method="get" class="c-collection-filters js-AutoSubmit">
  <input name="sortby" value="modified_on:desc" type="hidden">
  <input name="custom" value="true" type="hidden">
  <header class="u-clearfix">
      <h2 class="c-collection-filters__heading">Filter results</h2>
  </header>
  <fieldset class="c-form-group c-form-group__checkbox-group c-form-group--smaller" id="headquarters-wrapper">
      <legend class="c-form-group__label">
        <span class="c-form-group__label-text">Record type</span>
      </legend>
      <label class="block-label selection-button-radio">
          <input name="field_sidebar_type" value="UK database" type="radio"> UK database
      </label>
      <label class="block-label selection-button-radio">
          <input name="field_sidebar_type" value="All" type="radio"> All (<abbr title="including">inc</abbr> <abbr title="World Trade Organisation">WTO</abbr> and <abbr title="European Territorial Cooperation">ETC</abbr>)
      </label>
  </fieldset>
  <div id="group-field-sidebar_input" class="c-form-group c-form-group--light c-form-group--smaller">
      <label class="c-form-group__label" for="field-sidebar-company">
          <span class="c-form-group__label-text">
          Company name
          </span>
          <span class="c-form-group__hint" id="hint-field-sidebar-company">At least three characters</span>
      </label>
      <div class="c-form-group__inner">
          <input name="field_sidebar_company" id="field-sidebar-company" value="" class="c-form-control c-form-control--light c-form-control--smaller" aria-describedby="hint-field-sidebar-company" type="text">
      </div>
  </div>
  <div id="group-field-sidebar_input" class="c-form-group c-form-group--light c-form-group--smaller">
      <label class="c-form-group__label" for="field-sidebar-product">
          <span class="c-form-group__label-text">
          Product or service
          </span>
          <span class="c-form-group__hint" id="hint-field-sidebar-product">At least three characters</span>
      </label>
      <div class="c-form-group__inner">
          <input name="field_sidebar_product" id="field-sidebar-product" value="" class="c-form-control c-form-control--light c-form-control--smaller" aria-describedby="hint-field-sidebar-product" type="text">
      </div>
  </div>
  <div id="group-field-sidebar_country" class="c-form-group c-form-group--light c-form-group--smaller">
      <label class="c-form-group__label" for="field-sidebar-country">
        <span class="c-form-group__label-text">
          Country
        </span>
      </label>
      <div class="c-form-group__inner">
          <select id="field-sidebar-country" name="sidebar_country" class="c-form-control c-form-control--light c-form-control--smaller">
            <option value=""></option>
            {% include 'components/countries.html' %}
          </select>
      </div>
  </div>
  <div id="group-field-sidebar_sector" class="c-form-group c-form-group--light c-form-group--smaller">
      <label class="c-form-group__label" for="field-sidebar-sector">
        <span class="c-form-group__label-text">
          Sector
        </span>
      </label>
      <div class="c-form-group__inner">
          <select id="field-sidebar-sector" name="sidebar_sector" class="c-form-control c-form-control--light c-form-control--smaller">
              <option value=""></option>
              <option value="1">Option 1</option>
          </select>
      </div>
  </div>
  <div id="group-field-sidebar_barrier" class="c-form-group c-form-group--light c-form-group--smaller">
      <label class="c-form-group__label" for="field-sidebar-barrier">
        <span class="c-form-group__label-text">
          Barrier type
        </span>
      </label>
      <div class="c-form-group__inner">
          <select id="field-sidebar-barrier" name="sidebar_barrier" class="c-form-control c-form-control--light c-form-control--smaller">
              <option value=""></option>
              <option value="1">Option 1</option>
          </select>
      </div>
  </div>
  <fieldset class="c-form-group c-form-group__checkbox-group c-form-group--light c-form-group--smaller" id="group-field-sidebar_checkboxes">
      <legend class="c-form-group__label">
        <span class="c-form-group__label-text">Status</span>
      </legend>
      <div class="c-multiple-choice">
        <input class="c-multiple-choice__input" name="sidebar_stage" value="Screening" id="field-sidebar-status-1" checked="checked" type="checkbox">
        <label class="c-multiple-choice__label" for="field-sidebar-status-1">
            <span class="c-multiple-choice__label-text">Screening</span>
        </label>
      </div>
      <div class="c-multiple-choice">
        <input class="c-multiple-choice__input" name="sidebar_stage" value="Assessment" id="field-sidebar-status-2" type="checkbox">
        <label class="c-multiple-choice__label" for="field-sidebar-status-2">
          <span class="c-multiple-choice__label-text">Assessment</span>
        </label>
      </div>
      <div class="c-multiple-choice">
        <input class="c-multiple-choice__input" name="sidebar_stage" value="Action" id="field-sidebar-status-3" type="checkbox">
        <label class="c-multiple-choice__label" for="field-sidebar-status-3">
          <span class="c-multiple-choice__label-text">Action</span>
        </label>
      </div>
      <div class="c-multiple-choice">
        <input class="c-multiple-choice__input" name="sidebar_stage" value="Rejected" id="field-sidebar-status-4" type="checkbox">
        <label class="c-multiple-choice__label" for="field-sidebar-status-4">
          <span class="c-multiple-choice__label-text">Rejected</span>
        </label>
      </div>
      <div class="c-multiple-choice">
        <input class="c-multiple-choice__input" name="sidebar_stage" value="Archived" id="field-sidebar-status-5" type="checkbox">
        <label class="c-multiple-choice__label" for="field-sidebar-status-5">
          <span class="c-multiple-choice__label-text">Archived</span>
        </label>
      </div>
  </fieldset>
  <div style="clear:both;">&nbsp;</div>
  <div class="c-form-actions u-js-hidden">
      <button class="button">Refresh results</button>
  </div>
</form>
{% endblock %}

{% block content %}

  <article class="c-collection">

        <header class="c-collection__header">
            <div class="c-collection__header-row">
              <div class="c-collection__header-intro">
                  <span class="c-collection__result-count">309</span> barriers
              </div>
              <div class="c-collection__header-actions">
                <a href="#" class="button-secondary">Add barrier</a>
              </div>
              <div class="c-collection__filter-summary">
                <a href="">2 barriers: evaluation</a> |
                <a href="">117 barriers: assessment</a> |
                <a href="">190 barriers: in action</a>
              </div>
            </div>

            <div class="c-collection__header-row">
                <span class="c-collection__pagination-summary">
                  Page 1 of 17
                </span>

                <form method="get" class="c-collection__sort-form js-AutoSubmit">
                    <input name="custom" value="true" type="hidden">

                    <div id="group-field-sortby" class="c-form-group c-form-group--light c-form-group--inline c-form-group--small">
                        <label class="c-form-group__label" for="field-sortby">
                            <span class="c-form-group__label-text">
                              Sort by
                            </span>
                        </label>

                        <div class="c-form-group__inner">
                            <select id="field-sortby" name="sortby" class="c-form-control c-form-control--light c-form-control--inline c-form-control--small">
                                <option value="created_on:desc">
                                    Newest
                                </option>
                                <option value="created_on:asc">
                                    Oldest
                                </option>
                                <option value="modified_on:desc" selected="">
                                    Recently updated
                                </option>
                                <option value="modified_on:asc">
                                    Least recently updated
                                </option>
                                <option value="first_name:asc">
                                    First name: A-Z
                                </option>
                                <option value="first_name:desc">
                                    First name: Z-A
                                </option>
                                <option value="last_name:asc">
                                    Last name: A-Z
                                </option>
                                <option value="last_name:desc">
                                    Last name: Z-A
                                </option>
                                <option value="address_country.name:asc">
                                    Country: A-Z
                                </option>
                                <option value="address_country.name:desc">
                                    Country: Z-A
                                </option>
                                <option value="company.name:asc">
                                    Company: A-Z
                                </option>
                                <option value="company.name:desc">
                                    Company: Z-A
                                </option>
                                <option value="company_sector.name:asc">
                                    Sector: A-Z
                                </option>
                                <option value="company_sector.name:desc">
                                    Sector: Z-A
                                </option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </header>

        <ol class="c-entity-list">
          {% for i in "1234567890" %}
            <li class="c-entity-list__item">
                <div class="c-entity c-entity--contact">
                    <div class="c-entity__header">
                        <h3 class="c-entity__title">
                            <a href="{% url 'report-home' %}">Company X v Country 1</a>
                        </h3>
                        <div class="c-entity__badges">
                            <div class="c-meta-list ">
                                <div class="c-meta-list__item">
                                    <span class="c-meta-list__item-label u-visually-hidden">
                                      Country
                                    </span>
                                    <span class="c-badge">Country 1</span>
                                </div>
                                <div class="c-meta-list__item">
                                    <span class="c-meta-list__item-label u-visually-hidden">
                                      Country
                                    </span>
                                    <span class="c-badge">Country 2</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="c-entity__content">
                        <div class="c-meta-list  c-meta-list--split c-meta-list--inline">
                            <div class="c-meta-list__item">
                                <span class="c-meta-list__item-label  u-visually-hidden">
                                  Sector
                                </span>
                                <span class="c-meta-list__item-value">Sector here</span>
                            </div>

                            <div class="c-meta-list__item">
                                <span class="c-meta-list__item-value">Status:
                                {% if i == '1' or i == '6' %}
                                  <span style="color:red;">Evaluation</span>
                                {% elif i == '2' or i == '4' %}
                                  <span style="color:orange;">Assessment</span>
                                {% else %}
                                  <span style="color:green;">Action</span>
                                {% endif %}

                            </div>
                            <div class="c-meta-list__item">
                                <span class="c-meta-list__item-label  u-visually-hidden">
                                  Barrier
                                </span>
                                <span class="c-meta-list__item-value">Barrier here</span>
                            </div>
                            <div class="c-meta-list__item">
                                <span class="c-meta-list__item-label  u-visually-hidden">
                                  Updated
                                </span>
                                <span class="c-meta-list__item-value">Date updated</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
          {% endfor %}
        </ol>

        <nav class="c-pagination " aria-label="pagination: total 436 pages">
            <ul class="c-pagination__list">
                <li class="c-pagination__list-item">
                  <a href="?page=1&amp;sortby=modified_on%3Adesc" class="c-pagination__label is-current">
                    1
                  </a>
                </li>
                <li class="c-pagination__list-item">
                  <a href="?page=2&amp;sortby=modified_on%3Adesc" class="c-pagination__label ">
                    2
                  </a>
                </li>
                <li class="c-pagination__list-item">
                  <a href="?page=3&amp;sortby=modified_on%3Adesc" class="c-pagination__label ">
                    3
                  </a>
                </li>
                <li class="c-pagination__list-item">
                  <a href="?page=4&amp;sortby=modified_on%3Adesc" class="c-pagination__label ">
                    4
                  </a>
                </li>
                <li class="c-pagination__list-item">
                   <span class="c-pagination__label c-pagination__label--truncation">
                    &hellip;
                  </span>
                </li>
                <li class="c-pagination__list-item">
                  <a href="?page=436&amp;sortby=modified_on%3Adesc" class="c-pagination__label ">
                    17
                  </a>
                </li>
            </ul>
            <a href="?page=2&amp;sortby=modified_on%3Adesc" class="c-pagination__label c-pagination__label--next">Next</a>
        </nav>

    </article>


{% endblock %}