{% load static from staticfiles %}
{% load trans from i18n %}
{% load external_url from constants_tags %}<!DOCTYPE html>
<!--[if lt IE 9]><html class="lte-ie8" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>
        {% block head_title %}
        Data Hub - Trade barriers
        {% endblock %}
    </title>

    <link href="{% static 'govuk-0.18.0/assets/stylesheets/datahub-alpha.css' %}" media="all" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="{% static 'govuk-0.18.0/assets/images/opengraph-image.png' %}">

    <!--[if lte IE 8]><link href="{% static 'govuk-0.18.0/assets/stylesheets/application-ie8.css' %}" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if gt IE 8]><!-->
    <link href="{% static 'dit-datahub-alpha.css' %}" media="screen" rel="stylesheet" type="text/css" />
    <!--<![endif]-->

    {% block css %}

    {% endblock %}

</head>

<body class=" ">
    <script>
        document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
    </script>

    <div class="skip-links">
      <div class="skip-links__inner">
        <a href="#main-content" class="skip-links__link">Skip to main content</a>
      </div>
    </div>


    <div class="notification-banner u-js-hidden u-print-hide" id="global-cookies-banner" role="alert">
      <p class="notification-banner__inner">
        GOV.UK uses cookies to make the site simpler.
        <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a>
      </p>
    </div>

    <div id="xhr-outlet">

    <header class="global-header" aria-label="global header">
          <div class="global-header__inner">

              <div class="global-header__site-title">
                <a href="/" class="global-header__link">
                  <span class="global-header__crest"></span>
                  <span class="global-header__logo">
                    <span class="global-header__site-name">Department for International Trade</span>

                      <span class="global-header__service-name">Data Hub</span>

                  </span>
                </a>

                  <span class="phase-badge">ALPHA</span>

              </div>


            <nav aria-label="global nav">
              <ul class="proposition-menu">

                  <li class="proposition-menu__item">
                    <a href="/support" class="proposition-menu__link  qa-support">Support</a>
                  </li>


                  <li class="proposition-menu__item">
                    <a href="/profile" class="proposition-menu__link ">Test CMU 1</a>
                  </li>

                <li class="proposition-menu__item">

                    <a href="/sign-out" class="proposition-menu__link qa-sign-out">Sign out</a>

                </li>
              </ul>
            </nav>

          </div>
        </header>

    <main id="main-content" role="main" class="main-content">
        <nav class="c-global-nav" aria-label="global navigation">
          <div class="c-global-nav__container l-container">
              <a class="c-global-nav__link " href="/companies">Companies</a>
              <a class="c-global-nav__link " href="/contacts">Contacts</a>
              <a class="c-global-nav__link " href="/interactions">Interactions</a>
              <a class="c-global-nav__link" href="/investment-projects">Investment projects</a>
              <a class="c-global-nav__link " href="/omis">OMIS orders</a>
              <a class="c-global-nav__link is-active" href="/omis">Trade barriers</a>
          </div>
        </nav>
        <header class="c-local-header  c-local-header--light-banner" aria-label="local header">
          <div class="l-container">

            <nav class="c-breadcrumb" aria-label="Breadcrumbs">
              <ul class="c-breadcrumb__list" itemscope="" itemtype="http://schema.org/BreadcrumbList">

                  <li class="c-breadcrumb__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <a href="/" class="c-breadcrumb__link" itemprop="url">
                        <span itemprop="name">Home</span>
                      </a>
                  </li>
                  <li class="c-breadcrumb__list-item" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                      <a href="{% url 'dashboard' %}" class="c-breadcrumb__link" itemprop="url">
                        <span itemprop="name">Trade barriers</span>
                      </a>
                  </li>
                  {% block breadcrumb %}

                  {% endblock %}
              </ul>
            </nav>

            {% block local_header__title_before %}
            <div class="c-local-header__heading-before">
              <a href="javascript:void(0);">Sony Ericsson Mobile Communications (Global HQ)</a>
            </div>
            {% endblock %}

            <h1 class="c-local-header__heading">
              {% block local_header__title %}Trade barriers{% endblock %}
            </h1>

            {% block local_header__meta %}
            <div class="c-meta-list">
              <div class="c-meta-list__item c-meta-list__item--stacked">
                  <span class="c-meta-list__item-label ">
                    Project code
                  </span>
                  <span class="c-meta-list__item-value">DHP-00000002</span>
              </div>
              <div class="c-meta-list__item c-meta-list__item--stacked">
                  <span class="c-meta-list__item-label ">
                    Valuation
                  </span>
                  <span class="c-meta-list__item-value">Not yet valued</span>
              </div>
            </div>

            {% endblock %}

            {% block local_header__progress %}
            <div class="c-progress">
              <ol class="c-progress-bar">
                  <li class="c-progress__stage is-active">
                    <span class="c-progress__stage-title">Prospect</span>
                  </li>
                  <li class="c-progress__stage">
                    <span class="c-progress__stage-title">Assign PM</span>
                  </li>
                  <li class="c-progress__stage">
                    <span class="c-progress__stage-title">Active</span>
                  </li>
                  <li class="c-progress__stage">
                    <span class="c-progress__stage-title">Verify win</span>
                  </li>
                  <li class="c-progress__stage">
                    <span class="c-progress__stage-title">Won</span>
                  </li>
              </ol>
            </div>
            {% endblock %}
          </div>
        </header>
        <div class="main-content__inner l-container">

          <div class="grid-row">
            <div class="column-one-quarter">
              {% block sidebar %}

              {% endblock %}
            </div>
            <div class="column-three-quarters">
              {% block content %}

              {% endblock %}
            </div>

          </div>
        </div>
    </main>

    <!--<footer class="group js-footer" id="footer" role="contentinfo">

        <div class="footer-wrapper l-container">

            <div class="footer-meta">
                <div class="footer-meta-inner">

                    <div class="open-government-licence">
                        <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a>
                        </p>

                        <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

                    </div>
                </div>

                <div class="copyright">
                    <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">&copy; {% trans 'Crown copyright' %}</a>
                </div>
            </div>
        </div>
    </footer>-->

    </div>

    <div id="global-app-error" class="app-error hidden"></div>

    <script src="{% static 'govuk-0.18.0/assets/javascripts/trade-elements-components.js' %}"></script>
    <script src="{% static 'govuk-0.18.0/assets/javascripts/datahub-app.js' %}"></script>
    <script src="{% static 'dit-datahub-alpha.js' %}"></script>

    {% block bodyScripts %}{% endblock bodyScripts %}

</body>

</html>