{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Invite lead facilitator{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Make-up blocked by South Korean customs officials" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Make-up blocked by South Korean customs officials
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Fashion, Burdensome customs procedure, South Korea, 1st Nov 2017
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
  <h1 class="heading-large">Time passes and the invitee accepts</h1>
  <p class="heading-large"><a href="{% url 'report-home-ready-to-proceed' %}">proceed</a></p>
{% endblock %}