{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Barrier name consisting of country and product at minimum" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Barrier name consisting of country and product at minimum
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}

{% endblock %}

{% block content %}
  <h1 class="heading-large">Time passes and the invitee accepts</h1>
  <p class="heading-large"><a href="{% url 'report-home-ready-to-proceed' %}">proceed</a></p>
{% endblock %}