{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Company X v Country 1" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Company X v Country 1
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav.html' with nav="home" %}
{% endblock %}

{% block content %}

  <h2 class="heading-medium">Barrier type</h2>
  <p>Confirm or change the barrier type for <a href="">the problem reported</a></p>

    <table class="table--key-value table--striped">
        <tbody>

            <tr>
                <th>Reported type(s)</th>
                <td>Easy-read barrier type 1</td>
            </tr>
            <tr>
                <th></th>
                <td>Easy-read barrier type 2</td>
            </tr>
        </tbody>
    </table>

    <form method="get" action="{% url 'report-home-make-a-decision' %}">
      <div id="group-field-barrier-type" class="c-form-group c-form-group--inline">
        <label class="c-form-group__label" for="field-barrier-type">
          <span class="c-form-group__label-text">
            Select barrier type
          </span>
        </label>
          <select id="field-barrier-type" name="barrier_type" class="c-form-control">
              <option value="">List of HMG barrier types</option>
              <option value="1">Option 1</option>
          </select>
        <div>
          <a href="#" target="_blank">Learn more about the HMG barrier types</a> (opens in new window)
        </div>
      </div>
      <div class="c-form-actions">
        <button class="button ">Save</button>
        <a href="{% url 'report-home' %}">Back</a>
      </div>
    </form>

{% endblock %}