{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Screening - Make a decision{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Fashion UK Ltd vs South Korea" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Fashion UK Ltd vs South Korea
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Fashion, Burdensome customs procedure, South Korea, 1st Nov 2017
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" %}
{% endblock %}

{% block content %}

  <article>

    <h2 class="heading-medium">Screening</h2>
    <div class="flash flash--info">
        <p>Decide whether or not this barrier report should go to assessment and response</p>
    </div>

    <p>
        <a class="button" href="{% url 'report-barrier-make-a-decision' %}">Make a screening decision</a>
    </p>

    {% include 'backend/components/report-details.html' %}

</article>

{% endblock %}