{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Screening - Make a decision{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Fashion UK Ltd vs South Korea" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Fashion UK Ltd vs South Korea
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Fashion, Burdensome customs procedure, South Korea, 1st Nov 2017
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" %}
{% endblock %}

{% block content %}
  <h2 class="heading-medium">Screening</h2>
  <form method="get" action="{% url 'report-home-decision-made' %}">

    <fieldset class="form-group form-group__checkbox-group" id="decision-wrapper">
      <legend class="c-form-group__label">
        <span class="c-form-group__label-text">
          What's next?
        </span>
      </legend>
      <label class="block-label selection-button-radio">
        <input name="decision" value="Approve for assessment" type="radio"> Approve for assessment and response
      </label>
      <label class="block-label selection-button-radio">
        <input name="decision" value="Ask for more information from the person who reported the barrier" type="radio"> Ask for more information from the person who reported the barrier
      </label>
      <label class="block-label selection-button-radio">
        <input name="decision" value="Reject and inform the reporter" type="radio"> Reject and inform the reporter
      </label>
    </fieldset>

    <div class="c-form-actions">
      <button class="button" type="submit">Save and continue</button>
      <a href="{% url 'report-home' %}">Back</a>
    </div>
  </form>

{% endblock %}