{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Screening - Ready to proceed{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Make-up blocked by South Korean customs officials" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Make-up blocked by South Korean customs officials
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Fashion, Burdensome customs procedures, South Korea, 1st Nov 2017
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" extraNav="true" %}
{% endblock %}

{% block content %}

  <article>

    <h2 class="heading-medium">Screening</h2>

    <div class="flash flash--info">
        <span style="float: right;"><img src="{% static 'images/tick.svg' %}" alt="" height="61" width="61"></span>
        <p><strong>The invitation has been sent to James Smith</strong><br>
          You will be notified of their response to the invitation
        </p>
        <p><strong>All report sections required to proceed are complete</strong><br>
          Review this report further or ‘Go to assessment and response’:</p>
    </div>

    <p>
        <a href="javascript:void(0);" class="button">Go to assessment and response</a>
    </p>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Decision</th>
                <td>Go to assessment and response</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="button-secondary" href="{% url 'report-barrier-type' %}">Change</a>
    </p>

    {% include 'backend/components/report-details.html' %}

</article>

{% endblock %}