{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% load mptt_tags %}
{% block css %}
{% endblock %}
{% block head_title %}Barrier type{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Company X v Country 1" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Company X v Country 1
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" %}
{% endblock %}

{% block content %}

  <h2 class="heading-medium">Barrier type</h2>
  <p>Confirm or change the barrier type for <a href="{% url 'report-home' %}">the problem reported</a></p>

  <table class="table--key-value table--striped">
      <tbody>
          <tr>
              <th>Reported type(s)</th>
              <td>Unfair use of state help of subsidies</td>
          </tr>
          <tr>
              <td></td>
              <td>Unreasonable import quotas</td>
          </tr>
      </tbody>
  </table>

  <p>
    <a href="javascript:void(0);" target="_blank">Learn more about the HMG barrier types</a> (opens in new window)
  </p>

  <form method="get" action="{% url 'report-home-make-a-decision' %}">
    <div id="group-field-barrier-type" class="c-form-group">
      <label class="c-form-group__label" for="id_barrier_type">
        <span class="c-form-group__label-text">
          Select barrier type
        </span>
      </label>
      {{ form.barrier_type }}
    </div>
    <div id="group-field-sub-barrier-type" class="c-form-group u-hidden" aria-hidden="true">
      <label class="c-form-group__label" for="field-sub-barrier-type">
        <span class="c-form-group__label-text">
          Select sub-barrier type
        </span>
      </label>
      <select name="sub_barrier_type" id="field-sub-barrier-type" class="c-form-control"></select>
    </div>
    <div class="c-form-actions">
      <button class="button" type="submit">Save</button>
      <a href="{% url 'report-home' %}">Back</a>
    </div>
  </form>

{% endblock %}
