{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Screening - Decision made{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Fashion UK Ltd vs South Korea" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Fashion UK Ltd vs South Korea
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Fashion, Burdensome customs procedure, South Korea, 1st Nov 2017
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" extraNav="true" %}
{% endblock %}

{% block content %}

  <article>

    <h2 class="heading-medium">Screening</h2>

    <div class="flash flash--info">
        <p>Complete the following tasks to go to assessment and response</p>
        <p><a href="{% url 'report-create-barrier' %}">Link to a record</a></p>
        <p><a href="{% url 'report-assign-lead' %}">Invite a lead facilitator</a></p>
    </div>

    <p>
        <div class="button disabled">Go to assessment and response</div>
    </p>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Decision</th>
                <td>Go to assessment and response</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="button-secondary" href="{% url 'report-barrier-type' %}">Change</a>
    </p>

    {% include 'backend/components/report-details.html' %}

</article>

{% endblock %}