{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Barrier name consisting of country and product at minimum" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Barrier name consisting of country and product at minimum
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Unreasonable import quotas, China, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="barrier" extraNav="true" %}
{% endblock %}

{% block content %}
<h2 class="heading-medium">Create new instance of existing barrier record</h2>
<p>Read the summary of the existing barrier record. If it closely matches the
report in hand, create a new instance.</p>

<form action="{% url 'report-home-barrier-created' %}" method="get">

  {# Barrier record name #}
  <div class="form-group " id="barrier-record-name-wrapper">
      <div class="form-label-bold">
        Barrier record name
      </div>
      <div>
        Barrier name consisting of country and product at minimum
      </div>
  </div>

  {# Summary (textarea) #}
  <div class="form-group" id="summary-wrapper">
      <div class="form-label-bold">
          Summary
      </div>
      <div>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
enim ad minim veniam, quis nostrud exercitation ullamco laboris
nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
in reprehenderit in voluptate velit esse cillum dolore eu fugiat
nulla pariatur. Excepteur sint occaecat cupidatat non proident,
sunt in culpa qui officia deserunt mollit anim id est laborum
      </div>
  </div>

  <div class="c-form-actions">
    <button class="button" type="submit">Save</button>
    <a href="{% url 'report-create-barrier-filtered' %}">Back</a>
  </div>

</form>
{% endblock %}