{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Create a new barrier record{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Company X v Country 1" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Company X v Country 1
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="barrier" extraNav="true" %}
{% endblock %}

{% block content %}
<h2 class="heading-medium">Create a new barrier record</h2>

<form action="{% url 'report-home-barrier-created' %}" method="get">

  {# Barrier record name #}
  <div class="form-group " id="barrier-record-name-wrapper">
      <label class="form-label-bold" for="barrier-record-name">
        Barrier record name
      </label>
      <span class="form-hint">
        Include both the product or service name and the country being
exported to eg. Import of steel rods into India
      </span>
      <input id="barrier-record-name" class="form-control" name="barrier_record_name" value="" type="text">
  </div>

  {# Summary (textarea) #}
  <div class="form-group " id="summary-wrapper">
      <label class="form-label-bold" for="summary">
          Summary
      </label>
      <span class="form-hint">
        Provide a brief summary of the report. It is for government use only.
      </span>
      <textarea id="summary" class="form-control" name="summary" cols="10" rows="5" data-maxwords="100"></textarea>
      <span class="form-hint" id="summary-count">
        100 words max.
      </span>
  </div>
  <script>
    // Feedback to user how many characters they have left in their textarea
    // NOTE: This JS has been inlined because it's a prototype and only used once
    (function(){

      /**
       * {var} object
       * DOM element
       */
      var summary = document.getElementById('summary');
      var summaryCount = document.getElementById('summary-count');

      summaryCount.setAttribute('aria-live', 'polite');
      summaryCount.setAttribute('aria-busy', 'false');

      /**
       * update the count message
       * @param {object} textarea the DOM object we are testing
       *
       * @return {void}
       */
      function updateCount(textarea, event){
        var words = textarea.value.trim().split(' ');
        var length = words.length;
        var maxLength = parseInt(textarea.getAttribute('data-maxwords'), 10);
        var whatsLeft = (maxLength - length);
        var SPACE = 32;
        var ENTER = 13;

        // Make sure we don't say N-1 words left when the user hasn't typed anything yet
        if(textarea.value.trim().length === 0){
          whatsLeft = maxLength;
        }

        summaryCount.setAttribute('aria-busy', 'true');
        if(whatsLeft === 1){
          summaryCount.innerHTML = whatsLeft + ' word left';
        } else{
          summaryCount.innerHTML = whatsLeft + ' words left';
        }
        summaryCount.setAttribute('aria-busy', 'false');

        // Don't let the user type any more words once they have reached the limit
        // NOTE: this may still allow a user to copy and paste into the space and/or
        // cause user confusion if they do/try to copy and paste
        if(0 > whatsLeft || (1 > whatsLeft && event !== null && (event.keyCode == SPACE || event.keyCode == ENTER))){
          words = words.slice(0, maxLength);
          textarea.value = words.join(' ').trim();

          // Ensure the count is correct again
          updateCount(textarea, null);
        } else{
          summaryCount.removeAttribute('role');
        }

      }

      if(document.addEventListener){

        // Run everytime the user types _ no delay here we *don't* need to throttle/debounce
        summary.addEventListener('keyup', function(event){
          updateCount(event.target, event);
        });

        // Run onload, when data may be pre-populated
        window.addEventListener('load', function(){
          updateCount(summary, null);
        });

      }
    })();
  </script>

  <div class="c-form-actions">
    <button class="button" type="submit">Save</button>
    <a href="{% url 'report-create-barrier' %}">Back</a>
  </div>

</form>
{% endblock %}