{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Report summary{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Fashion UK Ltd vs South Korea" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Fashion UK Ltd vs South Korea
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav--screening.html' with nav="home" %}
{% endblock %}

{% block content %}

  <article>

    <h2 class="heading-medium">Screening</h2>

    <div class="flash flash--info">
      <p>Decide whether or not this barrier should move to assessment</p>
      <p><a href="{% url 'report-barrier-type' %}">Confirm/change the HMG barrier type </a> before you make your decision</p>
    </div>

    <p>
        <div class="button disabled">Make a screening decision</div>
    </p>

    {% include 'backend/components/report-details.html' %}

</article>

{% endblock %}