{% extends './datahub_layout.html' %}
{% load staticfiles %}
{% load trans from i18n %}
{% block css %}
{% endblock %}
{% block head_title %}Data Hub - Trade Barriers{% endblock %}
{% block breadcrumb %}{% include 'backend/components/breadcrumb.html' with title="Company X v Country 1" %}{% endblock %}
{% block local_header__title_before %}{% endblock %}
{% block local_header__title %}
  Company X v Country 1
{% endblock %}
{% block local_header__meta %}
<div class="c-meta-list">
  Sector, Her Majesty’s Government barrier type, Country, Date added
</div>
{% endblock %}
{% block local_header__progress %}{% endblock %}

{% block sidebar %}
  {% include 'backend/components/sidebar-nav.html' with nav="home" extraNav="true" %}
{% endblock %}

{% block content %}

  <article>

    <h2 class="heading-medium">Screening</h2>
    <p>Complete the following tasks to go to assessment</p>

    <div class="flash flash--info">
        <p><a href="{% url 'report-create-barrier' %}">Assign a report</a></p>
        <p><a href="{% url 'report-assign-lead' %}">Invite a lead facilitator</a></p>
    </div>

    <p>
        <div class="button disabled">Go to assessment</div>
    </p>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Decision</th>
                <td>Go to assessment</td>
            </tr>
        </tbody>
    </table>

    <p>
        <a class="button-secondary" href="{% url 'report-barrier-type' %}">Change</a>
    </p>

    <h2 class="heading-medium">About the reporter</h2>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Company</th>
                <td><a href="javascript:void;">Company X</a></td>
            </tr>
            <tr>
                <th>Contact</th>
                <td><a href="javascript:void;">Person A</a></td>
            </tr>
            <tr>
                <th>Type</th>
                <td>Trade Association</td>
            </tr>
        </tbody>
    </table>

    <h2 class="heading-medium">About the problem</h2>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Product / service</th>
                <td><a href="javascript:void;">Product A</a></td>
            </tr>
            <tr>
                <th>Commodity code</th>
                <td><a href="javascript:void;">01110111</a></td>
            </tr>
            <tr>
                <th>Country</th>
                <td>Country 1</td>
            </tr>
            <tr>
                <th>Brief description</th>
                <td>We have run into a few problems exporting our…</td>
            </tr>
        </tbody>
    </table>

    <div>
      <a href="" class="button-secondary">Review / comment</a>
    </div>

    <h2 class="heading-medium">Barrier type</h2>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Reported type</th>
                <td>Easy-read barrier type 1</td>
            </tr>
        </tbody>
    </table>

    <div>
      <a href="{% url 'report-barrier-type' %}" class="button">Edit HMG barrier type</a>
    </div>

    <h2 class="heading-medium">Requested action</h2>

    <table class="table--key-value table--striped">
        <tbody>
            <tr>
                <th>Supported request</th>
                <td>Local engagement only</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>Perhaps following consultation</td>
            </tr>
        </tbody>
    </table>

    <div>
      <a href="" class="button-secondary">Review / comment</a>
    </div>

</article>

{% endblock %}