{% if existing and existing != 'false' %}
  <div class="dit-form-existing-message">
    <h3 class="dit-form-existing-message__title"><strong>You have said you are being affected by this barrier</strong></h3>
    <p><a href="{% url 'barrier-detail-static' %}" target="_blank">Burdensome customs procedures</a> (opens in new window)</p>
    <p>We have pre-populated some of this form's sections with details from this barrier. You can either keep these details or replace them.</p>
  </div>
{% endif %}