
<div class="js-saved-success" aria-hidden="true" style="display: none;" tabindex="0">
  {% comment %}
  <p class="h3">Thank you</p>
  <p>Your details have been saved.</p>
  {% endcomment %}

  <div class="panel panel--border-top-none">
  <h2 class="h3">Save your report to your Trade Profile</h1>
  <p>Save this report to your Trade Profile so you can return at a later time to complete &amp; submit it</p>
  <div class="dit-create-parent">
    <a href="#" class="button button-blue push--right flush--bottom ">Create a Trade Profile</a>
  </div>
  <a href="#" class="button button-blue push--left flush--bottom ">Log in to your Trade Profile</a>
  <p style="clear:both;"><br><a href="javascript:void;">Find out more about Trade Profiles here</a></p>
</div>

  <p>Alternatively, <button type="button" class="js-close-saved-success dit-button-link">click here to continue your report</button></p>
</div>

<div class="error-summary hidden" aria-hidden="true" tabindex="-1" aria-labelledby="error-summary-heading" role="alert">
  <p class="h3 error-summary-heading" id="error-summary-heading">Error</p>
  <p>Correct your errors below to proceed</p>
  <ul class="error-summary-list"></ul>
</div>