<div class="dit-reporting-cta">
  <p class="h3 dit-reporting-cta__title">By reporting a trade barrier you can also help us to understand the issues businesses are facing and to concentrate our resources where they are.</p>
  <p class="h3"><a href="{% url 'report-barrier-step1' %}">Report a trade barrier</a></p>
  <p>Tell us what you want to export and where, and we’ll tell you if we know of any potential problems.</p>

  <p class="h3"><a href="{% url 'report-barrier-form' %}">Check trade barriers in your target market</a></p>
  <p>There are a lot of different ways to tackle a trade barrier. Tell us about your problem and how you think we can help.</p>
</div>