          <div class="dit-buttons">
            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="button button-transparent-blue button-border" type="submit" value="{{ wizard.steps.prev }}">Back</button>
            {% endif %}
            {% if wizard.steps.next %}
            <button name="wizard_goto_step" class="button button-blue" type="submit" value="{{ wizard.steps.next }}">Next</button>
            {% endif %}
            <button class="button button-transparent-blue button-border float--right js-save-button" type="submit">Save Progress</button>
          </div>
